[2013-10-28 07:06] fxprunayre opened #1 "Mode multisites"
## Références :
- branche d'origine dev Akka (git@github.com:geosource-catalogue/core-geonetwork.git see feature/multisite-with-demo-config)
- branche merge GN develop (git@github.com:fxprunayre/core-geonetwork.git see feature/multinodes)
## Travaux

Suite au merge de la console d'administration et de JPA, mettre en oeuvre le mode multisite
- Développement  https://github.com/jesseeichar/core-geon

[2013-10-28 07:07] fxprunayre opened #2 "Formulaire d'édition"
Référence :
- liste des champs (CDC)
- Proposal GeoNetwork (https://github.com/geonetwork/core-geonetwork/wiki/Refactoring-editor)
- Capture d'écran https://drive.google.com/?tab=mo&authuser=0#folders/0BwyvNKYgG4ZWdFdIUlVlQXU1V0k

Réalisation :

Fait:
- Formulaire de saisie - refactoring
  - Configuration (https://github.com/geonetwork/core-geonetwork/blob/refactor_editorui/web/src/main/webapp/WEB

[2013-10-28 07:08] fxprunayre opened #3 "Id de ressource unique / Accès aux métadonnées par identifiant de la resource"
Permettre l'accès à une fiche en consultation par l'identifiant de la ressource unique

[2013-10-28 07:10] fxprunayre opened #4 "Privilèges / Ajouter les fonctions publier/dépublier"

[2013-10-28 07:11] fxprunayre opened #5 "Id de ressource unique / Ajouter suggestion pour le calcul"
Sur le principe des suggestions, un mécanisme de création de l’identifiant de ressource
unique dans l’élément identificationInfo/*/citation/MD_Identifier/identifier est mis en place
sous la forme d’un processus XSL. La régle de création de l’identifiant est la suivante :

[code]

Créer une page de consultation pour la fiche uniquement (pas d'appli de recherche en fond).

Autres accès existant :
-

[2013-10-28 07:11] fxprunayre opened #6 "Administration / Mise à jour du site propose de mettre à jour les fiches"
Lors de la modification de l’adresse du catalogue dans la configuration du système, il est
proposé à l’administrateur de mettre à jour les informations des fiches liées à cette
adresse. C’est le cas :
- de l’identifiant de la ressource
- des URL des fichiers uploadés
- des imagettes
- des XLinks

Un processus s’occupe de mettre à jour l’ensemble de ces URL pour les fiches (modèles et métadonnées)

[2013-10-28 07:12] fxprunayre opened #7 "Id de ressource unique / calcul / relation MDD & MDS"
Règles de création dans la MDS:

[code]

Si n identifiants de la ressource, utiliser le premier qui ne commence pas par l'host

Examples:
- mapbender:
  http://lists.osgeo.org/pipermail/mapbender_commits/2012-January/008097.html

[code]
- INSPIRE IR :

[code]
- ArcGIS portal http://resources.arcgis.com/en/help/arcgis-for-inspire/10.1/index.html#//014m000000nm000000

[2013-10-28 07:12] fxprunayre opened #8 "Id de ressource unique / création de fiche INSPIRE"
A la création à partir du modèle de données INSPIRE, l’identifiant est
automatiquement créé à partir du nouvel identifiant de la fiche (ne s’applique pas
lors du moissonnage ou d’une insertion via CSW-T)

Comment définir un modèle INSPIRE ?
- dataset (pas les services, pas les cartes)

Le mécanisme est ajouté à UFO (update-fixed-info.xsl).

[2013-10-28 07:13] fxprunayre opened #9 "Id de ressource unique / import de fiche"
A l’import, une option est ajoutée pour créer l’identifiant ou pas

[2013-10-28 07:13] fxprunayre opened #10 "Id de ressource unique / Maintien de l'intégrité"
Lors de la génération d’un identifiant, les fiches de service associées sont également
mise à jour (si l’utilisateur à les droits d’édition sur les fiches correspondantes).

Processus de mise à jour des MDS à partir des MDD dans les operatesOn.

[2013-10-28 07:13] fxprunayre opened #11 "Id de ressource unique / Batch"
Un mécanisme de génération en batch réalise :
- pour les métadonnées de données : génération de l’identifiant
- pour les métadonnées de service : mise à jour des relations

2 phases :
- MDD > Génération des identifiants
- MDS > Recherche et ajout des srv:operatesOn via l'UUID de la fiche

[2013-10-28 07:13] fxprunayre opened #12 "Gestion des relations / Navigation bidirectionnelle pour les agrégats"
La saisie des relations de type agrégats est possible cependant la navigation n’est
actuellement disponible que dans un sens. La navigation est modifiée pour être disponible depuis la fiche source ou cible

[2013-10-28 10:16] fxprunayre opened #13 "Merge GeoNetwork"
- merge (installer, désactiver la carte, traduction)
- iso19139.fra conservé
- script SQL de migration depuis 2.9.1

[2013-10-30 09:56] fxprunayre opened #14 "CARMEN & SIGES / Validation des services utilisés"
Lister les URLs utilisées.

Carmen :

[code]

SIGES :

[code]

[2013-11-28 08:58] fxprunayre commented on #4
See https://github.com/geonetwork/core-geonetwork/commit/1d65d57623b915e800262fc11252eb8b5010c5a1

[2013-11-28 08:58] fxprunayre commented on #5
See https://github.com/geonetwork/core-geonetwork/commit/1dcaaa9f4192d45c0e597bc1f29b53a8a32841e9

[2013-12-09 16:40] taffoureau opened #15 "Longueur de champ pour les identifiants"
Mettre tous les champs où sont stockés des identifiants (fileIdentifier ou MD_Identifier) en type text. Par exemple, le champ uuid dans la table metadata.

Car certains fichiers peuvent avoir des identifiants "à rallonge".

[2013-12-13 16:49] fxprunayre commented on #15
C'est déjà un champ texte.

Ca veut dire 10, 100, 1000 ? Tu as eu des erreurs ?

[2013-12-16 09:29] fxprunayre commented on #15
Certains utilisateurs considèrent que ce type d'identifiant doit être supporté !:

[code]

[2013-12-16 13:18] taffoureau opened #16 "Intégration contenu de l'onglet "Contraintes" dans "Infos Métadonnées""
dans les vues avancées...

[2013-12-16 13:30] taffoureau opened #17 "Mettre en cohérence les traductions des topicCategory avec celles d'INSPIRE"

[2013-12-16 13:39] taffoureau opened #18 "Modification des schematrons pour INSPIRE"
A corriger : cas des éléments multiples

exemple . si l'email est manquant dans au moins une section pointOfcontact une erreur remonte, même si le 1er contient un email (dans ce cas c'est conforme).

[2013-12-16 14:50] fxprunayre commented on #16
Plutôt contre car dans certains cas, l'onglet métadonnée peut contenir bcp d'information

Je propose plutôt la possibilité d'avoir un 2nd niveau d'onglets (groupés dans un bouton) moins visible (configurable au niveau de la config des vues de l'éditeur) :
![menu](https://drive.google.com/uc?export=download&id=0BwyvNKYgG4ZWTHNwd3N3MWpSdkk)

[2013-12-20 07:29] fxprunayre commented on #12
https://github.com/geonetwork/core-geonetwork/issues/335

[2014-01-20 11:11] taffoureau opened #19 "Liens xlinks erronés"
Dans le cas de l'utilisation de thésaurus de type "place", les xlinks générés sont de cette forme et ne peuvent pas être résolus :

http://geosourcetest.brgm-rec.fr:80/geosource/srv/fre/xml.keyword.get?thesaurus=external.place.CommunesFR&amp;amp;id=http://geonetwork-opensource.org/adminstrativeAreaFr%23COM_73065&amp;amp;multiple=false

par ailleurs, les informations retournées ne sont pas sous la

[2014-01-21 11:11] taffoureau opened #20 "Saisie des emprises - sélection par région"
Impossible d'accéder aux régions dans la liste déroulante pour la sélection des emprises géo.

Testé sous Firefox et Chrome.

[2014-01-21 12:45] taffoureau opened #21 "[2.9.2] Page d'admin geonetwork"
La page d'administration est celle de Geonetwork.

[2014-01-21 12:52] delobelle opened #22 "Lien "Gestion de moissonnage" depuis le menu principal"
Sous Firefox le lien :
http://geosourcetest.brgm-rec.fr/geonetwork/srv/fre/service-not-allowed?referer=/geosource/srv/fre/harvesting

amène à une page blanche

Sous IE8 a un message d'erreur Page Web introuvable

[2014-01-21 12:57] taffoureau opened #23 "[2.9.2] Présence répertoire "test" dans le war"
Il y a un répertoire "test" dans le répertoire "geosource"

[2014-01-21 13:14] taffoureau opened #24 "[2.9.2] Accents non supportés dans l'autosuggestion"
Dans la recherche "full text", lorsqu'on saisit un mot-clé avec accent 'par exemple "géologie", rien n'est remonté en suggestion. Alors que "geologie" fonctionne.

Dans la liste des mots-clés dans la suggestion les accents n'apparaissent pas.

[2014-01-21 13:18] delobelle opened #25 "Correspondance thème INSPIRE/ISO ne fonctionne pas"
La saisie de "Occupation des terres " en mot clé INSPIRE n'engendre pas la mise à jour des catégories ISO dans les suggestions
Idem, la saisie du thème météorologie dans la catégorie ISO n'engendre pas les thèmes Inspire équivalent dans Suggestion

[2014-01-21 13:37] taffoureau opened #26 "[2.9.2] Mise à jour des contacts liés suite à modfiication dans l'annuaire"
Scénario :
Ajout d'un contact lié dans une fiche depuis un annuaire, puis modification du contact dans la gestion des annuaires (nom de l'organisation) --> la modification n'est pas reportée dans la fiche.

[2014-01-21 13:39] taffoureau opened #27 "[2.9.2] Message d'avertissement lors d'une réindexation"
Lors d'une action de réindexation, aucun message n'apparaît dans l'interface ni en réponse à une requête CSW.

[2014-01-21 13:44] taffoureau opened #28 "[2.9.2] Erreur de validation xsd suite à l'ajout d'un mot-clé INSPIRE lié"
[code]

[2014-01-21 13:55] taffoureau opened #29 "[2.9.2] Lien vers une recherche pré-définie"
Les critères sont bien définis dans l'URL mais la recherche n'est pas automatiquement exécutée.

Exemple : http://geosourcetest.brgm-rec.fr/geosource/apps/search/?east_collapsed=true&s_search=&s_E_any=carte&s_timeType=true&s_scaleOn=false&s_O_inspirerelated=false&s_E_hitsperpage=20&hl=fre&extent=-550000,5000000,1200000,7000000

[2014-01-21 14:07] taffoureau opened #30 "[2.9.2] Ajout d'un mot-clé lié à partir d'un thésaurus"
l'URL stockée dans l'attribut xlinkhref (paramètre id) est étrange : http://geosourcetest.brgm-rec.fr:80/geosource/srv/fre/xml.keyword.get?thesaurus=external.theme.PnrMCB&amp;amp;id=file:///applications/geosource/web/geonetwork/xml/codelist/local/thesauri/theme/PnrMCB.rdf%23EAU_conchy&amp;amp;multiple=false

Par ailleurs, l'URL est incorrecte (cf anomalie remontée précédemment).

[2014-01-21 14:11] taffoureau opened #31 "[2.9.2] Alerte mot de passe incorrect"
Aucun message d'erreur n'apparaît lorsque le mot de passe saisi est incorrect

[2014-01-21 14:28] taffoureau opened #32 "[2.9.2] Pb gestion des logos"
Comportements étrange dans la configuration des logos :

Il est impossible de supprimer les logos pré-existants
Chemin vers les images logos :
Infos système : /applications/tomcat-6.0-instance10/data/data/resources
emplacement logos : /applications/tomcat-6.0-instance10/data/data/resources/images/logos
Aucune erreur n'apparaît dans les logs.

La fonction "Utiliser comme icône du site" n'a pas l'ai

[2014-01-21 14:46] delobelle opened #33 "Lien donnée Service"
En edition de MD, choisir dans "Ressource Associées" un servic eexistant et cliquer sur ajouter = renvoit un message d'erreur

Log :

[code]

[2014-01-21 15:01] delobelle commented on #33
Erreur qui se reproduit quand on cherche à associer d'autres ressources :

ex : associer une ressource en ligne ; associer une fiche parent, associer un jeu de données etc...

[2014-01-21 15:10] taffoureau opened #34 "CSW virtuels - Critère échelle - Préciser "Dénominateur""

[2014-01-21 15:31] taffoureau opened #35 "[2.9.2] Réponse csw-GetRecords | no filter | validate dans CSW demo request"
[code]

[2014-01-21 15:38] taffoureau opened #36 "[2.9.2] Réponse csw-GetRecords | no filter | outputschema:fra:isoRecords"
[code]

[2014-01-21 15:44] taffoureau opened #37 "[2.9.2] Critères avancés - organisation"
Il est impossible d'accéder à la liste des organisations dans la recherche avancée.

Alors que cela fonctionne pour les mots-clés par exemple.

[2014-01-21 15:56] taffoureau opened #38 "[2.9.2] Réponse csw-GetRecords | filter | ogc:Equals+bbox-90,-180 90,180"
Aucun résultat alors qu'une fiche publiée contient l'emprise mondiale (cf capture)
![nouvelle image](https://f.cloud.github.com/assets/2026724/1964970/918c780c-82b4-11e3-9482-53a7d5932ef2.png)

[2014-01-21 15:57] taffoureau opened #39 "[2.9.2] Réponse csw-GetRecords | filter | ogc:Equals+bbox-90,-180 90,180"
[code]

[2014-01-21 16:01] taffoureau opened #40 "[2.9.2] Réponse csw-GetRecordById | outputschema:fra:isoRecords"
[code]

[2014-01-21 16:13] taffoureau opened #41 "[2.9.2] csw-Transaction | update full records"
Le fichier XML en exemple ne contient pas de namespace (eg le titre).

[2014-01-21 16:23] taffoureau opened #42 "[2.9.2] csw-Harvest"
Requête :

[code]

Erreur :

[code]

[2014-01-21 17:47] fxprunayre commented on #20
Fixed in https://github.com/geonetwork/core-geonetwork/commit/476bad2e4d3562384d3dd953457c2149218a3c97

[2014-01-21 18:10] fxprunayre commented on #25
Je ne reproduis pas il faudrait préciser - quelle fiche ? les thésaurus sont-ils bien installés ?

Cas de test:
1) créer une fiche en français
2) ajouter thème INSPIRE Altitude
3) suggestion

[code]

4) appliquer la suggestion
5) Altimétrie ajoutée dans le thème ISO

La réciproque est fonctionnelle également.

Ca marche également pour occupation des terres et caractéristiques géographiques météoro

[2014-01-21 18:15] fxprunayre commented on #26
Aller dans admin > vider le cache de XLinks (comme d'habitude)

![image](https://f.cloud.github.com/assets/1701393/1966396/dddf2890-82c7-11e3-9257-8b32564a1ef7.png)

[2014-01-21 18:18] fxprunayre commented on #27
Le développement fait pas akka n'était pas fait pour toutes les langues dans l'interface (et n'a donc pas été porté dans GN). Un message n'est retourné que pour les requêtes CSW et a priori c'est ok :

![image](https://f.cloud.github.com/assets/1701393/1966414/28ac7d8c-82c8-11e3-8e02-59bf49a22970.png)

[2014-01-21 19:09] fxprunayre commented on #31
![image](https://f.cloud.github.com/assets/1701393/1966971/73ff3d9a-82cf-11e3-9da0-5c65745ac58a.png)

Je ne reproduis pas. Tu peux préciser le cas - navigateur ?

[2014-01-21 19:14] fxprunayre commented on #29
Des erreurs JS dans la console ?

[2014-01-21 19:15] fxprunayre commented on #32
Non reproductible sous Jetty, à tester sous tomcat

[2014-01-21 19:17] fxprunayre commented on #34
C'est à dire ?

[2014-01-21 19:19] fxprunayre commented on #35
et donc ? c'est normal.

Par contre une requête invalide

[code]

retourne

[code]

[2014-01-21 19:21] fxprunayre commented on #36
Est-il nécessaire de supporter le profil France en sortie de CSW ? L'exemple est un peu vieux - on le supprime ? Si vous souhaitez avoir les fiches dans leur forme d'origine, utiliser outputSchema="own"

[2014-01-21 19:23] fxprunayre commented on #37
Je ne reproduis pas. Je peux accèder à votre serveur de test pour essayer comprendre le pb ?

![image](https://f.cloud.github.com/assets/1701393/1967143/7b2e17f6-82d1-11e3-864f-89809996bc69.png)

[2014-01-21 19:28] fxprunayre commented on #38
Sans doute en lien avec https://github.com/geonetwork/core-geonetwork/issues/230

[2014-01-21 19:31] fxprunayre commented on #39
[code]

Avec 1.0.0, il n'y pas d'exception. En lien avec FE

[2014-01-21 19:32] fxprunayre commented on #40
Utiliser "own"

[2014-01-21 19:34] fxprunayre commented on #41
Beh si :

[code]

namespace par défaut. Quel est le pb ?

[2014-01-21 19:36] fxprunayre commented on #42
Un document XML ne peut contenir des caractères "&". Ce doit être "&amp;". La requête n'est pas bien formé. Le support de la méthode Harvest est loin d'être complet dans GN - cf. dev fait dans GéoSource il y 4 ou 5 ans.

[2014-01-21 19:40] fxprunayre commented on #30
Les identifiants des concepts devraient plutôt être du genre "http://www.mysite.org/thesaurus#1390333117053" ou  "http://www.mysite.org/thesaurus/1390333117053". Le thésaurus ne semble pas être "local" puisque sont identifiants est external.theme.PnrMCB. Pouvez vous corriger le thésaurus ?

[2014-01-21 19:42] fxprunayre commented on #33
L'erreur est en lien avec org.fao.geonet.services.region.ThesaurusRequest donc a priori rien à voir avec l'association de ressource. Est-ce que les associations fonctionnent bien ? de mon côté ça semble ok.

[2014-01-22 07:42] fxprunayre commented on #24
See https://github.com/geonetwork/core-geonetwork/issues/357 corrigé dans GN 2.10.x & develop

[2014-01-22 10:57] fxprunayre commented on #19
Les settings sont configurées dans administration > config du système ?

En remplaçant localhost par 127.0.0.1 ca marche de mon côté:

![image](https://f.cloud.github.com/assets/1701393/1973082/9161d882-8353-11e3-9c41-f39dae894c1f.png)

Elles sont sous quelle forme ?
Des erreurs dans les logs ?
Dans l'URL il faut remplacer les "&amp;amp;" par "&" si tu veux tester le lien qui est dans une fiche XM

[2014-01-22 12:04] fxprunayre commented on #6
![image](https://f.cloud.github.com/assets/1701393/1975142/97ffd024-8379-11e3-9c3b-8be98f0fc6b1.png)

[2014-01-23 14:26] fxprunayre commented on #19
Tester:
- http://geosourcetest.brgm-rec.fr:80/geosource/srv/fre/xml.keyword.get?thesaurus=external.place.CommunesFR&amp;amp;id=http://geonetwork-opensource.org/adminstrativeAreaFr%23COM_73065&amp;amp;multiple=false = page d'erreur
- http://geosourcetest.brgm-rec.fr:80/geosource/srv/fre/xml.keyword.get?thesaurus=external.place.CommunesFR&id=http://geonetwork-opensource.org/adminstrativeAreaFr%23COM

[2014-01-23 14:36] fxprunayre commented on #19
@taffoureau Peux-tu fournir une fiche Prodige posant le pb ? merci

[2014-01-23 14:40] fxprunayre commented on #26
Evolutions : Vider le cache pour les éléments modifiés dans l'édition.

[2014-01-23 14:52] #35 closed, assigned to taffoureau

[2014-01-23 14:54] taffoureau commented on #36
On supprime.

[2014-01-23 14:56] taffoureau commented on #40
On supprime.

[2014-01-23 14:58] fxprunayre commented on #41
On ajoute les préfixes à l'exemple.

[2014-01-24 08:20] fxprunayre commented on #36
Fixed in GN 2.10 (https://github.com/geonetwork/core-geonetwork/commit/3f8588f81feafc08175ff38b7ba98cfaba9243cc) & develop (https://github.com/geonetwork/core-geonetwork/commit/fb32bb874e71247d3aea769b1f5022b66efea083)

[2014-01-24 08:38] fxprunayre opened #43 "[2.9.2] Mode lecture seule"
valider le bon fonctionnement "contexte lecture seul" - en lien avec le protocol Z39.50

[2014-01-24 08:39] fxprunayre opened #44 "[2.9.2] Catalogue d'attributs affichage du titre"
problème d'affichage du lien vers le catalogue d'attributs depuis une fiche de métadonnées

[2014-01-24 08:40] fxprunayre opened #45 "[2.9.2] Agrégation / navigation bidirectionnelle"
affichage des relations d'agrégation (jeu de données <-> lot de données) dans les résultats de recherche

[2014-01-24 08:40] fxprunayre commented on #45
https://github.com/geonetwork/core-geonetwork/issues/335

[2014-01-24 09:16] fxprunayre commented on #32
Problème de suppression des logos initiaux : https://github.com/geonetwork/core-geonetwork/issues/363

[2014-01-24 09:30] fxprunayre commented on #32
Ce sera corrigé dans la 2.11. Contournement réduire fortement la taille de la police / utiliser chrome ou IE

[2014-01-24 09:43] fxprunayre commented on #37
Toujours pas de pb après moissonnage de geocatalogue.fr et sigloire.

![image](https://f.cloud.github.com/assets/1701393/1993547/da709048-84db-11e3-9dec-a1d91ec8a7f9.png)

Vous pouvez tenter de lancer la requête http://localhost:8080/geonetwork/srv/fre/main.search.suggest?field=orgName&sortBy=ALPHA&q=&valuesqry= et voir ce que cela retourne ?

[code]

[2014-01-24 09:58] fxprunayre commented on #31
Reproductible. Pas de solution simple à première vue. Est ce que ca vous va si corrigé en 2.11 uniquement ?

[2014-01-27 17:28] taffoureau opened #46 "Page d'admin ne s'affiche pas sous Firefox"
Suite à la livraison du 24/01.

J'obtiens page blanche sous Firefox 26.0.

Fonctionne sous Chrome et IE 8.

[2014-01-27 17:37] #21 closed, assigned to taffoureau

[2014-01-27 17:44] taffoureau commented on #45
Fonctionne lorsque le lien est réalisé en édition, mais pas à l'import de deux métadonnées aggrégées.

[2014-01-27 17:46] taffoureau commented on #33
Résolu. C'était en fait un problème de configuration des schemas dans le data.directory.

[2014-01-27 17:46] #33 closed, assigned to delobelle

[2014-01-27 17:50] taffoureau commented on #44
Corrigé.

[2014-01-27 17:50] #44 closed, assigned to taffoureau

[2014-01-27 18:01] taffoureau opened #47 "Associer un jeux de données"
En édition, dans ressources associées, il est proposé d' "associer un jeux de données"

Supprimer le "x"

Est-ce nécessaire de le proposer dans les métadonnées de données? Cela ne concerne-t-il pas uniquement les services ?

Idem pour "Associer un service" en édition d'un service...

[2014-01-27 18:02] fxprunayre commented on #45
En effet, le pb vient du fait qu'il n'y a pas de section distribution dans la fiche.

2 options :
- suppression de cette limitation
- avoir comme hypothèse qu'il y a toujours une section distribution (cf. INSPIRE)

@taffoureau tu en penses quoi ? J'opte pour la première.

[2014-01-27 18:06] taffoureau opened #48 "Liste des types de ressource dans la recherche"
Depuis la version 2.10 de Geonetwork, la liste se met à jour automatiquement en fonction de ce qu'il y a dans les métadonnées.

Toutefois, les valeurs ne sont pas traduites (featureCatalog, feature, ...).

J'ai également une valeur étrange : service-view pour un service WMS. Or, j'ai également d'autres services WMS qui apparaissent en "service" alors qu'il contiennent la même valeur de serviceType

[2014-01-27 18:12] fxprunayre commented on #45
See https://github.com/geonetwork/core-geonetwork/issues/368

[2014-01-27 18:15] fxprunayre commented on #45
Appliqué à GN 2.10, trunk et GS 2.9.2

[2014-01-27 18:23] fxprunayre commented on #47
See https://github.com/geosource-catalogue/core-geonetwork/commit/efdfdc03e4b4df82a1f94aa0ad505b9669ca3940

@taffoureau En 2.11 uniquement, ca te convient ?

[2014-01-27 18:26] taffoureau commented on #45
On supprime la limitation.

De : François Prunayre [mailto:notifications@github.com]
Envoyé : lundi 27 janvier 2014 19:03
À : geosource-catalogue/core-geonetwork
Cc : Taffoureau Etienne
Objet : Re: [core-geonetwork] [2.9.2] Agrégation / navigation bidirectionnelle (#45)

En effet, le pb vient du fait qu'il n'y a pas de section distribution dans la fiche.

2 options :
-   suppression de cette limit

[2014-01-27 18:27] fxprunayre commented on #48
Les valeurs sont indexées par https://github.com/geosource-catalogue/core-geonetwork/blob/2.9.2/web/src/main/webapp/WEB-INF/data/config/schema_plugins/iso19139/index-fields.xsl#L553

Que contient la fiche dans gmd:hierarchyLevel/gmd:MD_ScopeCode/@codeListValue pour service-view ?

[2014-01-27 18:27] taffoureau commented on #47
Ca me convient.

De : François Prunayre [mailto:notifications@github.com]
Envoyé : lundi 27 janvier 2014 19:24
À : geosource-catalogue/core-geonetwork
Cc : Taffoureau Etienne
Objet : Re: [core-geonetwork] Associer un jeux de données (#47)

En édition, dans ressources associées, il est proposé d' "associer un jeux de données"

See efdfdc0https://github.com/geosource-catalogue/core-geonetwork/commit

[2014-01-28 05:55] fxprunayre commented on #19
Test ok avec https://gist.github.com/fxprunayre/8662272

[2014-01-29 09:15] taffoureau commented on #20
Je ne constate pas d'amélioration suite à la livraison du 24/01.

[2014-01-29 09:21] taffoureau commented on #23
Corrigé.

[2014-01-29 09:21] #23 closed, assigned to taffoureau

[2014-01-29 09:26] taffoureau commented on #25
OK. Lié à une mauvaise configuration du data.directory.

[2014-01-29 09:26] #25 closed, assigned to delobelle

[2014-01-29 09:26] fxprunayre commented on #20
Donc, en 2.9.1 ca ne fonctionne pas (http://geosourcedemo.brgm.fr/geosource/apps/search/?)

En 2.9.2, ca fonctionne si on a le thésaurus des régions (pays du monde de GN) installé. Je vais tenter la config pour **un** thésaurus. @taffoureau  Lequel ? département ?

En 2.11.0, on analysera si c'est simple de permettre le choix du thésaurus (region, dep, commune).

[2014-01-29 09:41] taffoureau commented on #20
Plutôt région ?

De : François Prunayre [mailto:notifications@github.com]
Envoyé : mercredi 29 janvier 2014 10:27
À : geosource-catalogue/core-geonetwork
Cc : Taffoureau Etienne
Objet : Re: [core-geonetwork] Saisie des emprises - sélection par région (#20)

Donc, en 2.9.1 ca ne fonctionne pas (http://geosourcedemo.brgm.fr/geosource/apps/search/?)

En 2.9.2, ca fonctionne si on a le thésaurus des r

[2014-01-29 09:42] taffoureau commented on #27
Et dans l'interface de recherche?

[2014-01-29 11:26] taffoureau commented on #19
OK en version 2.9.2.

[2014-01-29 11:26] #19 closed, assigned to taffoureau

[2014-01-29 11:37] #36 closed, assigned to taffoureau

[2014-01-29 11:38] #40 closed, assigned to taffoureau

[2014-01-29 11:41] taffoureau commented on #37
La requête retourne quelque chose mais toujours rien dans la liste...

 [""

[code]

[2014-01-29 11:56] fxprunayre commented on #37
Ok donc le pb doit venir du retour à la ligne

[code]

[2014-01-29 12:37] fxprunayre commented on #37
En 2.11 ca fonctionne. Report du bugfix en 2.10.x et 2.9.2 https://github.com/geosource-catalogue/core-geonetwork/commit/48018f016adc519cbb3c25c3a6f47b96166b1261

[2014-01-29 15:22] delobelle opened #49 "Edition de métadonnées depuis le menu Administration"
1/ Création d'une nouvelle métadonnée
2/ Administration/Métadonnées : on retrouve la nouvelle métadonnée que l'on vient de créer : on l'édite pour la modifier. On sort de Geosource et on tombe sur l'interface GN

[2014-01-29 16:18] fxprunayre commented on #20
Utilisation des departements dans la liste https://github.com/geosource-catalogue/core-geonetwork/commit/a28546803cec772a2c789168bd17d8314576c024

Je passe en version 2.11 pour la sélection du type d'étendue.

[2014-01-29 16:23] fxprunayre commented on #49
Good catch! Fixed.

Sans objet en 2.11 car l'admin est différente.

[2014-01-29 17:12] taffoureau commented on #49
Corrigé.

[2014-01-29 17:12] #49 closed, assigned to nobody

[2014-01-29 17:13] taffoureau commented on #46
Corrigé.

[2014-01-29 17:13] #46 closed, assigned to taffoureau

[2014-01-29 17:17] taffoureau commented on #45
Non corrigé dans la version livrée le 29/01. Les relations n'apparaissent toujours pas dans le cas des fichiers jdd.xml et ldd.xml

[2014-01-29 17:25] taffoureau commented on #37
Corrigé.

[2014-01-29 17:25] #37 closed, assigned to taffoureau

[2014-01-29 17:28] taffoureau commented on #24
OK pour le 1er point.
Est-ce normal que les accents n'apparaissent pas dans les valeurs de la liste?

[2014-01-29 17:29] taffoureau commented on #41
Action FXP ?

[2014-01-30 06:31] fxprunayre commented on #24
Oui pour les champs comme full text qui est un champ analysé et non stocké. Ce sont les valeurs de l'index qui sont retournées (et qui ont été analysées dans ce cas). Pour les mots clés, le champ est stocké (car on en a besoin pour afficher les résultats) et ce sont donc les valeurs non analysées.

[2014-01-30 06:36] fxprunayre commented on #45
Ici ca marche bien. Tu peux vérifier le fichier WEB-INF/data/config/schema_plugins/iso19139/present/metadata-view.xsl qu'il contienne bien les changements https://github.com/geonetwork/core-geonetwork/commit/c61ac3107f1bfb01073dd3ac5004419df7ee6c4d

[2014-01-30 06:52] fxprunayre commented on #41
GN issue : https://github.com/geonetwork/core-geonetwork/issues/372

Corrigé dans GN trunk, 2.10.x & GS 2.9.2. Disponible dans le nouveau WAR.

[2014-01-30 07:48] fxprunayre commented on #30
Après test du thésaurus même avec des identifiants file:// ca joue.

![image](https://f.cloud.github.com/assets/1701393/2038068/d7f6f144-8982-11e3-8ef4-bd250ecc9d33.png)

Quoiqu'il en soit, ça pourrait être bien de revoir les id des concepts.

[2014-01-30 09:09] taffoureau commented on #45
Corrigé. Les fichiers dans schema_plugins n'avaient pas été mis à jour dans mon data.directory.

[2014-01-30 09:09] #45 closed, assigned to fxprunayre

[2014-01-30 09:10] #30 closed, assigned to fxprunayre

[2014-01-30 09:11] taffoureau commented on #24
OK.

[2014-01-30 09:11] #24 closed, assigned to fxprunayre

[2014-01-30 09:14] fxprunayre commented on #43
1) dézipper la webapp

[code]

2) changer les droits chmod -fR -w geosource

[code]

3) modifier l'uploadir dans ../webapps/geosource/WEB-INF/config.xml
4) définir un datadir -Dgeosource.dir=$GN_DATADIR dans les options de tomcat
http://geonetwork-opensource.org/manuals/trunk/fra/users/admin/advanced/advanced/index.html#lancement-de-l-application-en-mode-lecture-seule

[2014-01-30 09:58] #43 closed, assigned to taffoureau

[2014-02-14 14:21] fxprunayre opened #50 "Erreur moissonnage opendata sie"
URL moissonnée :
http://www.data.eaufrance.fr/geosource/srv/eng/csw?SERVICE=CSW&VERSION=2.0.2&REQUEST=GetCapabilities
Logs :

GET params:request=GetRecords&service=CSW&version=2.0.2&resultType=results&namespace=xmlns%28csw%3Dhttp%3A%2F%2Fwww.opengis.net%2Fcat%2Fcsw%2F2.0.2%29%2Cxmlns%28gmd%3Dhttp%3A%2F%2Fwww.isotc211.org%2F2005%2Fgmd%29&outputFormat=application%2Fxml&outputSchema=http%3A%2F%2Fwww.

[2014-02-18 09:29] fxprunayre opened #51 "Import des templates"
Après import de templates, le message de confirmation est hors-champ sur mon écran, du coup on a tendance à recliquer et à réimporter plusieurs fois les mêmes templates.

L'idéal serait de ne pas importer un template qui l'est déjà.

[2014-02-18 09:40] fxprunayre opened #52 "Aide / Préciser le contenu"

[2014-02-18 09:55] fxprunayre opened #53 "Champs non supprimables du formulaire"
Tous les champs décrits dans le cahier des charges doivent être accessibles en édition dans la vue INSPIRE et ne peuvent à aucun moment être enlevés du formulaire. Or, certains champs comme le type de la ressource, l'identificateur de ressource unique, ... disparaissent du formulaire lorsqu'ils sont supprimés.

Pour les champs avec une cardinalité minimale de 1, les text box doivent toujours être

[2014-02-18 09:58] fxprunayre opened #54 "Affichage des suggestions/valeurs recommandées"
Exemple du format d'encodage.

Comme indiqué dans le cahier des charges, le champ doit être de la forme "Liste déroulante avec possibilité de saisir du texte" et non deux champs séparés.

[2014-02-18 10:02] fxprunayre opened #55 "Boutons de suppression de certains champs non disponibles"
Par exemple, le template "Modèle pour la saisie d'une série de données INSPIRE" contient plusieurs mots-clés non supprimables (les boutons de suppression ne sont pas affichés).

[2014-02-18 10:08] fxprunayre opened #56 "Champ conformité dans la vue INSPIRE"
Les champs title et pass ne sont pas traduits.

Le champ explanation ne doit pas être présent.

Le calendrier n'est pas accessible pour la saisie de la date.

Le champ pass doit être sous la forme d'une liste déroulante avec les trois valeurs :
Conforme
Non conforme
Non évalué
Or, dans le template "Modèle pour la saisie d'une série de données INSPIRE" la valeur "1" est contenue dans un champ texte

[2014-02-18 10:10] fxprunayre opened #57 "Léger décalage des champs de saisie avec leur intitulé"
Il existe un léger décalage vers le haut.

[2014-02-18 10:15] fxprunayre opened #58 "Remplissage automatique de la version de l'encodage"
Suite à la saisie du format, la version n'est pas ajoutée automatiquement.

[2014-02-18 10:31] fxprunayre opened #59 "Emprise géographique"
Dans la liste des systèmes de coordonnées, proposer les valeurs avec les intitulés suivants :
WGS84 (EPSG:4326) --> par défaut
Lambert 93 (EPSG:2154)
Google mercator (EPSG:3857)

Pour resaisir une emprise après une 1ère saisie, il est nécessaire de cliquer deux fois sur le bouton "dessiner une emprise". De plus, l'état du bouton actif/non actif n'est pas suffisamment visible.

Pour le choix du thé

[2014-02-18 10:34] fxprunayre opened #60 "Chargement suite à l'ajout d'un champ"
Lorsqu'un champ est ajouté, celui met parfois 2-3 secondes à s'ajouter. Ne peut-on pas afficher une icône de chargement, pour toute action sur le formulaire?

[2014-02-18 10:42] fxprunayre commented on #59
Suite à la suppression d'une emprise, le libellé n'est pas visible en face du bouton "+"

[2014-02-18 10:46] fxprunayre opened #61 "Valeurs du rôle du contact"
Les rôles doivent être limités aux valeurs suivantes :

Point de contact (pointOfContact) (valeur par défaut)
Propriétaire (owner)
Gestionnaire (custodian)
Auteur (author)
Fournisseur (resourceProvider)

[2014-02-18 10:49] fxprunayre opened #62 "Langue de la métadonnée dans vue INSPIRE"
Ne doit pas apparaître.

[2014-02-18 10:54] fxprunayre opened #63 "Point de contact des métadonnées"
Supprimer le libellé principal "Point de contact des métadonnées" sous "Métadonnées".

Remplacer "organisation" par "point de contact".

Supprimer le rôle.

[2014-02-18 10:55] fxprunayre opened #64 "Date des métadonnées"
Afficher la "Dernière mise à jour" en bas à droite conformément au cahier des charges.

[2014-02-18 10:57] fxprunayre opened #65 "Validation - Afficher uniquement les erreurs"
Le bouton "Afficher uniquement les erreurs" n'est pas suffisamment clair. Il faudrait soit faire ressortir davantage les états activé/désactivé soit changer le bouton en "Afficher tout" lorsqu'il est activé.

[2014-02-18 11:01] fxprunayre opened #66 "Bouton "générer un identifiant""
Le bouton "générer un identifiant pour la ressource" est trop décalé vers la droite. Il doit être plus proche du champ de saisie.

Le renommer en "Générer un identifiant"

[2014-02-18 11:04] fxprunayre opened #67 "Thème INSPIRE"
Le section "GEMET - INSPIRE themes, version 1.0" et "nom du thésaurus" doit être remplacé par une simple liste déroulante contenant les 34 thèmes.

[2014-02-18 12:22] fxprunayre opened #68 "Référentiel de coordonnées"
Ne pas proposer la liste complète des systèmes de projections (cf. cahier des charges) dans la liste déroulante.

[2014-02-18 13:44] fxprunayre opened #69 "Organisation responsable de la ressource"
Supprimer le libellé principal "Organisation responsable de la ressource"

A quoi sert le bouton "+" situé entre le libellé et le champ texte ?

Dans la liste d'autocomplétion des contacts, les boutons ajouter (default mode et ajout xlink) sont trop proches des valeurs de contacts. De plus traduire le contenu des infobulles (add a link...).

La liste déroulante ne peut pas être refermée tant qu'un

[2014-02-18 13:57] taffoureau opened #70 "Menu de navigation dans le formulaire"
Ne pas proposer cette fonction dans la vue INSPIRE car les champs n'y sont pas organisés par rubrique.

De plus, ne fonctionne pas sous Firefox.

[2014-02-18 14:00] taffoureau opened #71 "Possibilité de replier le bandeau vertical en édition"
Il n'est pas possible de réduire le bandeau de droite contenant les ressources associées, la validation etc. (aucun bouton proposé)

De plus le réduire par défaut.

[2014-02-18 14:02] taffoureau opened #72 "[Recherche] désactivation interface carto"
L'interface carto n'est pas désactivée.

[2014-02-18 14:04] taffoureau opened #73 "Lien "besoin d'aide""
Le déplacer dans la barre de menu horizontale afin qu'il soit toujours visible.

[2014-02-18 14:11] taffoureau opened #74 "Fonction sélectionner une vue"
Le déplacer dans la barre de menu horizontale.

Par défaut, proposer dans l'ordre les vues INSPIRE, complète, puis XML.

Renommer "Infobulles" par "Aide" (cela concerne uniquement l'aide?) et l'activer par défaut.

[2014-02-18 14:14] taffoureau opened #75 "Plus de détail dans "sélectionner une vue""
Intérêt de cette fonction dans la vue INSPIRE? Il s'agit d'attributs issus de l'ISO...

[2014-02-18 14:15] taffoureau opened #76 "Afficher les champs INSPIRE obligatoires"
Par des astérisques, comme indiqué dans le cahier des charges.

[2014-02-18 14:20] taffoureau opened #77 "Boutons d'actions dans la barre de menu"
Cela concerne les boutons Enregistrer, Valider, Annuler et Sauver et fermer.

Les faire apparaître en gris, appliquer le changement de couleur au survol de la souris.

Indiquer en toutes lettres Sauver et fermer.

[2014-02-18 14:28] taffoureau opened #78 "Fonctionnement des infobulles pour l'aide"
Nous souhaiterions revenir à quelque chose de plus proche de ce qui était proposé dans le cahier des charges, à savoir :
- Apparition uniquement au clic sur une icône prévue à cet effet (l'apparition au survol risque d'être gênant à l'usage).
- Apparition de l'infobulle sous le champ concerné, avec possibilité de le déplacer avec la souris. En effet, avec l'affichage à droite tout le contenu n'est

[2014-02-18 14:31] taffoureau opened #79 "Texte dans le résumé avec une police différente"
La police est différente pour le résumé que pour les autres champs.

[2014-02-18 14:32] fxprunayre commented on #66
d22b764b888dab903c8c3c1970a945b032bc9ae4

[2014-02-18 14:40] fxprunayre commented on #79
https://github.com/geonetwork/core-geonetwork/commit/1ae638e12ac367f10535d8a754194f9233410d62

[2014-02-18 14:57] fxprunayre commented on #77
https://github.com/geonetwork/core-geonetwork/commit/c228da016f23d7980e7f54058385f051710e0eb8

[2014-02-18 15:04] fxprunayre commented on #74
https://github.com/geonetwork/core-geonetwork/commit/0b654b2094d1b5890c9ad109aedc57e14e43a219

https://github.com/geonetwork/core-geonetwork/commit/285633804ec7abe08503be6f65ab76651016271b

Ok peut être fait a posteriori dans admin > configuration du système

[2014-02-18 15:18] fxprunayre commented on #69
https://github.com/geonetwork/core-geonetwork/commit/9732d5c8fffc826cadc3d873ac4488f72e07f8c4

A ajouter un contact vide (correction erreur JS dans certains cas).

https://github.com/geonetwork/core-geonetwork/commit/7884072b6e122edc31e946b0c14a81e5ef72f69e

https://github.com/geonetwork/core-geonetwork/commit/161eae590848b891d898c88b2c7c73ed9354204e

[2014-02-18 15:32] fxprunayre commented on #78
Tooltip sur clic pour les éléments non existant et les sections, focus pour les champs du formulaire.

[2014-02-18 15:34] taffoureau commented on #78
![nouvelle image](https://f.cloud.github.com/assets/2026724/2196631/2df3f0ae-98b2-11e3-88e5-04b8dfc45184.png)

[2014-02-18 15:38] fxprunayre commented on #77
Code couleur bootstrap http://getbootstrap.com/css/#less-variables

[2014-02-18 15:42] fxprunayre commented on #76
Tout les libellés dans la même couleur pour la vue INSPIRE

[2014-02-18 15:43] fxprunayre commented on #75
Cache ces blocs dans la vue INSPIRE

[2014-02-18 15:51] fxprunayre commented on #70
Plier par défaut

[2014-02-18 16:01] fxprunayre commented on #68
Suppression autocompletion CRS dans la vue INSPIRE.

[2014-02-18 16:03] fxprunayre commented on #67
A corriger dans la vue INSPIRE

[2014-02-18 16:26] #57 closed, assigned to fxprunayre

[2014-02-18 16:44] fxprunayre commented on #51
2 colonnes

[2014-02-18 17:13] fxprunayre commented on #51
https://github.com/geonetwork/core-geonetwork/commit/462a9e113b42a733b0db3331c8855d2293674433

[2014-02-18 17:18] fxprunayre commented on #64
Date en lecture seule https://github.com/geonetwork/core-geonetwork/commit/3b7265b2ea8f9f88e03f3460d148f9fc5148337c

[2014-02-18 17:43] fxprunayre commented on #62
https://github.com/geonetwork/core-geonetwork/commit/9cd0f10b82978fbe805bea74c122ac1463c1179f

[2014-02-18 18:21] fxprunayre commented on #63
ae76af9784e20c7bc5ce0cfc0786acb79eff0c5b

[2014-02-19 06:49] fxprunayre commented on #78
a2a23dfa92a99870a2806ada35750ec2d736aef9

[2014-02-19 07:30] fxprunayre commented on #74
a6b648f399174386cedc1f934b24210c12ad8819

[2014-02-19 07:42] fxprunayre commented on #70
![image](https://f.cloud.github.com/assets/1701393/2204300/62e209e0-9939-11e3-9124-5ebf2105cef6.png)

Ajout d'une tooltip

[2014-02-19 10:57] taffoureau commented on #11
Suite aux récentes discussions du GT Métadonnées du CNIG :
- Identificateur de ressource unique : [getRecordById vers la MDD]#MD_DataIdentification
- Ressource couplée (operatesOn) : xlink:href="[Identificateur de ressource unique]"

Exemple :
srv:operatesOn xlink:href="http://www.mongeosource.fr/geosource-1187/srv/fre/csw?SERVICE=CSW&VERSION=2.0.2&REQUEST=GetRecordById&ID=7fb76211-991f-4907-953b-

[2014-02-19 16:21] taffoureau opened #80 "Configuration des CSW virtuels"
Les critères ne correspondent pas à ceux dans la version 2.9.x, par exemple :_source, _groupPublished

Par ailleurs, les critères contenant des listes de valeurs (par exemple, catégorie) sont vides.

[2014-02-19 16:49] fxprunayre commented on #66
![image](https://f.cloud.github.com/assets/1701393/2208972/bbc1bb9a-9985-11e3-8d5b-bbc1d2ee4409.png)

Aligner sur le bord droit.

[2014-02-19 17:03] fxprunayre commented on #67
ce3c6cdf8bd84fc3d6f6c84eee1767392e32fd3f

[2014-02-19 17:07] fxprunayre commented on #65
6f00100543cbada22f333a0f2fb7f6de9f2a2b4f Ombre rendue moin transparente. A plus long terme, il pourrait être bien de créer un thème bootstrap (http://expo.getbootstrap.com/) pour GéoSource.

[2014-02-19 17:42] fxprunayre commented on #58
c72b5ba85be02cbd6960654fb2dd1eb07c04a6bd

[2014-02-19 18:01] fxprunayre commented on #53
6ad147d51abf808a0754d5d258a676a8cf38f823

[2014-02-19 18:16] fxprunayre commented on #80
Ce sont les mêmes:
- _source = Catalogue d'origine
- _groupPublished = Groupe dans lequel une fiche est publiée.

Ajout de traduction + liste des catégories : 7d6bb256792dbb75eefcbd4a215d62f6d29f73d1

[2014-02-20 07:43] fxprunayre commented on #72
![image](https://f.cloud.github.com/assets/1701393/2216096/685ea30a-9a02-11e3-964d-33e05c3b1d39.png)

Peux tu préciser car je ne reproduis pas ? Cache du navigateur ?

Il n'y a :
- ni le switcher découverte/visualisation en haut
- pas de bouton dans les résultats (ajouter à la carte)
- pas de bouton ajouter la sélection à la carte dans la barre d'outil des résultats
- et pas de bouton ajouter à la

[2014-02-20 07:46] fxprunayre commented on #59
8cad43fc86b8ba9a045266a129d6f5eea3d40633

[2014-02-20 08:19] fxprunayre commented on #56
99758591c09301e64017e8187cb5a40a4d1cceba

7996b3a5d62de1571da96d30802aa83a7a6f3341

[2014-02-20 13:39] fxprunayre commented on #70
7604969dd5d17c644a317d43d0a2ca404a2728f1

[2014-02-20 13:49] fxprunayre commented on #34
Fait dans la nouvelle interface d'admin https://github.com/geonetwork/core-geonetwork/commit/7d6bb256792dbb75eefcbd4a215d62f6d29f73d1#diff-efd7cfbb87140f296d1b01ac307f74edR516

[2014-02-20 13:50] fxprunayre commented on #29
Non reproductible. A fermer ?

[2014-02-20 13:51] fxprunayre commented on #22
Non reproductible en 2.11. A fermer ?

[2014-02-20 14:17] #22 closed, assigned to taffoureau

[2014-02-20 14:55] fxprunayre opened #81 "Amélioration conversion profil France > ISO19139"
2)      Par ailleurs, sur l'export XML via le CSW, par exemple :

http://catalogue.sigloire.fr/geonetwork/srv/fre/csw?REQUEST=GetRecordById&version=2.0.2&service=CSW&ID=de13c460-54c9-11dd-99f1-00004f6210c3&OutputSchema=http://www.isotc211.org/2005/gmd&elementSetName=full

Des éléments du profil fra apparaissent :

schéma : xsi:schemaLocation="http://www.isotc211.org/2005/fra ../../../../web/geonet

[2014-02-20 14:55] fxprunayre commented on #81
https://github.com/geosource-catalogue/core-geonetwork/commit/95fdb0eccf26adf279739a295e8311acd9bd0b5a

[2014-02-21 08:33] fxprunayre commented on #56
Je propose cette approche :
- Non évalué

![image](https://f.cloud.github.com/assets/1701393/2228027/b7f21a34-9ad2-11e3-98bb-24d8d9196782.png)
- Évalué

![image](https://f.cloud.github.com/assets/1701393/2227993/2e592c72-9ad2-11e3-8d68-96a43ed736a9.png)

Cela permet d'avoir un mécanisme générique pour n'importe quel champ de l'éditeur. Si le champ demandé n'est pas dans la fiche en cours d'édition

[2014-02-21 12:46] fxprunayre commented on #16
A fermer ?

[2014-02-24 16:42] fxprunayre commented on #14
Les URLs http://www.mongeosource.fr/geosource-{nodeId}/srv/fr/<serviceName> deviennent http://www.mongeosource.fr/geosource/{nodeId}/fre/<serviceName>
- xml.user.login : Utiliser authentification basique (http://php.net/manual/fr/features.http-auth.php)
- xml.user.logout : Utiliser http://localhost:8080/geonetwork/j_spring_security_logout
- metadata.admin : Ne change pas
- metadata.show : Existe t

[2014-02-25 11:07] fgravin commented on #59
En fait c'est un toggle, si on clique une fois on peut redessiner tant qu'on veut, si on reclique une seconde fois on repasse en mode 'pan'.
J'ai modifié le style du bouton lorsqu'il est actif.

J'ai aussi rajouté des labels pour les projections

https://github.com/geonetwork/core-geonetwork/commit/76a194d13a10dc804a307cc66484f03ffc3c26be

[2014-02-26 09:09] fxprunayre commented on #59
Merci @fgravin . Le toggle ca me va ( @taffoureau ok pour toi ?).

Par contre si on bascule dans une autre projection, les coordonnées ne sont plus sauvés en WGS84 mais dans la projection choisie.

[2014-02-26 10:58] fgravin commented on #59
Ok j'ai corrigé l'histoire de proj4js, le projection dans la métadonnée, et j'ai amélioré le layout

https://github.com/geonetwork/core-geonetwork/commit/f9c3e262474b73597f0a9e05b4051a2ba2d07b1d

[2014-02-28 17:08] htouyeras opened #82 "Page accueil > bouton action de fiche sélectionnée: outil EDITER non fonctionnel"
Ouvre la page vide suivante : http://metadatacarmen.brgm-rec.fr/geosource/1007/fre/catalog.edit#/metadata/327

Reproduit sous IE10 et Firefox 26
Observé sur  http://metadatacarmen.brgm-rec.fr/geosource/1007/fre/find

![2 11_action_editer](https://f.cloud.github.com/assets/6794535/2296173/bfd7d450-a09a-11e3-8363-14936c95e36e.png)

[2014-02-28 17:11] htouyeras opened #83 "Page accueil > bouton action de fiche sélectionnée: outil EXPORT PDF non fonctionnel"
Message d'erreur retourné:
  NoClassDefFoundError : org/apache/fop/apps/FopFactory

adresse de l'erreur:
 http://metadatacarmen.brgm-rec.fr/geosource/1007/fre/pdf?uuid=b07044b0-a851-43a3-a15c-80f2cd0dbe3f

![2 11_action_pdf](https://f.cloud.github.com/assets/6794535/2296209/4340842c-a09b-11e3-8168-e99d8e0c36d8.png)

Reproduit sous IE10 et Firefox 26
Observé sur  http://metadatacarmen.brgm-rec.fr/g

[2014-02-28 17:14] htouyeras opened #84 "Page accueil > bouton action de fiche sélectionnée: outil EXPORT ZIP non fonctionnel"
Message d'erreur retourné dans  Firefox :
<error id="error">org/fao/geonet/kernel/mef/MEF2Exporter</error>

Message d'erreur retourné dans IE10 :  Le site Web ne peut pas afficher la page, HTTP 500

Adresse de l'erreur:  http://metadatacarmen.brgm-rec.fr/geosource/1007/fre/mef.export?version=2&uuid=b07044b0-a851-43a3-a15c-80f2cd0dbe3f

![2 11_action_zip](https://f.cloud.github.com/assets/6794535/2

[2014-02-28 17:16] htouyeras opened #85 "Page accueil > bouton action de fiche sélectionnée: outil RATING non fonctionnel"
Message d'erreur retourné:
The requested operation could not be performed.
NoClassDefFoundError : org/hibernate/jpa/criteria/expression/function/AggregationFunction$AVG

Adresse de l'erreur:
 http://metadatacarmen.brgm-rec.fr/geosource/1007/fre/mef.export?version=2&uuid=b07044b0-a851-43a3-a15c-80f2cd0dbe3f

![2 11_action_rating](https://f.cloud.github.com/assets/6794535/2296253/fdc36ddc-a09b-11e3-

[2014-02-28 17:18] htouyeras opened #86 "Page accueil > bouton action de fiche sélectionnée: outil AUTRES ACTIONS \DUPLIQUER fonctionnel"
IE10 : Renvoie sur adresse vide (page blanche) @ http://metadatacarmen.brgm-rec.fr/geosource/1007/fre/catalog.edit#/create?from=327

Firefox 26 : tourne à vide sur page « créer une copie de »  avec barre d’avancement.

![2 11_action_dupliquer](https://f.cloud.github.com/assets/6794535/2296268/41ab966e-a09c-11e3-91c4-9982750ad853.png)

[2014-02-28 17:19] htouyeras opened #87 "Page accueil > bouton action de fiche sélectionnée: outil AUTRES ACTIONS \CREER UN ENFANT non fonctionnel"
IE10 : Renvoie sur adresse vide (page blanche) @  http://metadatacarmen.brgm-rec.fr/geosource/1007/fre/catalog.edit#/create?childOf=327

Firefox 26 : tourne à vide sur page « créer une fiche enfant de »   avec barre d’avancement.

![2 11_action_enfant](https://f.cloud.github.com/assets/6794535/2296279/7355b690-a09c-11e3-8fab-5e8cce2bd5da.png)

[2014-02-28 17:23] htouyeras opened #88 "Page accueil > bouton action de fiche sélectionnée: outil AUTRES ACTIONS \ACTIVER LA GESTION DE L’ETAT DE LA FICHE non fonctionnel"
Message d'erreur retourné:

IE 10: IllegalMonitorStateException :  (aucune valeur ne suit)
Firefox 26 : NullPointerException :    (aucune valeur ne suit)

![2 11_action_etat](https://f.cloud.github.com/assets/6794535/2296306/f526bd40-a09c-11e3-9b95-41cd86e7ea21.png)

[2014-02-28 17:26] htouyeras opened #89 "Page accueil > bouton action de fiche sélectionnée: outil AUTRES ACTIONS \CATEGORIES non fonctionnel"
L'outil ne retourne que la boite d'erreur en pj

![2 11_action_categories](https://f.cloud.github.com/assets/6794535/2296345/6f5c3626-a09d-11e3-9b8f-54877ae504d2.png)

![2 11_action_retourcategories](https://f.cloud.github.com/assets/6794535/2296346/73c7f0ec-a09d-11e3-9265-4db69cc9303c.png)

[2014-02-28 17:28] htouyeras opened #90 "Page accueil > bouton action de fiche sélectionnée: outil AUTRES ACTIONS \EDITER non fonctionnel"
IE 10 & Firefox 26 retournent:

"NoClassDefFoundError...." détails  en pj.

![2 11_action_autres_editer](https://f.cloud.github.com/assets/6794535/2296357/b64e0e60-a09d-11e3-84a7-ce09d73101f9.png)

[2014-02-28 17:31] htouyeras opened #91 "Consultation de Fiche: HYPERLIEN non fonctionnel"
L’hyperlien donné (voir pj) est incomplet, et ne fonctionne pas si collé dans la barre d’adresse du navigateur :
Valeur dans la boite :      « ?uuid=b07044b0-a851-43a3-a15c-80f2cd0dbe3f »
En revanche, le lien porté par le texte « Link » est complet et fonctionnel.

![2 11_consultation_hyperlien](https://f.cloud.github.com/assets/6794535/2296384/1ba780d4-a09e-11e3-86fa-177a020b7761.png)

[2014-02-28 17:33] htouyeras opened #92 "Recherche par mot clé: accents"
La recherche par mot clé fonctionne bien si l’utilisateur entre une expression sans accents (ex : pour chercher « forêts », je tape « fore »).

La recherche ne retourne aucun résultat si la recherche est bien orthographiée, avec accents. => si je tape « forê », aucun résultat, alors que des fiches existent avec des mots clés accentués.

une recherche sur les deux orthographes serait top…. Mais en

[2014-02-28 17:34] htouyeras opened #93 "IHM d'édition non fonctionnelle dans IE 10"
L’adresse «http://metadatacarmen.brgm-rec.fr/geosource/1007/fre/catalog.edit »  retourne une page blanche.

![2 11_lancer_edition](https://f.cloud.github.com/assets/6794535/2296427/acae8ba4-a09e-11e3-9dc1-78e392b72927.png)

[2014-02-28 17:37] htouyeras opened #94 "[Question] Edition: modèles pour la saisie d'une fiche Inspire Annexes 2 et 3 ?"
Question : Est-il prévu d’inclure des modèles pour les autres annexes que l’annexe 1?

![2 11_modeles_edition](https://f.cloud.github.com/assets/6794535/2296452/f3cabcba-a09e-11e3-9c10-62c92d8a29d2.png)

[2014-02-28 17:40] htouyeras opened #95 "Edition: Bouton « Créer » non fonctionnel"
Deux problèmes:
1- IE 10 n’ouvre pas cette page-ci

2- dans Firefox 26, le bouton n’exécute aucune action, ni son menu déroulant.

![2 11_creer_edition](https://f.cloud.github.com/assets/6794535/2296487/5a197d94-a09f-11e3-8783-65c9124986ba.png)

[2014-03-03 08:28] TERMEPhilippe opened #96 "Plantage du site http://metadatacarmen.brgm-rec.fr/geosource/1002/fre/find"
Le site en objet est planté : message d'erreur
![site_sigloire](https://f.cloud.github.com/assets/6795250/2307599/cd88af74-a2ad-11e3-89e9-f1915c91b1b5.jpeg)

[2014-03-03 09:09] TERMEPhilippe opened #97 "Import de fiches de métadonnées"
Aucune fiche de métadonnée ne s'importe. Le fichier xml est exporté d'un geosource V2.9 et est valide. Le message d'erruer est parfois celui-ci
Message d'erreur :
Résultat de l'import de métadonnées :

Erreur lors de l'insertion de la métadonnée :

org/fao/geonet/kernel/mef/Importer$1$1 NoClassDefFoundError ... ... ... ... ... ... ... ... fre xml.mef.import.ui

[2014-03-03 09:18] TERMEPhilippe opened #98 "Moissonnage d'un noeud CSW"
Pas d'action au clic sur le bouton enregistrer et moissonner.
L'url testée est  http://catalogue.sigloire.fr/geonetwork/srv/fr/csw-dreal?

[2014-03-03 10:42] TERMEPhilippe opened #99 "Ajoutd 'un mot-clé INSPIRE"
Le mot-clé INSPIRE est laissé en libre texte, il devrait s'agir d'une liste déroulante du thesaurus INSPIRE Thème

[2014-03-03 10:50] TERMEPhilippe opened #100 "Outil de recherche Référentiel de coordonnée"
Les
![coordonnees](https://f.cloud.github.com/assets/6795250/2308634/92888714-a2c1-11e3-9f4f-dd0216179e5c.jpeg)
 résultat de la recherche s'sincrivent sous les champs suivants

[2014-03-03 11:10] TERMEPhilippe opened #101 "Champ généalogie supprimé du formulaire"
A partir de la fiche modèle INSPIRE, j'ai supprimé la section Généalogie car l'outil me le permettait mais je ne retrouve pas le moyen de la rajouter

[2014-03-03 14:44] htouyeras opened #102 "Formulaire de Saisie: Texte d'aide à la saisie coupé en haut"
L'affichage interactif de l'aide à la saisie est une vraie bonne idée.
Attention à son affichage: pour les premiers champs du formulaire, le haut du texte est coupé (voir pj pour les deux premiers champs - l'ascenseur vertical est bien tout en haut de la page)

testé sous Firefox 26.

![2 11_saisie_ergo_aide](https://f.cloud.github.com/assets/6794535/2310339/23d213c8-a2e2-11e3-934f-17f38c742fed.pn

[2014-03-03 14:49] htouyeras opened #103 "Formulaire de Saisie: bouton "Ajout d'un localisateur" non fonctionnel"
Cliquer sur le bouton   "Ajout d'un localisateur"  n'a aucune action.

Testé sous Firefox 26

![2 11_saisie_ajout_localisateur](https://f.cloud.github.com/assets/6794535/2310396/fad04520-a2e2-11e3-8833-8cdb70daf647.png)

[2014-03-03 14:53] htouyeras opened #104 "Formulaire de Saisie: bouton "Générer un Identifiant" non fonctionnel"
Cliquer sur le bouton "Générer un identifiant" ne remplit pas le champ d'identifiant ; il n'y a pas de retour écran. Testé sous Firefox 26.

![2 11_saisie_ajout_uri](https://f.cloud.github.com/assets/6794535/2310459/8c72dace-a2e3-11e3-9547-646cb48741b0.png)

[2014-03-03 14:56] htouyeras opened #105 "Formulaire de Saisie: bouton "Ajout d'un Encodage" non fonctionnel"
Cliquer sur le bouton "+" pour ajouter un type d'encodage n'ajoute pas de ligne supplémentaire. Aucun retour écran. Testé sous Firefox 26.

![2 11_saisie_ajout_encodage](https://f.cloud.github.com/assets/6794535/2310479/04a962e2-a2e4-11e3-9ff5-d5d23a34c6d8.png)

[2014-03-03 15:04] htouyeras opened #106 "Formulaire de Saisie: Texte d'aide à la saisie des mots-clés"
(ERGONOMIE)
Est-il possible de modifier le texte d'aide à la saisie des mots clés? :
Proposition 1: Enlever la phrase sur PT_Freetext, destinée à des développeurs et non à des utilisateurs.
Proposition 2: Spécifier dans cette aide si l'utilisateur doit entrer un seul mot par boit, ou si l'utilisation d'un séparateur est possible (virgule?) pour entrer plusieurs mots dans une même boite (ex: par co

[2014-03-03 15:06] htouyeras opened #107 "Formulaire de Saisie: bouton "Ajout d'un Mot Clé" non fonctionnel"
Cliquer sur le bouton "+" pour ajouter un mot clé n'ajoute pas de boite supplémentaire pour saisir un mot clé. Aucun retour écran disponible. Testé sous Firefox 26.

![2 11_saisie_ajout_motcl](https://f.cloud.github.com/assets/6794535/2310560/75b2865c-a2e5-11e3-8a46-dd8e24f3860e.png)

[2014-03-03 15:15] htouyeras opened #108 "Formulaire de Saisie: Référence Spatiale du Rectangle d'emprise"
Serait-il possible d'afficher l'alias des 2 références spatiales disponibles pour saisir le rectangle d'emprise? Elles pourraient apparaitre après le code EPSG (ex. en pj).
Testé sous Firefox 26.

![2 11_saisie_spatref_emprise_ergo](https://f.cloud.github.com/assets/6794535/2310636/919a7054-a2e6-11e3-94c4-e58a7e8f618d.png)

[2014-03-03 15:27] htouyeras opened #109 "Formulaire de Saisie: Référence Spatiale du Rectangle d'emprise (mise à jour)"
Modifier les coordonnées du rectangle permet la mise à jour du graphique si l'utilisateur rafraichit la carte par zoom ou pan. S'il ne fait pas cette action, le graphique reste identique à ce qu'il était avant l'édition des coordonnées.

Est-il possible de forcer la mise à jour de la carte au fur et à mesure de la saisie?
Sinon, serait-il possible d'expliciter le comportement à l'utilisateur (soit

[2014-03-03 15:33] htouyeras opened #110 "Editeur / Emprise / sélection des régions ou communes"
Le menu déroulant "DEP"  dans la zone de l'emprise du rectangle englobant est-il destiné à sélectionner un nom ou numéro de département pour assigner l'emprise de ce département à la ressource? Si oui - génial, excellent idée!!! Si non, il faudrait expliciter son action.

Aujourd'hui, dans Firefox 26, le menu déroulant ne contient que la valeur "DEP", et entrer un numéro de département manuellemen

[2014-03-03 15:38] htouyeras opened #111 "Formulaire de Saisie: Recherche d'un référentiel de coordonnées"
Il est très commode de pouvoir chercher un référentiel de coordonnées dans le formulaire de saisie. Attention à l'affichage des résulats: il est en arrière-plan, derrière les éléments du formulaire, et partiellement caché (voir pj)

Testé sous Firefox 26.

![2 11_saisie_recherchereferntielcoordonnes](https://f.cloud.github.com/assets/6794535/2310866/db95ef46-a2e9-11e3-8fa8-12e29252d0d3.png)

[2014-03-03 15:42] htouyeras opened #112 "Formulaire de Saisie: Recherche d'un référentiel de coordonnées (tri des résultats)"
(Ergonomie)

Pour la recherche d'un référentiel, il serait bon de trier les résultats, avec en premier les résultats qui commence par l'expression entrée par l'utilisateur (ex: si je tape  "RG", je devrai avoir les "RGF..." et les "RGM" en tête de liste).

Ensuite, en second choix ("résultats approchants"), on peut ajouter les résultats qui contiennent l'expression (ref. pj, avec les sytèmes conte

[2014-03-03 15:47] htouyeras opened #113 "Formulaire de Saisie: Recherche d'un référentiel de coordonnées (Utilisation des résultats)"
Dans la liste de résultats de la recherche d'un référentiel de coordonées, le bouton "+" est inactif dans Firefox 26: Auqnd on clique dessus, le référentiel sélectionné n'est pas ajouté à la boite, et aucun autre retour écran n'est disponible. ref pj.

![2 11_saisie_recherchereferntielcoordonnes_utilisation rsultats](https://f.cloud.github.com/assets/6794535/2310988/2aa5972a-a2eb-11e3-8dfa-882a369

[2014-03-03 15:51] htouyeras opened #114 "Formulaire de Saisie: Ajout d'un référentiel de coordonnées non fonctionnel"
Cliquer sur le bouton "+" pour ajouter un référentiel n'a pas d'action.

![2 11_saisie_ajoutreferntielcoordonnes](https://f.cloud.github.com/assets/6794535/2311020/a0c9612a-a2eb-11e3-9a66-7391e0890d12.png)

[2014-03-03 15:57] htouyeras opened #115 "Formulaire de Saisie: Texte d'aide à la résolution des erreurs"
(Ergonomie)

Afficher les erreurs à droite de l'écran permet de savoir à tout moment où on en est et ce qu'il reste à faire - c'est très ergonomique. Attention aux textes en anglais et/ou en code, ref pj.
Est-il possible de traiter les différents messages d'erreurs pour qu'ils puissent assister un utilisateur non-développeur (et/ou familier avec les concepts de métadonnées, mais pas les balises XM

[2014-03-03 16:02] htouyeras opened #116 "Formulaire de Saisie: Harmoniser le format des champs "Date""
Certains champs "date" portent un bouton à icône de pendule, et permettent de sélectionner un format de date parmi 3 différents.
Est-il possible d'harmoniser cette apparence et ce comportement à tous les champs "date"?

![2 11_dates_harmoniser](https://f.cloud.github.com/assets/6794535/2311152/25784d68-a2ed-11e3-9186-549328e6383b.png)

[2014-03-03 16:08] htouyeras opened #117 "Formulaire de Saisie: Format de saisie des champs "Date""
La sélection d'un format de saisie dans un champ "date" semble n'avoir aucune action sur le format de date que l'utilisateur peut saisir. par exemple (ref pj),  je  choisis le format "Année", et je peux entrer une date pleine.

En outre, est-il possible d'ajouter une aide sur le format des dates (20-12-2012? 20/12/2012? 20121220? 2012-12-20? utilisation de lettres?  etc.  ref pj aussi)

![2 11_dat

[2014-03-03 16:15] htouyeras opened #118 "Formulaire de Saisie: Harmoniser le comportement des boites "Valeurs recommndées""
(ergonomie)

Toutes les boites "valeurs recommandées" n'ont pas le même comportement. Comparer par exemple celle relative à l'encodage des données et celle relative à l'échelle de référence de la résolution des données (voir pj).

Proposition: Harmoniser le comportement sur l'exemple de la boite relative à l'encodage des données.

(testé sur Firefox 26)

![2 11_boites_valeurs_recommandes](https://

[2014-03-03 16:28] htouyeras opened #119 "Formulaire de Saisie: bouton "Ajout d'une résolution" non fonctionnel"
Cliquer sur le bouton "+" de  la ligne "Résolution spatiale" n'a aucune action - aucun retour écran dispo. (testé sous Firefox 26).

![2 11_ajout_rsolution](https://f.cloud.github.com/assets/6794535/2311446/e7d9610a-a2f0-11e3-8a53-b5b86dfdc8ef.png)

[2014-03-03 16:34] htouyeras opened #120 "Formulaire de Saisie: Section Qualité sans titre"
Les champs relatifs à la qualité des données apparaissent sous le titre "Résolution Spatiale" (ref pj)
Observé sous Firefox 26.

![2 11_qualitsanstitre](https://f.cloud.github.com/assets/6794535/2311561/53ba52f2-a2f2-11e3-85c2-b92794e830f9.png)

Proposition de modification en ci dessous:.

![2 11_qualit](https://f.cloud.github.com/assets/6794535/2311507/9582f474-a2f1-11e3-9447-3476055d9b85.png)

[2014-03-03 16:37] htouyeras opened #121 "Formulaire de Saisie: Degré de conformité non explicite"
Dans les champs de qualité, rien n'explique à l'utilisateur ce qu'indique la boite à cocher "degré". Proposition de modification: renommer "degré" en "Conforme" ou "Non Conforme", et/ou ajouter un tooltip.

![2 11_qualit_degrconformit](https://f.cloud.github.com/assets/6794535/2311543/14ed36a2-a2f2-11e3-9848-8c036dd8c801.png)

[2014-03-03 16:43] htouyeras opened #122 "Formulaire de Saisie: Conditions d'utilisations/d'accès non fonctionnelles"
Cliquer les boutons "+" pour ajouter des conditions d'utilisation ou d'accès (les deux) n'a aucune action - aucun retour écran disponible.

Testé sous Firefox 26.

![2 11_cgu](https://f.cloud.github.com/assets/6794535/2311617/ee7bd6bc-a2f2-11e3-9d69-bb07bb28677f.png)

[2014-03-03 16:46] htouyeras opened #123 "Formulaire de Saisie: Aide non fonctionnelle"
Cliquer sur le lien "Besoin d'aide?" génère un message d'erreur, reporté ci-dessous.

Testé sous Firefox 26.

![2 11_saisie_aide](https://f.cloud.github.com/assets/6794535/2311652/4d45bdac-a2f3-11e3-84b3-b94bb9e689a5.png)

[2014-03-03 17:19] htouyeras opened #124 "Formulaire de Saisie: Recherche d'un point de contact à expliciter"
La recherche d'un point de contact semble non fonctionnelle (mais je ne suis pas sûre de l'avoir utilisé comme il faut... ?)
1- Les boutons de remplissage semi-auto (pj ci dessous) n'apparaissent que si l'on saisit une valeur, puis qu'on la supprimer avec la touche clavier "delete" (retour en arrière).
BRGM : Reproduit.

1 bis - ces boutons n'apparaissent pas pour le premier contact, mais uniqueme

[2014-03-11 10:40] htouyeras opened #125 "Moissonnage: bouton de sélection du type de noeud pas toujours fonctionnel"
Dans l'interface de moissonnage, les différents types de nœuds sont souvent reportés comme "non supportés" - il s'agit du menu déroulant issu du bouton " + Moissonner", voir ci-dessous.

Observé sur Firefox 26, non systématique mais prédominant.

![2 11_moissonner](https://f.cloud.github.com/assets/6794535/2384235/87bcfe70-a909-11e3-89e8-bb952f4ab3b7.png)

[2014-03-11 10:48] htouyeras opened #126 "Moissonnage: boutons "enregistrer" et "moissonner" non fonctionnels pour le protocole GeoNetwork (Ancienne version)"
Apres avoir entré des paramètres de moissonnage pour une nœud de type répertoire, il est possible de l'enregistrer (apparait à la gauche de l'écran dans la boite "nœuds distants"), et de le lancer (avec retour écran sur les erreurs éventuelles).

Il est en revanche impossible d'enregistrer des paramètres de moissonnage pour un nœud de type "GeoNetwork (Ancienne version)", sans qu'aucun message d'e

[2014-03-14 15:40] taffoureau commented on #123
BRGM : Non encore implémenté. Doit pointer vers la documentation embarquée dans l'application.

[2014-03-14 15:43] taffoureau commented on #122
BRGM : non reproduit.

[2014-03-14 15:47] taffoureau commented on #121
BRGM : dans les spécifications, le champ est nommé "Degré" avec les valeurs "Conforme", "Non conforme", "Non évalué" dans une liste déroulante.
Un tooltip doit être associé à ce champ.

[2014-03-14 16:01] taffoureau commented on #119
BRGM : non reproduit.

[2014-03-14 16:01] #119 closed, assigned to nobody

[2014-03-14 16:01] #123 closed, assigned to nobody

[2014-03-14 16:01] #122 closed, assigned to nobody

[2014-03-14 16:04] taffoureau commented on #118
BRGM : reproduit. Par ailleurs, le type de ce champ est "liste déroulante avec possibilité de saisir du texte".

[2014-03-14 16:16] taffoureau commented on #117
BRGM : fonctionnalité modifiée dans la dernière version livrée : le choix du type de date n'est plus possible. Par ailleurs, les flèches permettant de changer de mois, année, ... dans le calendrier sont cassées sous Firefox.

[2014-03-14 16:18] taffoureau commented on #116
BRGM : Il manque les boutons pour les champs "étendue temporelle".

[2014-03-14 16:20] taffoureau commented on #115
BRGM : à discuter.

[2014-03-14 16:24] taffoureau commented on #114
BRGM : non reproduit. Il s'agit d'autocomplétion.

[2014-03-14 16:24] #114 closed, assigned to nobody

[2014-03-14 16:31] taffoureau commented on #113
BRGM : non reproduit. Par contre, la liste de choix s'affiche en-dessous des autres champs sous Firefox. Par ailleurs, dans les spécifications, les valeurs de choix sont restreintes conformément au guide du CNIG.

[2014-03-17 10:59] taffoureau commented on #112
BRGM : proposer dans une liste déroulante uniquement les valeurs indiquées dans le cahier des charges dans la vue INSPIRE.

[2014-03-17 12:43] taffoureau commented on #107
BRGM : non reproduit

[2014-03-17 12:43] #107 closed, assigned to nobody

[2014-03-17 12:46] taffoureau commented on #105
BRGM : Non reproduit. Par contre, les deux champs (format, version) ajoutés ne peuvent être supprimés (aucun bouton X n'est affiché).

[2014-03-17 12:47] taffoureau commented on #104
BRGM : En cours d'implémentation.

[2014-03-17 12:47] #104 closed, assigned to nobody

[2014-03-17 13:52] taffoureau commented on #79
Corrigé.

[2014-03-17 13:52] #79 closed, assigned to nobody

[2014-03-17 13:54] taffoureau commented on #76
Corrigé.

[2014-03-17 13:54] #76 closed, assigned to nobody

[2014-03-17 15:08] #78 closed, assigned to nobody

[2014-03-17 15:09] taffoureau opened #127 "Tooltip ne fonctionne pas pour certains champs"
Dans la dernière version livrée, les tooltips fonctionnent uniquement pour les champs titre, résumé, type de ressource et mots-clés.

[2014-03-17 15:10] taffoureau commented on #72
Corrigé.

[2014-03-17 15:10] #72 closed, assigned to taffoureau

[2014-03-17 15:11] #77 closed, assigned to taffoureau

[2014-03-17 15:22] taffoureau commented on #67
Non corrigé.
Plusieurs problèmes :
- Dans les templates, l'affichage des thèmes INSPIRE est inchangé (mot-clé issu du thésaurus... avec des champs texte
- Une fois supprimé, le champ disparaît. Il faut le rajouter dans la vue complète
- Une fois ajouté, le mot-clé INSPIRE est bien ajouté dans la vue complète mais lorsqu'on retourne dans la vue INSPIRE le message d'erreur suivant apparaît :
  Atten

[2014-03-17 15:24] taffoureau commented on #70
Corrigé.

[2014-03-17 15:24] #70 closed, assigned to taffoureau

[2014-03-17 15:26] taffoureau commented on #74
Fait.

[2014-03-17 15:26] #74 closed, assigned to taffoureau

[2014-03-17 15:30] taffoureau commented on #69
Corrigé.

[2014-03-17 15:30] #69 closed, assigned to taffoureau

[2014-03-17 15:37] taffoureau opened #128 "Ajout de contacts depuis un annuaire"
Deux remarques :
- traduction infobulles sur la signification des boutons :
  Ajout sans xlink : pourquoi "par défaut" si une action est nécessaire?
  Ajout avec xlink : il y a une faute dans "annuraire"
- rôle : la liste doit être restreinte aux valeurs indiquées dans le cahier des charges également lors de l'ajout depuis un annuaire.

[2014-03-17 15:39] taffoureau commented on #62
Corrigé.

[2014-03-17 15:39] #62 closed, assigned to taffoureau

[2014-03-17 15:40] taffoureau commented on #65
Corrigé.

[2014-03-17 15:40] #65 closed, assigned to taffoureau

[2014-03-17 15:44] taffoureau opened #129 "Formulaire : "Plus de détail""
L'activation de cette option ne change rien dans la vue INSPIRE.

Je suis d'avis de la supprimer.

[2014-03-17 15:47] taffoureau commented on #51
Corrigé.

[2014-03-17 15:47] #51 closed, assigned to nobody

[2014-03-17 15:52] taffoureau opened #130 "Position du curseur après rafraichissement de la page"
par exemple, après l'ajout/suppression d'un champ  (eg contact sur les métadonnées), le curseur se déplace au milieu du formulaire. Or, celui-ci devrait rester positionné au niveau du même champ.

[2014-03-17 16:10] taffoureau commented on #56
OK, dans ce cas je propose quelque modification :
1) Une fois "non évalué" décoché, modifier le label en "Evalué" et le cocher.
2) Degré : le remplacer par "Conforme/Non conforme?" situé à droite du bouton-radio, en non gras et laisser de l'espace entre les deux (cf. point 1)
3) Supprimer le champ explanation

[2014-03-18 14:11] TERMEPhilippe opened #131 "Thesaurus Région (place)"
Renommer le thesaurus Region (Pays.rdf) en Pays

[2014-03-18 14:19] taffoureau commented on #58
Corrigé.

[2014-03-18 14:19] #58 closed, assigned to taffoureau

[2014-03-18 14:21] taffoureau commented on #75
Corrigé.

[2014-03-18 14:21] #75 closed, assigned to taffoureau

[2014-03-18 14:25] taffoureau commented on #47
Corrigé.

[2014-03-18 14:25] #47 closed, assigned to taffoureau

[2014-03-18 14:45] taffoureau opened #132 "Accès à la page catalog.signin"
L'accès à cette page se fait au moins à deux endroits:

1) Lorsque les identifiants de connexion renseignés sont incorrects --> OK pour renvoyer vers cette page mais plusieurs propositions:
- à quoi sert le bouton "s'identifier" à droite du nom du catalogue?
- renommer "Vous avez oublié vos données?" en "Vous avez oublié votre mot de passe?"
- Corriger "récupration"
- Renommer "Vous avez oublié vo

[2014-03-18 14:48] taffoureau commented on #132
![catalog signin](https://f.cloud.github.com/assets/2026724/2448958/4fc91ec4-aeac-11e3-8102-0572efcb5a87.png)

[2014-03-18 14:57] taffoureau commented on #66
Dans mon catalogue, le bouton est situé à gauche (ce qui me va) mais n'est pas suffisamment rapproché du champ "identificateur de ressource unique" (cf copie d'écran).
![bouton_generer_identifiant](https://f.cloud.github.com/assets/2026724/2449080/9a71d6f4-aead-11e3-825d-29efa7c35a9b.png)

[2014-03-18 15:23] taffoureau opened #133 "Fiches en consultation hors-cadre"
En consultation, les fiches peuvent être déplacées hors cadren mais il est ensuite impossible de les déplacer. cf copie d'écran.
![fiche_hors_cadre](https://f.cloud.github.com/assets/2026724/2449457/3e1ea54a-aeb1-11e3-8e2a-e4c5d1a71f33.png)

[2014-03-18 15:25] taffoureau commented on #81
Non corrigé : http://metadatacarmen.brgm-rec.fr/geosource/1000/fre/csw?REQUEST=GetRecordById&version=2.0.2&service=CSW&ID=de13c460-54c9-11dd-99f1-00004f6210c3&OutputSchema=http://www.isotc211.org/2005/gmd&elementSetName=full

[2014-03-19 09:54] fxprunayre commented on #133
Utiliser ESC pour fermer la popup.

[2014-03-19 10:04] fxprunayre commented on #132
C'est le titre de la page.

Je te laisse faire les modifs pour GéoSource https://github.com/geosource-catalogue/core-geonetwork/blob/develop/web-ui/src/main/resources/catalog/locales/fr-core.json. Ce ne sera pas appliqué à GN.

Appliquer à GN. https://github.com/geonetwork/core-geonetwork/commit/48b821a246257535aa05c2bd8621b38368635532

Non.

https://github.com/geosource-catalogue/core-geonetwork/

[2014-03-19 10:16] fxprunayre commented on #129
On ne peut pas savoir s'il y a des attributs ou pas dans une vue. Les options tooltip et plus de détail ne sont pas spécifiques à la vue mais s'appliquent à tous les onglets.

Dans le cas de GéoSource, tu as demandé à cacher les attributs de la vue INSPIRE justement
https://github.com/geosource-catalogue/core-geonetwork/commit/51f494cb3ccd7fe1e3af5cd73f03b45d27d10ebe

[2014-03-19 10:28] fxprunayre commented on #128
https://github.com/geonetwork/core-geonetwork/commit/8a1cf920e03732456a1932521f0c387fe5e01834

https://github.com/geonetwork/core-geonetwork/commit/1ca8b2dd84d1f2ce93e5fdaa96f2be79c1fb17d6

https://github.com/geonetwork/core-geonetwork/commit/c63ba1096067b6aeb2f14f1e85ea05dffe5c6d06

[2014-03-19 10:29] fxprunayre commented on #127
Est-ce qu'il n'était pas prévu de définir de revoir le contenu des tooltips ? avec même des contenus différents dans vue INSPIRE et les autres vues ?

[2014-03-19 10:31] fxprunayre commented on #99
Doublon #67

[2014-03-19 10:34] fxprunayre commented on #67
Pb dans les modèles de saisie et dans le titre du thésaurus. cf #67

Je ne reproduis pas. Le message d'alerte est affiché si un mot clé dans la fiche n'est pas trouvé dans le thésaurus référencé. Le but étant de ne pas perdre l'information dans la fiche (car le champ est sinon contraint au valeur du thésaurus).

[2014-03-19 14:04] fxprunayre commented on #127
Les champs de la vue INSPIRE configurés ici https://github.com/geosource-catalogue/core-geonetwork/blob/develop/web/src/main/webapp/WEB-INF/data/config/schema_plugins/iso19139/layout/config-editor.xml#L203 utilisent les label https://github.com/geosource-catalogue/core-geonetwork/blob/develop/web/src/main/webapp/WEB-INF/data/config/schema_plugins/iso19139/loc/fre/strings.xml#L34

[2014-03-21 14:36] taffoureau opened #134 "[Formulaire de saisie] Ne pas répéter le libellé d'un champ"
Le libellé d'un champ ne doit apparaître qu'une seule fois et doit toujours apparaître.

cf. maquettes.

[2014-03-21 14:38] taffoureau opened #135 "[Identificateur de ressource unique] utilisation du RS_Identifier"

[2014-03-24 14:06] taffoureau commented on #132
Peut être fait via les rewrites apache ?
==> fait.

C'est le titre de la page.
==> OK, je m'interrogeais surtout du fait que le bouton était cliquable...

[2014-03-24 14:06] #132 closed, assigned to nobody

[2014-03-24 14:07] taffoureau commented on #129
Déjà corrigé.

[2014-03-24 14:07] #129 closed, assigned to nobody

[2014-03-24 14:13] #99 closed, assigned to nobody

[2014-03-24 14:23] taffoureau commented on #80
Corrigé.

[2014-03-24 14:23] #80 closed, assigned to nobody

[2014-03-24 14:43] #53 closed, assigned to nobody

[2014-03-24 14:52] taffoureau opened #136 "Cardinalité des champs"
cf. tableau 1 dans le cahier des charges.

Problèmes constatés:
- Type de ressource : doit être unique (non répétable).
- Encodage: il n'est pas possible de le supprimer (pas de bouton proposé)
  Par ailleurs, la version ne doit p

[2014-03-24 15:17] #136 closed, assigned to fxprunayre

[2014-03-25 08:44] #105 closed, assigned to fxprunayre

[2014-03-25 09:01] taffoureau commented on #121
cf. https://github.com/geosource-catalogue/core-geonetwork/issues/56

[2014-03-25 09:01] #121 closed, assigned to fxprunayre

[2014-03-25 09:04] taffoureau commented on #118
cf. https://github.com/geosource-catalogue/core-geonetwork/issues/54

[2014-03-25 09:04] #118 closed, assigned to fxprunayre

[2014-03-25 09:06] taffoureau commented on #54
OK pour conserver le mécanisme actuel pour les valeurs recommandées.

[2014-03-25 09:06] #54 closed, assigned to fxprunayre

[2014-03-25 09:09] taffoureau commented on #120
cf. https://github.com/geosource-catalogue/core-geonetwork/issues/56

[2014-03-25 09:09] #120 closed, assigned to fxprunayre

[2014-03-25 09:13] taffoureau commented on #117
Préciser le fonctionnement.

[2014-03-25 09:19] taffoureau commented on #116
cf. https://github.com/geosource-catalogue/core-geonetwork/issues/117

[2014-03-25 09:19] #116 closed, assigned to fxprunayre

[2014-03-25 09:26] taffoureau commented on #113
cf. https://github.com/geosource-catalogue/core-geonetwork/issues/68

[2014-03-25 09:26] #113 closed, assigned to fxprunayre

[2014-03-25 09:26] taffoureau commented on #112
cf. https://github.com/geosource-catalogue/core-geonetwork/issues/68

[2014-03-25 09:26] #112 closed, assigned to fxprunayre

[2014-03-25 09:27] taffoureau commented on #111
Autocomplétion dans les autres vues uniquement.
cf. https://github.com/geosource-catalogue/core-geonetwork/issues/68

[2014-03-25 09:27] #111 closed, assigned to fxprunayre

[2014-03-25 09:29] taffoureau commented on #103
Non reproduit dans la dernière version livrée.

[2014-03-25 09:29] #103 closed, assigned to nobody

[2014-03-25 09:33] taffoureau opened #137 "Indication de chargement après action"
Par exemple, l'ajout d'un champ peut prendre quelques secondes ==> ajouter une icône permettant d'indiquer qu'un traitement est en cours et d'empêcher que d'autres actions soient réalisées par l'utilisateur avant la fin de ce traitement.

[2014-03-25 09:38] taffoureau commented on #110
Préciser le fonctionnement.

[2014-03-25 09:42] taffoureau commented on #60
Doublon.

[2014-03-25 09:42] #60 closed, assigned to fxprunayre

[2014-03-25 09:47] taffoureau commented on #73
OK pour le laisser là où il est.

[2014-03-25 09:47] #73 closed, assigned to fxprunayre

[2014-03-25 09:51] taffoureau commented on #71
OK pour le laisser visible dans cette version.

[2014-03-25 12:10] taffoureau opened #138 "Etendue temporelle - Eléments manquants"
Il manque le calendrier et la valeur "Maintenant".

[2014-03-25 12:24] taffoureau opened #139 "Modification de privilèges sur une sélection"
Dans la page de résultats, sélectionner plusieurs fiches, "autres actions" puis modifier les privilèges ==> le tableau avec la liste des groupes et les privilèges n'est pas affiché.

[2014-03-25 12:33] taffoureau opened #140 "Type de ressource doit être unique"
Ne pas proposer de bouton +

[2014-03-25 12:37] taffoureau opened #141 "Ajout d'un identificateur de ressource unique non supprimable"
L'ajout d'un champ "localisateur de la ressource" entraîne systématiquement l'ajout d'un champ "identificateur de ressource unique" (!) non supprimable.

[2014-03-25 12:40] fxprunayre commented on #139
See https://github.com/geonetwork/core-geonetwork/issues/427

[2014-03-25 12:43] taffoureau commented on #55
Champs concernés:
Encodage
Mot-clé
référentiel de coordonnées
Dates de référence

[2014-03-25 12:44] taffoureau opened #142 "Suppression du "s" dans "date de références""

[2014-03-25 12:49] fxprunayre commented on #142
e9a4d358cbe4fbcf664e45c3b7e4b0a771fa9e1b

[2014-03-25 12:50] taffoureau opened #143 "Mode d'affichage des catégories"
catégorie = regroupement de champs

La taille et la position du libellé de la catégorie doit être similaire aux autres champs. Les sous-champs de cette catégorie doivent être décalés vers la droite conformément aux maquettes.

Catégories non conformes : date de référence, résolution spatiale, rectangle de délimitation géo
catégories conformes: organisation responsable de la ressource, conformité,

[2014-03-25 12:53] taffoureau opened #144 "Problèmes liés à la résolution spatiale"
A l'ajout d'une nouvelle résolution, seule l'échelle est proposée (pas la distance).

Les valeurs recommandées pour l'échelle ne sont pas ajoutées dans le champ texte.

[2014-03-25 12:55] taffoureau opened #145 "Conditions applicables à l'accès et à l'utilisation"
Clic sur + --> ajout d'un champ "limitation d'utilisation" ==> conserver l'intitulé du champ
Valeurs de suggestion : "utilisation libre sous réserve …"  ==> sort du cadre + supprimer la valeur "données ouvertes" (dans le nouveau guide du CNIG cette valeur est ajoutée dans les mots-clés).

[2014-03-25 12:56] taffoureau opened #146 "Limitations d'accès public"
Clic sur + --> ajout de deux champs "Contraintes d'accès" et "autres contraintes" ==> seul le libellé "Limitations d'accès public" doit apparaître. Seules les valeurs contenues dans "Autres contraintes" doivent être affichées.
Dans le cdc, la description des valeurs devait être affichées dans des infobulles, au survol de la souris

[2014-03-25 12:58] taffoureau opened #147 "Meilleure séparation des éléments dans le formulaire"
Il doit y avoir des lignes séparatrices entre chaque champ (doivent être peu accentuées)
es informations sur la ressource ou les métadonnées doivent être davantage séparées (dans le cdc, il s'agit de deux blocs de couleur différente, avec un décalage vertical)

[2014-03-25 13:07] fxprunayre commented on #140
078852416cd12eab3a19614dbafcff02372158f6

[2014-03-26 09:17] taffoureau opened #148 "Problème moissonnage OAI"
La moisson OIA ne se fait pas. Il y a bien la requete ListIdentifiers qui passe, mais ensuite visiblement cela plante au premier traitement de GetRecord. Quand tu vas sur le nœud de moisson défini, on voit le message suivant :
Executing an update/delete query; nested exception is javax.persistence.TransactionRequiredException: Executing an update/delete query
Un probleme Java mais pas d’OAI.

[2014-03-26 09:22] fxprunayre commented on #148
Peux tu mettre la config du moissonnage pour pouvoir reproduire ? Merci

[2014-03-26 09:35] fxprunayre commented on #148
![image](https://f.cloud.github.com/assets/1701393/2522946/f69a9048-b4c9-11e3-865c-16b505c29ad5.png)

[2014-03-27 09:32] #128 closed, assigned to taffoureau

[2014-03-27 09:43] taffoureau opened #149 "Gestion du rôle pour les contacts"
Lors de l'ajout d'un contact depuis un annuaire, la liste proposée est la liste ISO complète. Or, il faudrait restreindre ces valeurs conformément au cahier des charges.

A noter que lorsqu'on ajoute une valeur qui ne fait pas partie de la liste restreinte (par exemple, "exécutant") il s'affiche une valeur vide même dans la vue complète.

[2014-03-27 09:44] taffoureau commented on #64
OK pour laisser la date de mise à jour au même niveau que les autres champs.

[2014-03-27 09:44] #64 closed, assigned to taffoureau

[2014-03-27 09:50] taffoureau commented on #63
OK pour les deux premiers points.

Le 3ème ne peut être testé car aucun contact n'est affiché après action "Ajouter" (y compris depuis l'annuaire). Fonctionne dans le cas du contact sur la ressource.

[2014-03-27 09:52] taffoureau commented on #61
OK pour la saisie manuelle d'un contact. A repréciser dans le cas de l'ajout depuis un annuaire (cf. https://github.com/geosource-catalogue/core-geonetwork/issues/149)

[2014-03-27 09:52] #61 closed, assigned to taffoureau

[2014-03-27 09:54] taffoureau commented on #34
Fait.

[2014-03-27 09:54] #34 closed, assigned to taffoureau

[2014-03-27 10:01] taffoureau commented on #32
Corrigé.

[2014-03-27 10:01] #32 closed, assigned to taffoureau

[2014-03-27 10:06] taffoureau opened #150 "Ajout favicon ne fonctionne pas"
L'ajout d'un logo pour le catalogue fonctionne.

Pour le favicon, un message affiche que la mise à jour a bien été effectuée mais l'image n'apparaît pas (message logs : WARN  [geonetwork.resources] - Resource not found, default resource returned: /images/logos/favicon.ico)

Non testé en mode monosite.

Par ailleurs, il y a un problème d'encodage dans les infobulles "l'utiliser pour le no&#339;ud"

[2014-03-27 10:10] taffoureau opened #151 "Gestion des ressources partagées (favicon) en mode multisite"
Potentiellement, certaines ressources ajoutée par des utilisateurs peuvent être supprimées par d'autres (par exemple, les logos).

Par ailleurs il n'a qu'un seul favicon pour l'ensemble des sites.

[2014-03-27 10:10] #31 closed, assigned to fxprunayre

[2014-03-27 10:11] #29 closed, assigned to taffoureau

[2014-03-27 10:11] #27 closed, assigned to taffoureau

[2014-03-27 10:12] #16 closed, assigned to taffoureau

[2014-03-27 10:16] taffoureau opened #152 "Supprimer le choix de la langue dans l'interface"
Par exemple, dans la page d'accueil en haut à droite.

[2014-03-27 10:27] taffoureau opened #153 "Valeurs incorrectes dans la liste du type de ressource"
La valeur "jeu de données non géographique" ne devrait pas apparaître dans la vue INSPIRE

[2014-03-28 06:40] fxprunayre commented on #153
Il ne peut y avoir de distinction par vue. Valeur de codelist cachée pour toutes les vues.

[2014-03-28 06:55] fxprunayre commented on #152
Déjà traité https://github.com/geosource-catalogue/core-geonetwork/commit/bc0785f33f46af7055452f9766c1b5caf8f28b72

[2014-03-28 07:06] fxprunayre commented on #150
Fix pour ajout d'un favicon.
2a4b44e8cc9be6d4716a6570f2636320291d1ad2

5a73181f5f04ccd640bcd164c1fe6506c17bdb74

idem

[2014-03-28 07:10] fxprunayre commented on #149
A priori non :

![image](https://cloud.githubusercontent.com/assets/1701393/2547004/cd1278f6-b647-11e3-8533-3334e370a2f3.png)

A priori non :

eg.

[code]

![image](https://cloud.githubusercontent.com/assets/1701393/2547008/fe4851a2-b647-11e3-93de-c6cfeda3e21a.png)

[2014-03-28 07:19] fxprunayre commented on #146
Also depend on de0581415cc948868c8dda7345dfd17a05cde8df

[2014-03-28 07:29] fxprunayre commented on #145
C'est le cas ?

![image](https://cloud.githubusercontent.com/assets/1701393/2547136/9ba76792-b64a-11e3-9bb8-310b2ef2584e.png)

La notion de retour à la ligne dans un élément HTML select > option ne semble pas être disponible (http://stackoverflow.com/questions/2864238/line-break-in-html-select-option). Options:

1) réduire la taille du libellé (pas la valeur)
2) passer en mode radio

[2014-03-28 08:30] fxprunayre commented on #148
Ca me semble ok (en lien avec des corrections moissonnages faites il y a 2 semaines probablement)

![image](https://cloud.githubusercontent.com/assets/1701393/2547266/8a966086-b64d-11e3-81fc-dbeda15a9961.png)

A retester. J'ai ajouter la possibilité de ne pas définir de set (ie. série) cf. d71879700f082aede022bbe7a302f76d21e9f9c9

[2014-03-28 08:48] fxprunayre commented on #144
Ajout des 2 options avec 2 boutons et libéllé explicite

![image](https://cloud.githubusercontent.com/assets/1701393/2547339/4117f9b8-b64f-11e3-9fb2-4d6983fb8cdc.png)

Note: du fait de #75, les attributs sont cachés dans la vue INSPIRE. L'unité est un attribut et n'est donc pas visible. Elle est cependant bien mise à jour en fonction des valeurs recommandées (https://github.com/geosource-catalogue

[2014-03-28 08:58] fxprunayre commented on #138
Sans faire du spécifique GéoSource, je propose ça en ajoutant la possibilité de faire un champ basé sur une valeur de codelist (https://github.com/geonetwork/core-geonetwork/blob/develop/web/src/main/webapp/WEB-INF/data/config/schema_plugins/config-editor.xsd#L492) :

![image](https://cloud.githubusercontent.com/assets/1701393/2547393/5b259094-b650-11e3-930a-0fbb56c3c604.png)

[2014-03-28 10:04] fxprunayre commented on #138
Fixed https://github.com/geonetwork/core-geonetwork/commit/4ca28bfe7f5d63b460f1d008c285051f5f90d444

[2014-03-28 10:33] fxprunayre commented on #135
Qu'est ce que ca veut dire ? Peux tu préciser le pb ?

Le CDC indique identificationInfo[1]/*/citation/MD_Identifier/identifier

[2014-03-28 10:36] fxprunayre commented on #141
Non reproductible. Peux tu préciser le scénario ?

[2014-03-28 10:36] taffoureau commented on #135
Pour version future. A compléter…

[2014-03-28 11:01] fxprunayre opened #154 "Editeur / vue INSPIRE / Contact ajouté via Xlink ne devrait pas être éditable"
Test:
- ajouter contact via XLink
- champ du contact éditable dans la vue INSPIRE (ok dans les autres vues).

[2014-03-28 11:17] fxprunayre commented on #154
https://github.com/geonetwork/core-geonetwork/commit/7254664541b393e9b015a394d2abf2306ee8384e

[2014-03-28 11:17] #154 closed, assigned to taffoureau

[2014-03-28 11:18] fxprunayre commented on #115
Traductions des principales erreurs XSD et ajout des noms des éléments en plus de la balise https://github.com/geonetwork/core-geonetwork/commit/1b1fe0da24a5c8db9b408fb52fd039ae0306a4d9

[2014-03-28 11:25] fxprunayre commented on #117
Il y a 2 cas :
- Le navigateur supporte les types HTML5 date, month, time. Dans ce cas, il est possible de choisir un type de date et le navigateur utilise ses propres contrôles pour la saisie des dates, mois, heures (les contrôles peuvent avoir un look différent selon les navigateurs et les terminaux utilisés)

![image](https://cloud.githubusercontent.com/assets/1701393/2548904/ec9e5fb4-b66a-11e3

[2014-03-28 11:26] fxprunayre commented on #124
Il est possible d'utiliser \* pour une recherche globale, ou "Eti*"

[2014-03-28 12:24] fxprunayre commented on #101
Fixed https://github.com/geonetwork/core-geonetwork/commit/8af109b7839300b4155920484a79ce15e9173793 (le formulaire doit être recharger en cas de suppression)

Rappel: il est toujours possible de basculer dans la vue complète pour ajouter des champs.

[2014-03-28 12:35] fxprunayre commented on #109
De mon côté ça joue sous Chrome et FF lors de modif à la main ou utilisation des boutons (sous Chrome qui supporte le type number).

[2014-03-28 12:47] fxprunayre commented on #63
Ca me semble ok ?

[2014-04-01 09:45] taffoureau commented on #152
Corrigé.

[2014-04-01 09:45] #152 closed, assigned to taffoureau

[2014-04-01 09:49] taffoureau commented on #150
Corrigé.

[2014-04-01 09:49] #150 closed, assigned to taffoureau

[2014-04-01 10:00] taffoureau opened #155 "Erreur 500 (monosite) suite à délogage"
Testé sous tomcat 6:

Etat HTTP 500 -

type Rapport d'exception

message

description Le serveur a rencontré une erreur interne () qui l'a empêché de satisfaire la requête.

exception

javax.servlet.ServletException: L'exécution du filtre (Filter) a lancé une exception
    org.springframework.web.filter.CharacterEncodingFilter.doFilterInternal(CharacterEncodingFilter.java:88)
    org.springframewo

[2014-04-01 11:48] fxprunayre commented on #145
Option 1 appliquée
https://github.com/geosource-catalogue/core-geonetwork/commit/1ff738a1a5a821c3fbe71736756ffb8a23305379

[2014-04-01 11:50] fxprunayre commented on #151
C'était le cas sous Jeevlet également : des ressources sont partagées, eg. thésaurus, logos

Supprimer cette notion qui est en générale gérée au niveau du site web principal ?

[2014-04-01 11:54] #140 closed, assigned to taffoureau

[2014-04-01 12:17] fxprunayre commented on #153
Configuration des codelists (éventuellement en fonction des informations de la fiche) https://github.com/geosource-catalogue/core-geonetwork/blob/develop/web/src/main/webapp/WEB-INF/data/config/schema_plugins/iso19139/loc/fre/codelists.xml#L1464

[2014-04-01 12:23] #149 closed, assigned to taffoureau

[2014-04-01 12:27] fxprunayre commented on #146
![image](https://cloud.githubusercontent.com/assets/1701393/2578860/ecd2e3de-b998-11e3-9146-6c89a43bd671.png)

[2014-04-01 12:29] #146 closed, assigned to taffoureau

[2014-04-01 12:33] fxprunayre commented on #145
Remplacer libellé  "limitation d'utilisation"  par "Condition ...."

[2014-04-01 12:41] fxprunayre commented on #144
A tester avec un bouton avec flêche (cf. vue avancée)

[2014-04-01 12:45] fxprunayre commented on #142
Ok en install local, vérifier en install multisite

[2014-04-01 12:53] fxprunayre commented on #141
Uniquement si pas de champ identifiant de ressource unique (interaction avec cardinalité 1 probable)

[2014-04-01 12:55] #139 closed, assigned to taffoureau

[2014-04-01 12:59] fxprunayre commented on #138
"bouton radio calendrier + bouton radio maintenant"

[2014-04-01 13:00] fxprunayre commented on #137
A appliquer :
- Changement de vue/onglet
- ajout/suppression d'élément
- ajout d'élément d'un annuaire (contact)
- ajout d'une section thésaurus
- ajout d'une projection
- ajout/suppression des actions ressources associées (imagette, fichier, ...)
- suggestion
- sauvegarde

Préparer une PR pour GN

[2014-04-01 13:11] fxprunayre commented on #125
Reproduit de temps en temps - difficile d'identifier le pb.

Solution de contournement : recharger la page

[2014-04-01 13:19] fxprunayre commented on #124
Interface de gestion : http://localhost:8080/geonetwork/srv/fre/catalog.edit#/directory

[2014-04-01 13:20] #117 closed, assigned to taffoureau

[2014-04-01 13:22] fxprunayre commented on #115
eg.
![image](https://cloud.githubusercontent.com/assets/1701393/2579381/a225e61c-b9a0-11e3-96ab-5c6dad74991b.png)

[2014-04-01 13:24] taffoureau commented on #110
A voir pour proposer les régions et communes.

[2014-04-01 13:41] fxprunayre commented on #147
Comme ça  ?

![image](https://cloud.githubusercontent.com/assets/1701393/2579610/3edd8850-b9a3-11e3-9fd1-79046b1f5f8e.png)

[2014-04-01 13:46] taffoureau commented on #147
Dans mon idée il ne fallait pas mettre de séparateur entre deux mêmes champs, par exemple entre deux localisateurs de la ressource... Surtout dans l'optique de ne conserver q'un seul libellé pour deux champs identiques..

[2014-04-01 14:16] #109 closed, assigned to taffoureau

[2014-04-01 14:18] #108 closed, assigned to taffoureau

[2014-04-01 14:19] taffoureau commented on #106
cf. https://github.com/geosource-catalogue/core-geonetwork/issues/127

[2014-04-01 14:19] #106 closed, assigned to taffoureau

[2014-04-01 14:33] fxprunayre commented on #101
Options:
- ne pas permettre la suppression d'un élément 1..1 dans la vue INSPIRE
- reload

[2014-04-01 14:35] #100 closed, assigned to nobody

[2014-04-01 14:40] taffoureau commented on #97
pb d'installation a priori.

[2014-04-01 14:40] #97 closed, assigned to nobody

[2014-04-01 14:42] taffoureau commented on #96
Pb lié à l'installation a priori.

[2014-04-01 14:42] #96 closed, assigned to nobody

[2014-04-01 14:42] taffoureau commented on #95
Non reproduit dans une version plus récente.

[2014-04-01 14:42] #95 closed, assigned to nobody

[2014-04-01 14:46] fxprunayre commented on #93
Non reproductible sous IE10 et IE9.

[2014-04-01 14:46] #93 closed, assigned to taffoureau

[2014-04-01 14:52] fxprunayre commented on #92
Cf. #24

[2014-04-01 14:52] taffoureau commented on #92
Fonctionne en monosite. à tester en multisite...

[2014-04-01 14:55] fxprunayre commented on #91
Ok sous Chrome, FF, IE en mode debug
Ko sous IE en mode prod

[2014-04-01 14:57] taffoureau commented on #90
lié à une mauvaise installation a priori...

[2014-04-01 14:57] #90 closed, assigned to nobody

[2014-04-01 14:58] taffoureau commented on #89
Non reproduit.

[2014-04-01 14:58] #89 closed, assigned to nobody

[2014-04-01 14:59] taffoureau commented on #88
Non reproductible.

[2014-04-01 14:59] #88 closed, assigned to nobody

[2014-04-01 15:02] taffoureau commented on #87
Non reproduit.

[2014-04-01 15:02] #87 closed, assigned to nobody

[2014-04-01 15:04] taffoureau commented on #86
Non reproductible.

[2014-04-01 15:04] #86 closed, assigned to nobody

[2014-04-01 15:06] #85 closed, assigned to nobody

[2014-04-01 15:07] #84 closed, assigned to nobody

[2014-04-01 15:10] taffoureau commented on #83
Erreur obtenue:
L'opération demandée ne peut être réalisée.
XPathException : A sequence of more than one item is not allowed as the first argument of concat()

[code]

[2014-04-01 15:10] #82 closed, assigned to nobody

[2014-04-01 15:20] fxprunayre commented on #67
Nouvelles modifs:
- Modifier la cardinalité : 1 seul thème INSPIRE.
- Une liste simple avec "thème INSPIRE" comme libellé

[2014-04-01 15:23] fxprunayre commented on #155
Tomcat 6 n'est plus supporté  :

[code]

[2014-04-01 15:23] #155 closed, assigned to fxprunayre

[2014-04-01 15:25] fxprunayre commented on #66
![image](https://cloud.githubusercontent.com/assets/1701393/2580841/e4fc4d80-b9b1-11e3-9f03-7a21db25b1f3.png)
?

[2014-04-01 15:34] taffoureau commented on #63
changer:
nom du point de contact en nom de l'organisation
email du poinr de contact en email de l'organisation

Supprimer la liste des rôles pour l'ajout depuis l'annuaire (uniquement pou rles métadonnées)

[2014-04-01 15:35] fxprunayre commented on #63
uniquement pour le contact de la métadonnée

[2014-04-01 15:38] taffoureau commented on #59
OK

[2014-04-01 15:38] #59 closed, assigned to taffoureau

[2014-04-01 19:35] fxprunayre commented on #134
Cf. https://github.com/geonetwork/core-geonetwork/issues/433

[2014-04-02 06:58] fxprunayre commented on #126
Il faudrait fournir la configuration du moissonnage pour pouvoir tester.

Avez vous renseigné le champ siteId (qui est obligatoire dans ce protocol) ?

Exemple d'erreur :

[code]

[2014-04-02 16:12] fxprunayre commented on #138
A discuter. Cf. https://github.com/geonetwork/core-geonetwork/issues/434

[2014-04-03 08:19] fxprunayre commented on #55
Ajouté.

A voir comment faire.

a priori ok :
![image](https://cloud.githubusercontent.com/assets/1701393/2593599/1d2afcde-ba83-11e3-854d-edfb6bf7fe07.png)

Si les dates ne sont pas remplies, elles ne sont pas sauvegardées dans la fiche.

[2014-04-03 11:53] fxprunayre commented on #138
Je propose l'approche suivante qui permet d'éditer de manière générique dans les différents cas l'attribut indeterminatePosition. Si la valeur maintenant ou inconnu est choisi, la date est mise à null.

La configuration est la suivante : https://github.com/geonetwork/core-geonetwork/blob/develop/web/src/main/webapp/WEB-INF/data/config/schema_plugins/iso19139/layout/config-editor.xml#L647

![image]

[2014-04-03 11:55] fxprunayre commented on #145
A tester

[2014-04-03 11:56] fxprunayre commented on #141
A tester

[2014-04-03 11:57] fxprunayre commented on #147
![image](https://cloud.githubusercontent.com/assets/1701393/2602903/2b219092-bb27-11e3-8336-d63e7b0071dc.png)

[2014-04-03 13:00] fxprunayre commented on #67
Fait.

Le mieux serait d'avoir un titre de thésaurus multilingues et afficher le titre en français. Sinon, ce sera un hack.

[2014-04-03 13:01] fxprunayre commented on #143
Quelques changements fait (sachant qu'ils vont probablement "casser" en partie l'aspect "responsive" apporté par bootstrap). Non appliqué à GeoNetwork.

[2014-04-07 12:07] fxprunayre commented on #6
Appliqué à GN https://github.com/geonetwork/core-geonetwork/commit/789e37e918d02a9f1289a9ddfc597055cc47c038

[2014-04-07 12:16] fxprunayre commented on #15
Testé l'import de http://www.geocatalogue.fr/Detail.do?id=155902 sans problème dans la base du compte 1045.

[2014-04-25 11:46] taffoureau commented on #147
OK!

[2014-04-25 11:46] #147 closed, assigned to taffoureau

[2014-04-28 09:52] #145 closed, assigned to taffoureau

[2014-04-28 09:52] #142 closed, assigned to taffoureau

[2014-04-28 09:57] taffoureau commented on #141
Corrigé.

[2014-04-28 09:57] #141 closed, assigned to taffoureau

[2014-04-28 11:25] #138 closed, assigned to taffoureau

[2014-04-28 11:32] taffoureau commented on #134
OK

[2014-04-28 11:32] #134 closed, assigned to taffoureau

[2014-04-28 11:37] #124 closed, assigned to taffoureau

[2014-04-28 11:38] #115 closed, assigned to taffoureau

[2014-04-28 11:39] #101 closed, assigned to fxprunayre

[2014-04-28 11:44] taffoureau commented on #63
Non corrigé, la liste restreinte est toujours proposée. De plus, lorsqu'une valeur autre que "point de contact" est saisie le contact ajouté n'apparaît pas dans la vue INSPIRE (je la retrouve bien dans la vue complète).

[2014-04-28 12:24] #20 closed, assigned to fxprunayre

[2014-04-28 12:36] taffoureau commented on #15
Pour ma part j'ai une erreur à l'import, y compris sur le compte 1045.

Ce genre d'identifiant (2163 caractères) est sensé passer d'un champ de type character varying(255)?

Résultat de l'import de métadonnées :

Erreur lors de l'insertion de la métadonnée :

could not execute batch; SQL [insert into Metadata (data, changeDate, createDate, displayorder, doctype, popularity, rating, root, schemaId,

[2014-04-28 12:40] #41 closed, assigned to fxprunayre

[2014-04-28 12:40] #42 closed, assigned to taffoureau

[2014-04-28 12:53] taffoureau opened #156 "(admin) Gestion des utilisateurs / modification de l'adresse"
Scénario:

*création d'un utilisateur en mode éditeur --> enregistrer --> OK

*Modification du même utilisateur en modifiant un des champs de l'adresse (par exemple, région) --> erreur:

userUpdateError
DataIntegrityViolationException

[code]

[2014-04-28 13:04] taffoureau commented on #98
Corrigé.

[2014-04-28 13:04] #98 closed, assigned to taffoureau

[2014-04-28 13:11] taffoureau opened #157 "Vue complète / onglet md constraintes"
libellé de l'onglet à corriger.

[2014-04-28 14:09] taffoureau opened #158 "Distance de résolution / unité"
L'unité de distance n'est pas proposée dans la vue INSPIRE.

Par ailleurs, une erreur apparaît lorsque le couple valeur/unité est renseigné:

cvc-complex-type.3.2.2: Attribute 'uom' is not allowed to appear in element 'gmd:distance'. (Element: gmd:distance with parent element: gmd:MD_Resolution)

Voici ce qui est stocké dans le XML:

[code]

[2014-04-28 14:14] taffoureau commented on #144
Uniquement sous firefox. fonctionne sous Chrome.

[2014-04-28 14:15] taffoureau opened #159 "Conditions applicables à l'accès et à l'utilisation / deux boutons ajouter"
Présence de deux boutons ajouter + au niveau du champ "Conditions applicables à l'accès et à l'utilisation"

[2014-04-28 14:19] taffoureau opened #160 "Valeurs vide dans liste indeterminatePosition"
cf. copie d'écran. Cela semble se produire lorsqu'on passe en vue complète puis en vue INSPIRE.
![nouvelle image 3](https://cloud.githubusercontent.com/assets/2026724/2818013/1f123d20-cee0-11e3-89cc-68f982ac4bec.png)

[2014-04-28 14:23] taffoureau opened #161 "Fixer la valeur de IndeterminatePosition (date de fin) à "maintenant""
Fixer la valeur de IndeterminatePosition (date de fin) à "maintenant" dans la liste déroulante proposée : dans la vue INSPIRE, cacher les valeurs après, avant, inconnue.

[2014-04-28 14:25] taffoureau opened #162 "Champs date de référence /Boutons supprimer non proposés"
valable pour toutes les dates proposées dans la catégorie "date de référence".

[2014-04-28 14:26] taffoureau opened #163 "Supprimer le bouton "besoin d'aide" dans le formulaire"

[2014-04-28 14:52] taffoureau opened #164 "Processus en batch / engendre un pb d'encodage"
Comportement étrange dans le cas où un caractère accentué est présent dans le nom du catalogue (eg Géosource) :

1- Modification du host dans "Paramètres" --> le bouton "modifier les URL' s'affiche --> clic --> le nom du catalogue est changé en "Mon gÃ©osource"

2 - Changement des urls directement depuis "Outils/processus en batch" --> si rien n'est saisi dans les champs texte devant contenir les

[2014-04-28 15:41] fxprunayre commented on #163
Mettre l'adresse mongeosource.fr

[2014-04-28 15:48] fxprunayre commented on #158
Should be

[code]

[2014-04-28 15:50] #153 closed, assigned to taffoureau

[2014-04-28 15:58] fxprunayre commented on #143
A améliorer:
- titre date de référence, résolution
- étendue : une seule section

[2014-04-28 16:25] fxprunayre commented on #157
https://github.com/geonetwork/core-geonetwork/commit/98829a81f000b88757d5e2b2fded824bff68529b

[2014-04-28 16:31] fxprunayre commented on #163
Fait https://github.com/geosource-catalogue/core-geonetwork/commit/2d6ae553c3b7d1117c006fa57ed5076a71ad407e

Il faudra mettre à jour la version de la doc sur mon geosource car des sections de la doc ne sont pas les dernières eg. http://geonetwork-opensource.org/manuals/trunk/fra/users/editor/metadata_link/linking.html

[2014-04-28 17:35] fxprunayre commented on #160
Corrigé dans https://github.com/geonetwork/core-geonetwork/commit/6e0f54da6e2cc5016a6a00f5a40d7ddbf3b0df34

[2014-04-28 17:36] fxprunayre commented on #158
Corrigé https://github.com/geonetwork/core-geonetwork/commit/07df93c54b9c95b0f1f9965f1e264259368f2a26

[2014-04-28 17:37] fxprunayre commented on #144
Non reproductible (peut être que la correction de #158 est en lien).

[2014-04-29 06:28] fxprunayre commented on #156
Cf. https://github.com/geonetwork/core-geonetwork/issues/481

[2014-04-29 06:37] fxprunayre commented on #156
Corrigé dans GN et aligné dans GS

[2014-04-29 07:20] fxprunayre commented on #81
Pour se débarrasser du profil France :
- Sauvegarder la base !
- Se connecter en Admin
- Rechercher toutes les fiches à traiter (eg. schema iso19139.fra) http://localhost:8080/geonetwork/srv/eng/q?_schema=iso19139.fra&_isTemplate=y or n&summaryOnly=true
- Selectionner tout http://localhost:8080/geonetwork/srv/eng/metadata.select?selected=add-all
- Exécuter http://localhost:8080/geonetwork/srv/eng/

[2014-04-29 07:28] fxprunayre commented on #125
A priori corrigé grâce à https://github.com/geonetwork/core-geonetwork/commit/4c8aeeda8e28d2f75d06d9275e695702ee7bed87

[2014-04-29 09:47] taffoureau commented on #11
Finalement, on revient sur la première solution pour l'écriture de l'identifiant, à savoir http://[adresse-du-catalogue]/[UUID de la fiche]

[2014-04-29 10:00] #126 closed, assigned to taffoureau

[2014-04-29 10:00] #125 closed, assigned to taffoureau

[2014-04-29 10:07] fxprunayre commented on #92
Ajouter URIEncoding dans conf/server.xml:

[code]

Peut corriger le #164 également

[2014-04-29 10:13] #92 closed, assigned to taffoureau

[2014-04-29 10:18] fxprunayre commented on #67
Ajouter un bouton pour ajouter si non présent.

[2014-04-29 14:25] #13 closed, assigned to taffoureau

[2014-04-29 14:31] fxprunayre commented on #127
Indiquer pour chaque champ dans strings.xml l'élément correspondant dans labels.xml
eg.
https://github.com/geosource-catalogue/core-geonetwork/blob/develop/web/src/main/webapp/WEB-INF/data/config/schema_plugins/iso19139/loc/fre/strings.xml#L49
https://github.com/geosource-catalogue/core-geonetwork/blob/develop/web/src/main/webapp/WEB-INF/data/config/schema_plugins/iso19139/loc/fre/labels.xml#L1195

[2014-04-30 08:39] #66 closed, assigned to fxprunayre

[2014-04-30 08:39] fxprunayre commented on #127
Fait cf. exemple https://github.com/geosource-catalogue/core-geonetwork/blob/develop/web/src/main/webapp/WEB-INF/data/config/schema_plugins/iso19139/layout/config-editor.xml#L217

[2014-04-30 08:42] fxprunayre commented on #63
Afficher tous les contacts.

[2014-04-30 08:46] #52 closed, assigned to nobody

[2014-04-30 08:50] fxprunayre commented on #50
Testé avec le mots clés WISE. Semble ok.

[2014-04-30 08:50] #50 closed, assigned to taffoureau

[2014-04-30 08:53] fxprunayre commented on #26
Fait pour les mots clés https://github.com/geonetwork/core-geonetwork/pull/477

[2014-04-30 08:58] #14 closed, assigned to taffoureau

[2014-04-30 09:02] #2 closed, assigned to taffoureau

[2014-04-30 12:48] fxprunayre commented on #67
Fixed https://github.com/geosource-catalogue/core-geonetwork/commit/968a5aa0b994cecc1330b7c878d9dcffc951e684

[2014-04-30 12:49] fxprunayre commented on #63
Fait dans https://github.com/geosource-catalogue/core-geonetwork/commit/98e81bdacaf42d2c15662546f7915566263c3f41

[2014-05-07 08:32] fxprunayre opened #165 "Editeur / Mots clés avec XLink = échec de validation"
Rapporté par Isabelle Mallet:

l'ajout d'un mot-clé à partir d'un thésaurus (ex : GEMET Inspire) comme "Lien" provoque une erreur de validation de la fiche

[code]

[2014-05-07 08:33] fxprunayre commented on #165
En effet, le xlink devrait être ajouté à l'élément parent gmd:descriptiveKeywords. Quoiqu'il en soit, le document après résolution des XLinks (envoyé lors du moissonnage par exemple) est valide. Il faudrait améliorer l'éditeur sur ce point.

Note: C'est ok pour les contacts.

[2014-05-15 10:01] taffoureau opened #166 "Conformité non évaluée / Valeur du gmd:pass"
Actuellement, une conformité INSPIRE est considérée comme non évaluée lorsqu'aucun élément dataquality/report n'est présent dans le fichier XML.

Dans la dernière version du Technical Guideline, il est demandé d'ajouter un attribut nilReason="Unknown" au niveau de l'élément gmd:pass.
Voir http://inspire.ign.fr/sites/all/files/inspire/md_ir_and_iso_20131029.pdf#page=48

[2014-06-03 15:48] TERMEPhilippe opened #167 "Gestion des Annuaires"
Actuellement, impossible de créer un nouveau Element de contact sauf par ajout d'un fragment xml.
Il faudrait que l'ajout d'un contact s'appuie sur le contact modèle Organisation : Nom mais NE LE REMPLACE PAS !
ps( en version 9.2 possiblité de dupliquer le contact que l'on ne retrouve pas ici)

[2014-06-03 15:50] TERMEPhilippe opened #168 "Logo Organisation par upload d'image dans l'éditeur"
Pourrait-on offrir la possibilité d'ajouter un logo "Producteur" dans la gestion des Annuaires par import d'un fichier image.
La balise
 gmd:contactInstructions
<gmx:FileName src="URL du logo">Logo/gmx:FileName
/gmd:contactInstructions

permet cela il me semble

[2014-06-03 15:57] TERMEPhilippe opened #169 "Ajout d'un contact dans la fiche de métadonnées"
Suite à l'ajout d'un contact de l'annuaire, seuls les champs organisation, email et Role sont visibles dans la fiche de métadonnées (vue INSPIRE) alors que d'autres champs existent, par exemple nom ou adresse :
![contact](https://cloud.githubusercontent.com/assets/6795250/3162681/b5962676-eb37-11e3-95de-a71183befe3d.jpeg)

Il faudrait que tous les champs apparaissent

[2014-06-03 16:03] TERMEPhilippe opened #170 "Batch replacer"
La tentative d'utilisation du batch Replacer s'est soldé par un echec (Process Error)
![batcht](https://cloud.githubusercontent.com/assets/6795250/3162752/81901eda-eb38-11e3-9425-bf90b9eca455.jpeg)

[2014-06-09 07:55] taffoureau commented on #163
L'adresse est incorrecte :
http://www.mongeosource.fr/docs/editor/index.html
au lieu de
http://www.geosource.fr/docs/editor/index.html

Pour info, la doc a été mise à jour.

[2014-06-09 07:58] taffoureau commented on #160
Corrigé.

[2014-06-09 07:58] #160 closed, assigned to taffoureau

[2014-06-09 08:00] taffoureau commented on #158
Corrigé.

[2014-06-09 08:00] #158 closed, assigned to taffoureau

[2014-06-09 08:05] taffoureau commented on #156
corrigé.

[2014-06-09 08:05] #156 closed, assigned to taffoureau

[2014-06-09 08:15] fxprunayre commented on #163
Ce serait bien quelle soit commitée dans GeoNetwork avec une Pull Request https://github.com/geonetwork/core-geonetwork/tree/develop/docs sinon ca va être perdu d'autant plus qu'il y a des travaux en cours sur le sujet (par @jeanpommier et @hardmountain aka Patrizia).

[2014-06-09 08:34] taffoureau commented on #144
Corrigé.

[2014-06-09 08:34] #144 closed, assigned to taffoureau

[2014-06-09 08:36] taffoureau commented on #143
OK.

[2014-06-09 08:36] #143 closed, assigned to taffoureau

[2014-06-09 08:38] taffoureau commented on #63
corrigé.

[2014-06-09 08:38] #63 closed, assigned to taffoureau

[2014-06-09 08:45] taffoureau commented on #56
Je n'arrive pas à voir l'option "non évalué", par défaut j'ai uniquement le libellé "conformité" avec le bouton +

Lorsque je clique dessus j'ai les champ "specification" avec les boutons radios qui apparaissent et si je clique sur "supprimer" je reviens à l'étape précédente sans l'option "non évalué"

[2014-06-09 09:25] taffoureau commented on #28
Corrigé.

[2014-06-09 09:25] #28 closed, assigned to taffoureau

[2014-06-09 10:09] taffoureau commented on #170
Pouvez-vous svp indiquer votre configuration et envoyer le contenu de votre catalogue (export zip)?

[2014-06-09 10:11] taffoureau commented on #169
C'est normal, les autres champs ne sont pas des champs INSPIRE, ils ne sont donc pas disponibles dans cette vue.

[2014-06-09 10:11] #169 closed, assigned to nobody

[2014-06-09 10:12] taffoureau commented on #168
Un logo peut être ajouté dans l'annuaire, mais il faut d'abord l'importer dans la partie "gestion des logos" dans l'admin.

[2014-06-09 10:14] taffoureau commented on #167
Il est possible de créer un nouveau contact dans l'annuaire en cliquant sur dupliquer.

[2014-06-09 13:51] fxprunayre commented on #163
Commits reportés dans GN https://github.com/geonetwork/core-geonetwork/commits/stable-develop puis alignement de la branche develop de GS sur la branche stable-develop de GN pour rapatriement des commits.

[2014-06-09 15:23] jeanpommier commented on #163
Salut François,

Merci pour les infos.
Ca s'est bien passé le retour ?
@+

Jean

2014-06-09 15:51 GMT+02:00 François Prunayre notifications@github.com:

[2014-06-09 21:54] hardmountain commented on #163
Many thanks François!

Il 09/06/2014 15:51, François Prunayre ha scritto:

[2014-06-11 12:37] TERMEPhilippe commented on #168
bonjour;
j'ai eu beau explorer la gestion des annuaires, je n'ai pas trouvé
l'endroit pour associer un logo (disponible dans la banque de logo de
Geosource) à un producteur.
Pourriez-vous m'apporter les précisions de cheminement nécessaires ?

Merci

*Philippe TERME
*Administrateur des données
Administrateur général de Sigloire

*DREAL Pays de la Loire
*Service Connaissance des Territoires
Divisio

[2014-06-11 12:53] taffoureau opened #171 "Pb d'accès à la page d'import de mtds en mode multisite"
Lorsque je clique dans administration sur Importer/exporter j'ai une erreur 404. Il semble qu'il essaie de basculer sur le noeud par défaut (srv).

http://geosourcemulti.brgm-rec.fr/geosource/srv/fre/node-change-warning?oldUserName=admin&redirectedFrom=%2Fgeosource%2Fsrv%2Ffre%2Ffind&oldNodeId=1000

[2014-06-11 13:27] fxprunayre commented on #171
Corrigé dans le nouvel installer.

[2014-06-11 14:08] #12 closed, assigned to taffoureau

[2014-06-11 14:21] taffoureau opened #172 "Génération d'un identifiant de la ressource / pb d'accès aux fiches XML"
Suite à la génération d'un identifiant de la ressource, l'URL générée ne permet pas d'accéder à la fiche XML :
Exemple : http://geosourcedemo.brgm.fr/geosource/b7d1218c-f9e8-40a0-a6fc-021f9905c756
renvoie :You do not have the correct permissions to access the following service "/geosource/b7d1218c-f9e8-40a0-a6fc-021f9905c756"

Pourtant la fiche est bien publiée.

[2014-06-12 06:03] fxprunayre commented on #172
On va peut être mettre l'URL du GetRecordById si l'identifiant doit être une URL ;)

[2014-06-12 06:05] fxprunayre commented on #172
Du coup, en mode multinode, l'identifiant n'est pas valide avec la règle actuelle
http://geosourcedemo.brgm.fr/geosource/b7d1218c-f9e8-40a0-a6fc-021f9905c756
devrait être
http://geosourcedemo.brgm.fr/geosource/{{nodeid}}/b7d1218c-f9e8-40a0-a6fc-021f9905c756
?

Est-ce que cela doit renvoyer la fiche en HTML ou en XML ?

Pour info en ISO19115-1, l'élément metadata contient une balise metadatalinkage

[2014-06-12 07:05] fxprunayre commented on #172
Règle de redirection corrigée https://github.com/geonetwork/core-geonetwork/issues/551 mais ne fonctionnera qu'en mode node unique et redirige vers une page HTML (comportement par défaut dans GeoNetwork).

[2014-06-12 07:48] taffoureau commented on #172
OK, prévoir une évolution pour une version prochaine...

[2014-06-12 07:48] #172 closed, assigned to fxprunayre

[2014-06-12 07:52] fxprunayre commented on #172
Ok, mais du coup, comment faire en module multinode ? Si l'URL ne contient pas l'info sur le noeud, il faudra l'identifier ? c'est à dire indexer pour chaque noeud la liste des UUIDS des fiches ?

[2014-06-12 08:18] #171 closed, assigned to taffoureau

[2014-06-12 08:19] taffoureau commented on #15
A modifier en base directement si besoin.

[2014-06-12 08:19] #15 closed, assigned to taffoureau

[2014-06-12 08:24] taffoureau opened #173 "processus en batch / batch replacer"
Dans Géosource démo (geosourcedemo.brgm.fr/geosource/) j'ai une option qui est disponible dans la partie "processus en batch" : "batch replacer"

N'apparaît pas dans la version du war datant du 12/06...

[2014-06-12 08:24] taffoureau commented on #6
OK.

[2014-06-12 08:24] #6 closed, assigned to taffoureau

[2014-06-12 08:27] taffoureau commented on #172
Il me semble que c’était ce qui était prévu au départ : https://github.com/geosource-catalogue/core-geonetwork/issues/5 ?

Par contre, il faudra bien pointer vers la fiche XML.

[2014-06-12 08:29] taffoureau commented on #4
OK.

[2014-06-12 08:29] #4 closed, assigned to taffoureau

[2014-06-12 08:31] taffoureau opened #174 "Pb déconnexion en multinode"
Renvoie avec une erreur 404, vers le noeud par défaut:
http://geosourcemulti.brgm-rec.fr/geosource/srv/fre/find?node=srv

[2014-06-12 08:35] fxprunayre commented on #174
Et donc aucun noeud n'est lancé ? y a-t-il des noeuds configurés dans WEB-INF/config-node/*.xml ?

[2014-06-12 08:36] taffoureau commented on #174
Les tests sont effectués sur le 1000. C’est le seul configuré.

[2014-06-12 08:38] taffoureau commented on #163
Lien corrigé.

[2014-06-12 08:38] #163 closed, assigned to taffoureau

[2014-06-12 08:38] fxprunayre commented on #173
A priori l'installer du 12 repose sur
https://github.com/geosource-catalogue/core-geonetwork/blob/develop/web-ui/src/main/resources/catalog/config/batch-process-cfg.json
qui est le même que
http://geosourcedemo.brgm.fr/geosource/catalog/config/batch-process-cfg.json

Je ne reproduis pas en local.

[2014-06-12 08:40] fxprunayre commented on #174
Donc c'est normal que le noeud "srv" ne réponde pas s'il n'est pas configuré.

[2014-06-12 08:40] taffoureau commented on #173
Problème lié au multinode ?

[2014-06-12 08:41] taffoureau commented on #174
D’accord pour l’erreur 404 mais ne devrait-il pas rester sur le nœud de départ (1000) ?

[2014-06-12 09:01] fxprunayre commented on #173
De mon côté ça fonctionne en multinode sans pb. Des erreurs JS ?

[2014-06-12 12:16] taffoureau opened #175 "Calcul automatique de topicCategory à partir du thème INSPIRE saisi"
Ne fonctionne pas. N'est même pas proposé dans l'outil de suggestions.

[2014-06-12 12:20] taffoureau opened #176 "Publication d'une ressource en ligne en WMS, ..."
Action en édition: Ajouter une ressource en ligne, puis clic sur ajouter un lien ou un fichier --> l'option publier en WMS, WFS ou WCS est proposé.

Par défaut, ne devrait pas être proposé dans Géosource.

[2014-06-12 12:27] fxprunayre commented on #176
Pourquoi ? Des utilisateurs comme le GrandLyon l'utilisent.

De plus l'option est proposée, mais tant qu'il n'y a pas de serveurs cartographiques configurés dans l'admin aucune action particulière ne peut être réalisée (cf. http://localhost:8080/geonetwork/srv/fre/admin.console#/settings/mapservers).

Une amélioration possible serait d'indiquer par un message qu'aucun serveur n'est configuré et qu

[2014-06-12 12:28] taffoureau commented on #176
en effet il faudrait l'indiquer dans ce cas.

[2014-06-12 13:06] fxprunayre commented on #175
Par ailleurs, le fait de maintenant contraindre les thèmes INSPIRE à un seul, lors du mapping un seul thème est ajouté (un peu en contradiction avec http://georezo.net/wiki/main/donnees/inspire/aide_a_la_saisie_des_metadonnees_inspire#categorie_thematique).

[2014-06-12 13:10] taffoureau opened #177 "Nom de la table attributaire non modifiable"
En édition d'un catalogue attributaire, le champ n'est pas modifiable. Apparaît pourtant lorsqu'il existe dans le fichier XML (cf modèle ISO 19110).

[code]

[2014-06-12 13:24] fxprunayre commented on #177
GN ref https://github.com/geonetwork/core-geonetwork/issues/555

[2014-06-12 13:26] fxprunayre commented on #177
Corrigé

[2014-06-12 13:50] taffoureau commented on #162
As-tu pu regarder? C'est embêtant car des erreurs sont remontées lors de la validation si une des dates n'est pas remplie:
Valeur manquante ou invalide. '' n'est pas une valeur valide pour Date (gco:Date) dont le parent est Date (gmd:date).

[2014-06-12 14:23] fxprunayre commented on #162
Qu'est ce que tu fais comme manip exactement ? De mon côté ça fonctionne. Par contre, il ne faudrait pas avoir des éléments avec des dates vides dans le modèle de départ, car si l'éditeur ne la saisie elle va pas être supprimée - il peut la laisser vide et dans ce cas j'ai bien l'erreur.

[2014-06-12 14:27] taffoureau opened #178 "Présence d'un groupe "undefined" dans la recherche"
Dans la recherche avancée, critère "groupe", j'ai:
undefined
Invité
Public
Privé

Testé sur un catalogue vierge (base vide).

[2014-06-12 14:35] taffoureau commented on #162
OK, j'ai compris. Balises XML à supprimer du modèle donc.

[2014-06-12 14:35] #162 closed, assigned to fxprunayre

[2014-06-12 14:37] fxprunayre commented on #178
Que retourne http://localhost:8080/geonetwork/srv/fre/xml.info?type=groups ?

Devrait être :

[code]

[2014-06-12 14:42] taffoureau commented on #178
http://geosourcemulti.brgm-rec.fr/geosource/1000/srv/fre/xml.info?type=groups renvoie une erreur : You do not have the correct permissions to access the following service "/geosource/1000/srv/fre/xml.info?type=groups"

[2014-06-12 15:39] fxprunayre commented on #178
Ok plus visible sous FF. GeoNetwork ref https://github.com/geonetwork/core-geonetwork/issues/556

[2014-06-12 15:49] fxprunayre commented on #178
Corrigé dans GN et GS.

[2014-06-13 08:57] fxprunayre commented on #174
Je sais pas quel est le scénario ?

Si on accède à http://geosourcemulti.brgm-rec.fr/geosource/srv/fre/find?node=srv et que l'adresse n'existe pas il retourne 404. il va pas rediriger vers le noeud 1000.

[2014-06-13 09:00] fxprunayre commented on #174
Sur logout donc.

[2014-06-13 09:34] taffoureau commented on #170
Attention, il y a deux éléments "contact" dans DataIdentification:
CI_Citation>...
et
PointofContact>... ==> responsable de la ressource INSPIRE

[2014-06-13 09:38] #170 closed, assigned to nobody

[2014-06-13 09:42] taffoureau commented on #168
Il faut procéder de la sorte:
1) importer un logo dans Paramètres>logo
2) Aller dans Thésaurus>Annuaires
puis modifier un contact, au niveau de l'élément "instructions sur le contact", sélectionner "nom du fichier", puis sélectionner le logo importé en 1)

[2014-06-13 09:44] taffoureau commented on #131
Prochaine version.

[2014-06-13 10:03] TERMEPhilippe commented on #168
ok ça marche en V2.11.
Petit problème d'affichage du champ Texte en V2.9.2 selon les navigateurs (ok avec Chrome 35, nok avec Firefox 24)

[2014-06-13 10:03] #168 closed, assigned to nobody

[2014-06-13 13:08] taffoureau commented on #173
Corrigé. J'avais donc un seul noeud de configuré : 1000.xml avec <property value="false" name="defaultNode"/>

[2014-06-13 13:08] #173 closed, assigned to fxprunayre

[2014-06-13 13:09] taffoureau commented on #173
Corrigé.

[2014-06-13 13:26] TERMEPhilippe commented on #167
Vu, l'ergonomie pourrait être revue pour être cohérente avec les autres fonctions d'ajouts d'items de Geosource
- une icône [+] ajoute un nouvel élément avec sections : exemple Nouveau contact
  ![nouveau contact](https://cloud.githubusercontent.com/assets/6795250/3270271/fc4877a4-f2fd-11e3-80ce-5e18e0b70c7b.jpeg)

[2014-06-13 13:37] TERMEPhilippe opened #179 "Encodage de la fonctionnalité Batch replace"
Petit problème d'encodage des  accents : ce qui est demandé
![batch_replace_organisation](https://cloud.githubusercontent.com/assets/6795250/3270428/e05d1516-f2ff-11e3-9aa9-09a3ebe342fa.jpeg)

Le résultat
![rsultat_batch](https://cloud.githubusercontent.com/assets/6795250/3270419/cea5a1ee-f2ff-11e3-8884-98273fd4af78.jpeg)

[2014-06-13 13:51] fxprunayre commented on #167
Côté ergonomie, demande d'évol similaire https://github.com/geonetwork/core-geonetwork/issues/404

Si le ticket concerne "dupliquer le contact que l'on ne retrouve pas ici", on peut fermer ?

[2014-06-13 13:57] #67 closed, assigned to fxprunayre

[2014-06-13 13:58] fxprunayre commented on #179
Fonctionne sur une version standard

![image](https://cloud.githubusercontent.com/assets/1701393/3270649/b2b28d64-f302-11e3-83cd-92a59714d542.png)

Sans doute problème d'install sous tomcat ?

[2014-06-13 13:59] #167 closed, assigned to nobody

[2014-06-13 13:59] #177 closed, assigned to taffoureau

[2014-06-13 13:59] #1 closed, assigned to taffoureau

[2014-06-13 14:01] TERMEPhilippe commented on #179
Testé sous version demo de geousource.fr

[2014-06-13 14:13] taffoureau opened #180 "Génération d'un identifiant de la ressource / pb d'accès aux fiches"
cf. discussion https://github.com/geosource-catalogue/core-geonetwork/issues/172

Le lien suivant devrait permettre d'accéder à la fiche HTML correspondante, ce qui n'est pas le cas:
http://geosourcedemo.brgm.fr/geosource/d052237a-9fca-4590-926a-72b268be194e

![fireshot screen capture 045 - gosource de dmo - geosourcedemo_brgm_fr_geosource_srv_eng_service-not-allowed_referer _geosource_d052237a-9f

[2014-06-13 14:43] fxprunayre commented on #180
Doublon cf #5

[2014-06-13 14:43] #180 closed, assigned to fxprunayre

[2014-06-13 15:26] taffoureau commented on #178
Corrigé après redéploiement du war.

[2014-06-13 15:26] #178 closed, assigned to taffoureau

[2014-06-13 15:42] taffoureau opened #181 "Autres actions/ massive replacements"
Suite au déploiement du war datant du 13/06 14:06

J'ai un "massive replacements" qui apparaît dans la page de résultats, dans autres actions sur la sélection. Cela renvoie vers une page en anglais correspondant au "batch replacer" disponible en admin (dans "outils").

[2014-06-13 15:47] taffoureau commented on #175
Corrigé.

[2014-06-13 15:47] #175 closed, assigned to taffoureau

[2014-06-13 15:47] taffoureau commented on #174
Corrigé.

[2014-06-13 15:47] #174 closed, assigned to fxprunayre

[2014-06-13 15:48] taffoureau commented on #164
Non reproduit dans les versions récemment déployées.

[2014-06-13 15:48] #164 closed, assigned to fxprunayre

[2014-06-13 15:49] taffoureau commented on #159
Corrigé.

[2014-06-13 15:49] #159 closed, assigned to fxprunayre

[2014-06-13 15:50] taffoureau commented on #157
Corrigé.

[2014-06-13 15:50] #157 closed, assigned to fxprunayre

[2014-06-13 15:50] taffoureau commented on #127
OK.

[2014-06-13 15:50] #127 closed, assigned to taffoureau

[2014-06-13 15:51] taffoureau commented on #83
Non reproduit.

[2014-06-13 15:51] #83 closed, assigned to fxprunayre

[2014-06-13 15:52] taffoureau commented on #68
Voir à l'usage si on fait quelque chose de plus simple avec la liste restreinte.

[2014-06-13 15:52] #68 closed, assigned to fxprunayre

[2014-06-13 15:52] taffoureau commented on #55
Corrigé.

[2014-06-13 15:52] #55 closed, assigned to fxprunayre

[2014-06-13 16:10] taffoureau commented on #10
OK pour rester sur la solution suivante pour la ressource couplée, en attendant une règle claire:
<srv:operatesOn uuidref="439b7c25-f429-4066-9e3e-67c509efe83a" xlink:href="http://localhost:8080/geosource/1000/fre/csw?service=CSW&request=GetRecordById&version=2.0.2&outputSchema=http://www.isotc211.org/2005/gmd&elementSetName=full&id=439b7c25-f429-4066-9e3e-67c509efe83a#MD_DataIdentification"/>

[2014-06-13 16:10] #10 closed, assigned to nobody

[2014-06-13 16:13] taffoureau commented on #9
OK pour ajouter cette option dans une version 2.11.1.

[2014-06-13 16:14] taffoureau commented on #8
OK pour le faire dans une version 2.11.1

[2014-06-13 16:15] taffoureau commented on #11
A améliorer dans une version 2.11.1.

[2014-06-13 16:16] taffoureau commented on #7
A améliorer dans une version 2.11.1

[2014-06-13 16:17] taffoureau commented on #3
en XML --> à faire dans une version 2.11.1

[2014-06-13 16:29] taffoureau commented on #148
Impossible d'interroger un serveur OAI:
http://oai.brgm.fr/entries/sigescen/
ou
http://cris.uns.ac.rs/OAIHandler/
Aucun préfixe n'est proposé.
Erreur => Impossible de retrouver les séries et les préfixes. Vérifier l'URL

Testé sur serveur de recette et sur geosourcedemo.

[2014-06-13 17:11] fxprunayre commented on #181
Corrigé à tester

[2014-06-13 17:14] fxprunayre commented on #148
De mon côté ca joue pour siges :
![image](https://cloud.githubusercontent.com/assets/1701393/3272896/df2c605c-f31d-11e3-8449-8551dcb14838.png)

par contre l'autre
![image](https://cloud.githubusercontent.com/assets/1701393/3272928/36cda26c-f31e-11e3-9dcf-a9320aace9ed.png)

Tu fais quoi comme manip pour la configuration ?

[2014-06-13 17:19] fxprunayre commented on #56
Elle devrait si aucune conformité dispo dans la fiche :
![image](https://cloud.githubusercontent.com/assets/1701393/3272949/823a4a3e-f31e-11e3-99ef-4b99af8307e6.png)

et s'il y a une conformité, cliquer sur la croix pour supprimer la section
![image](https://cloud.githubusercontent.com/assets/1701393/3272983/e5d13396-f31e-11e3-9e8a-f0a741be496e.png)

[2014-06-13 17:23] fxprunayre commented on #179
Cf. http://tomcat.apache.org/tomcat-7.0-doc/config/ajp.html valable pour AJP et HTTP:

[code]

[2014-06-26 12:25] taffoureau commented on #181
Corrigé.

[2014-06-26 12:25] #181 closed, assigned to taffoureau

[2014-06-26 12:47] taffoureau commented on #56
OK. En fait il faut cliquer sur "enregistrer" puis rafraichir la page pour voir apparaître cet élément.

A l'inverse, cette action est également nécessaire pour voir apparaître les listes à puce après avoir décoché "non évalué"

[2014-06-26 12:48] taffoureau commented on #17
Fait.

[2014-06-26 12:48] #17 closed, assigned to taffoureau

[2014-06-26 13:00] taffoureau commented on #179
Ca fonctionne sur geosource démo après ajout du paramètre file.encoding.

[2014-06-26 13:00] #179 closed, assigned to taffoureau

[2014-06-26 13:09] taffoureau opened #182 "autocomplétion contacts sous windows"
Testé sur une installation windows:
autocomplétion au niveau du champ "nom de l'organisation" avec une seule entrée dans l'annuaire : "Organisation responsable"
On tape "org" --> l'autocomplétion remonte deux résultats vides
Puis on efface les caractères --> c'est le titre des fiches de métadonnées contenues dans le catalogue qui remontent!

[2014-06-26 13:11] fxprunayre commented on #182
A priori corrigé, installer le nouvel installer de ce matin
https://github.com/geosource-catalogue/core-geonetwork/commit/ed9b6794bc1040345ef3e5e5e8617804d2af9950

[2014-06-26 13:12] taffoureau opened #183 "Lien vers la doc non mis à jour dans l'installation windows."
lien "besoin d'aide" dans l'édition

[2014-06-26 13:13] taffoureau opened #184 "Dans l'installeur, désactiver par défaut l'option geoserver"

[2014-06-26 13:15] taffoureau opened #185 "icône crayon dans l'admin/retour au catalogue"
Lorsque j'accède à l'interface d'édition depuis la page d'administration (icône représentant un crayon) il est impossible ensuite de revenir à la page de recherche

[2014-06-26 13:16] fxprunayre commented on #183
Le lien pointe vers quoi sous windows ?

Cf. https://github.com/geosource-catalogue/core-geonetwork/blob/develop/web-ui/src/main/resources/catalog/components/common/needhelp/NeedHelpDirective.js#L46

En lien avec #163

[2014-06-26 13:18] taffoureau commented on #183
Ah ben si c'est bon finalement (probleme possible de cache?)

[2014-06-26 13:18] #183 closed, assigned to fxprunayre

[2014-06-26 14:19] fxprunayre commented on #148
Se connecter au catalogue dans FF.
Tester dans POSTER :
- URL : http://localhost:8080/geonetwork/srv/fre/admin.harvester.info@json
- Content type : application/xml
- Content :

[code]

La réponse devrait être du genre :

[code]

[2014-06-26 14:43] fxprunayre commented on #17
Cf https://github.com/geonetwork/core-geonetwork/commit/9b711bc48061bed8f784ac2a5b6c16d992ff944c

[2014-06-26 14:52] taffoureau commented on #148
Ca marche en configurant un proxy dans l'admin.

[2014-06-26 14:52] #148 closed, assigned to fxprunayre

[2014-06-26 15:08] fxprunayre commented on #56
Sur la sauvegarde > rafraîchir la vue en cours. https://github.com/geonetwork/core-geonetwork/commit/65c6f81236b354b45a1b7420ecfe47bc45f8e3c9

[2014-06-26 15:15] fxprunayre commented on #185
Ouvrir dans un nouvel onglet

[2014-06-26 15:53] fxprunayre commented on #185
https://github.com/geonetwork/core-geonetwork/commit/91eb17da0134a6dc45ff8ce7fe002fb3d4f9d07b

[2014-06-30 11:57] taffoureau commented on #185
OK.

[2014-06-30 11:57] #185 closed, assigned to taffoureau

[2014-06-30 11:57] taffoureau commented on #184
OK.

[2014-06-30 11:57] #184 closed, assigned to taffoureau

[2014-06-30 12:00] taffoureau commented on #182
OK.

[2014-06-30 12:00] #182 closed, assigned to taffoureau

[2014-06-30 12:03] taffoureau commented on #56
Non corrigé a priori?

[2014-07-03 08:20] pchevallot opened #186 "[2.11] Bug IE 11 sur MapExtent"
Impossible de dessiner une emprise sous IE (testé uniquement sous IE 11).

[2014-07-03 08:26] pchevallot opened #187 "[2.11] Affichage des infobulles d'aide sur portable"
Sur des petits écrans (portable résolution 1366 x 768 par exemple), il est impossible de voir le haut des infobulles d'aide.

[2014-07-15 09:00] taffoureau opened #188 "Champs manquants dans réponse getRecordById en POST"
Par exemple, la fiche http://geosourcedemo.brgm.fr/geosource/srv/eng/find?uuid=b5c609d9-8602-4527-82a7-fa6737bae331 contient deux éléments /gmd:metadata/gmd:contact et gmd:identificationInfo/*/gmd:date qui n'apparaissent pas dans la réponse au getRecordById en POST, par exemple:

<?xml version="1.0"?>
<csw:GetRecordById xmlns:csw="http://www.opengis.net/cat/csw/2.0.2" service="CSW" version="2.0.2"

[2014-08-29 10:31] fxprunayre commented on #132
Fait dans GeoNetwork
https://github.com/geonetwork/core-geonetwork/pull/619

[2014-10-03 14:43] #56 closed, assigned to taffoureau

[2014-10-03 17:01] fxprunayre commented on #187
Doublon avec #102

[2014-10-03 17:01] #187 closed, assigned to fxprunayre

[2014-10-04 15:03] fxprunayre commented on #186
Reproductible sous IE10. Ok quand on sélectionne une région.

[2014-10-15 05:59] fxprunayre commented on #9
Après discussion, nous mettons en place une mise à jour en batch d'une sélection de fiche. Cf. #11

[2014-10-15 05:59] #9 closed, assigned to nobody

[2014-10-15 06:00] fxprunayre commented on #8
Après discussion, nous mettons en place une mise à jour en batch d'une sélection de fiche. Cf. #11
Il est toujours possible d'utiliser le bouton de génération d'identifiant dans l'éditeur.

[2014-10-15 06:00] #8 closed, assigned to nobody

[2014-10-15 06:04] fxprunayre opened #189 "Authentification : afficher sur clic, typo"
Amélioration du menu utilisateur

[2014-10-15 06:05] fxprunayre opened #190 "Impression : correction"
Le menu imprimer pour les fiches en HTML ne fonctionne plus.

[2014-10-15 06:06] fxprunayre opened #191 "Consultation / Window : bouton fermer/agrandir à droite"

[2014-10-15 06:08] fxprunayre opened #192 "Barre d'outil principale / Amélioration"
Permettre un accès rapide aux 3 modules de l'application:
- recherche
- édition
- administration

![image](https://cloud.githubusercontent.com/assets/1701393/4641121/902e428e-5431-11e4-9989-ea26dc277350.png)

![image](https://cloud.githubusercontent.com/assets/1701393/4641124/93da77c2-5431-11e4-84e9-17aeb7f3d139.png)

[2014-10-15 06:19] fxprunayre commented on #151
Suppression de la configuration de la favicon du site (cf. head de la page HTML)

[2014-10-15 11:24] fxprunayre opened #193 "MonGeoSource / Correction erreur de build"
Cf.
https://github.com/geosource-catalogue/core-geonetwork/commit/072eaf7e2e5724ca59296d075ed5c35ca610147e#diff-eef89535a29b4a95a42d9de83cb53681R863

[2014-10-15 11:24] fxprunayre commented on #193
Fixed https://github.com/geosource-catalogue/core-geonetwork/commit/9e6cc3be6322108c733869c50dbc4f829cd3409b. En cours de test avec @UlrichBrgm

[2014-10-17 12:38] fxprunayre opened #194 "Alignement GeoNetwork - branch stable-develop"

[2014-10-17 12:52] fxprunayre opened #195 "Administration / Configuration du niveau de log"
Dans l'administration, ajouter un onglet de configuration et consultation des logs.

3 fichiers de configuration de log4j sont créés :
- PROD : Niveau WARNING
- TEST : Niveau DEBUG sur jeeves
- DEV : Niveau DEBUG sur ...

Il serait souhaitable que n fichiers de configuration puissent être pris en compte : log4j_prod.xml, log4j_test.xml, log4j_dev.xml (voire log4j_dev_search.xml, ...).

La page per

[2014-10-17 13:06] fxprunayre opened #196 "Moissonnage / Statistique et rapport"
Dans la console d’administration, dans la partie Admin > Moissonnage, un onglet "rapport" est ajouté :
- Nom
- Date de dernier moissonnage
- Type de moissonneur (+ version (ex : WMS 1.3.0) pour Service OGC)
- Url du service
- Nombre de fiches moissonnées

Mettre en place un export CSV (à voir si les mécanismes présents dans les rapports peuvent être réutilisés http://localhost:8080/geonetwork/srv/

[2014-10-17 13:18] fxprunayre opened #197 "Moissonnage / Amélioration des performances"
Avec OneGeology, le chargement de la liste des points de moissonnages est longue (1min~ avec 160 configs).

2 options :
1) Gérer la configuration en 2 temps :
- récupération de la liste des configs
- récupération de la config d'un noeud

2) Option 1 mais avec modification de la structure de la table HarvesterSettings.
- Changer la structure arborescente par une structure simple du genre :
  - name

[2014-10-24 08:45] fxprunayre opened #198 "Amélioration CSS"
Améliorer alignement de la bannière en haut
Formulaire : Type de ressource
Uniformisation des CSS.

[2014-10-24 08:49] fxprunayre commented on #133
Activation de la contrainte sur la fenêtre pour le moment (elle ne peut sortir du viewport) cf. https://github.com/geosource-catalogue/core-geonetwork/commit/297662d953e145a06ec9840d0dd1959ce3d6a13f.

A améliorer pour uniquement la toolbar (même si je ne vois pas l'intérêt de passer 1.25j sur ce sujet).

A ne pas faire pour GN

[2014-10-28 16:45] fxprunayre commented on #186
GeoNetwork ref: https://github.com/geonetwork/core-geonetwork/issues/662
Mise à jour de OL à la version 3.0.0 + corrections diverses :
- liés au changement d'API
- Display geopublisher action only if mapservers configured
- Thumbnail generation:
  - report error (grabbed from HTML error page)
  - zoom to layer extent
  - reload properly online source and extent changes
  - add loading indicator wh

[2014-10-29 08:15] fxprunayre commented on #165
A traiter avec l'amélioration des thésaurus

[2014-11-01 08:58] fxprunayre commented on #194
Alignement fait sur la branche stable-develop (https://github.com/geonetwork/core-geonetwork/tree/stable-develop) pour develop (https://github.com/geosource-catalogue/core-geonetwork/commit/8ad3e588e6c22f232e55b72380289ecca5cdb45a) et mongeosource.

Sera refait si besoin d'ici la sortie de la version 2.11.1.

[2014-11-01 09:53] fxprunayre commented on #189
"repoussé pour raison de budget" mais déjà fait. Donc offert!

[2014-11-01 10:47] fxprunayre commented on #190
Cf. https://github.com/geonetwork/core-geonetwork/commit/440f44c4f6e978f354223b8a91b8e9ca9c0dd470 + https://github.com/geonetwork/core-geonetwork/commit/823ba146923d58fb09cb9e40b0841a5a33820282

[2014-11-01 11:08] fxprunayre commented on #176
Fait dans le cadre de #186 - même si c'était assigné à Benoit (sur github il m'était assigné !).
Si aucun serveur configuré, le geopublisher ne s'affiche pas.

[2014-11-01 11:10] fxprunayre commented on #161
A ne pas faire pour GN.

[2014-11-01 11:12] fxprunayre commented on #130
Si ca marche bien, préparer une PR pour GN

[2014-11-01 11:21] fxprunayre commented on #198
"repoussé pour raison de budget". Vu qu'il y a refonte en cours de l'interface de recherche, je ferme le ticket qui ne sera probablement pas à l'ordre d'un jour.

[2014-11-01 11:21] #198 closed, assigned to taffoureau

[2014-11-01 11:33] fxprunayre opened #199 "Authentification / Corriger utilisation du LDAP"
Cf. https://github.com/geonetwork/core-geonetwork/issues/440

[2014-11-01 11:33] fxprunayre commented on #191
"repoussé pour raison de budget" mais déjà fait. Donc offert!

[2014-12-11 10:51] #192 closed, assigned to nobody

[2014-12-11 10:53] #191 closed, assigned to nobody

[2014-12-11 14:30] taffoureau commented on #190
Testé sur un noeud autre sur srv.

L'application essaie de se connecter à http://geosourcetest.brgm-rec.fr/geosource/apps/search/print.html?uuid=ee3ee015-6a97-438f-8a56-7d2007487566&currTab=view-simple&hl=fre puis me redirige vers la page n ode-change-warning.

[2014-12-11 14:31] #189 closed, assigned to nobody

[2014-12-11 15:06] fxprunayre commented on #190
Reproduit. En cours de correction https://github.com/geonetwork/core-geonetwork/issues/705

[2014-12-11 15:30] #176 closed, assigned to nobody

[2014-12-11 15:36] #151 closed, assigned to nobody

[2014-12-11 15:52] #131 closed, assigned to nobody

[2014-12-11 16:49] fxprunayre commented on #190
Corrigé. A redéployer & tester

[2014-12-15 09:25] UlrichBrgm commented on #193
Ok now. thx u

[2014-12-15 09:25] #193 closed, assigned to UlrichBrgm

[2014-12-15 14:08] #194 closed, assigned to fxprunayre

[2014-12-15 14:28] fxprunayre commented on #11
Cf. https://github.com/geosource-catalogue/core-geonetwork/pull/200 & https://github.com/geosource-catalogue/core-geonetwork/pull/201

[2014-12-15 14:53] fxprunayre commented on #3
Mise en place d'une réécriture d'URL sur
http://localhost:8080/geonetwork/srv/61d82845-9ee0-4531-936b-f30667582e2f
devient
http://localhost:8080/geonetwork/srv/fre/xml.metadata.get?uuid=61d82845-9ee0-4531-936b-f30667582e2f

Non appliqué à GN (car il faudrait gérer la problèmatique de la langue).

@taffoureau Tu confirmes qu'on retourne la version XML de la fiche ?

[2014-12-18 09:26] #190 closed, assigned to nobody

[2014-12-18 10:31] taffoureau opened #202 "Texte dans paramètres/ préfixe de l'identifiant"
"Préfixe pour l'identifiant de le ressource" ==> à corriger

[2014-12-18 10:42] #202 closed, assigned to fxprunayre

[2014-12-18 11:15] taffoureau commented on #3
Oui, je confirme. Par contre, le lien généré (eg http://moncataloguegeosource.fr/geosource/ee3ee015-6a97-438f-8a56-7d2007487566) n'aboutit pas (la fiche est bien publiée dans le catalogue).

[2014-12-18 11:23] #11 closed, assigned to nobody

[2014-12-18 11:50] fxprunayre commented on #3
Il faut que tu configures le préfixe avec l'identifiant du noeud ?
(eg http://moncataloguegeosource.fr/geosource/srv/ee3ee015-6a97-438f-8a56-7d2007487566)

[2014-12-18 13:21] taffoureau commented on #3
Oups, en effet ça marche beaucoup mieux! J'avais testé la bonne url mais à un moment où la fiche n'était pas publiée...

[2014-12-18 13:21] #3 closed, assigned to taffoureau

[2014-12-18 13:29] fxprunayre commented on #3
Oui, il faut que la fiche soit publique sinon tu dois avoir une erreur de type service not allowed ou quelquechose de ce genre.

[2014-12-18 14:21] #186 closed, assigned to nobody

[2014-12-18 14:33] taffoureau commented on #199
A tester dans la 2.11.2

[2014-12-18 15:20] taffoureau opened #203 "Erreur accès page de recherche sous Windows"
[code]

[2014-12-18 16:06] fxprunayre commented on #203
Il a été déployé sous Windows au GrandLyon sans problème.

Est-ce que tu peux tester avec un répertoire sans espace ? au lieu de C:\Program Files\geosource2.11.1-18-12-2014\ pour voir.

Comment a été faite l'installation ?

[2014-12-19 07:02] fxprunayre commented on #11
Proposé côté GN https://github.com/geonetwork/core-geonetwork/pull/706

[2014-12-29 13:36] fxprunayre commented on #199
Pour info, testé avec succès par Landry sur GN (https://github.com/geonetwork/core-geonetwork/issues/440#issuecomment-68256894)

[2015-01-23 07:12] fxprunayre commented on #137
Pour info partiellement réalisé dans GN3, cf. https://github.com/geonetwork/core-geonetwork/blob/db2dfbc0c2d713a9dee76bb38e8777f71275ba7a/web-ui/src/main/resources/catalog/components/utility/UtilityDirective.js#L354

[2015-01-28 12:32] fxprunayre opened #204 "Mode multinode / Liste des comptes"
Ajouter un service pour la liste des comptes

[2015-02-16 14:14] fxprunayre commented on #133
N'a plus d'intérêt dans GN/GS3. Je ferme.

[2015-02-16 14:14] #133 closed, assigned to nobody

[2015-02-16 14:17] fxprunayre opened #205 "Alignement GN3"
- Merge PR GS2.11.2 > GN3
- Migration de la config facettes, schémas dont iso19139.fra (geosource + mongeosource)
- Migration base de données (geosource + mongeosource)
- Création et publication des versions de tests & finales sur sourceforge
- Adaptation interface de recherche (a minima: Text accueil, branding GS, Carte, Configuration des projections, Emprises)

[2015-02-27 13:37] fxprunayre commented on #137
Complété par @fgravin ici https://github.com/geonetwork/core-geonetwork/commit/9694c9d3662c6a609e748045ae6845706415a8e4

A finaliser pour ce qui reste.

[2015-03-04 10:53] fxprunayre commented on #137
Egalement fait pour la génration d'imagette https://github.com/geonetwork/core-geonetwork/issues/811. A compléter.

[2015-03-09 13:28] fxprunayre commented on #197
GN PR https://github.com/geonetwork/core-geonetwork/pull/838

[2015-03-09 16:59] fxprunayre commented on #197
PR appliquée à GN. A tester une fois l'alignement GN/GS fait.

[2015-03-11 16:45] fxprunayre commented on #195
Cf. https://github.com/geonetwork/core-geonetwork/pull/854

[2015-03-12 06:45] fxprunayre opened #206 "Admin / Settings page broken"
![image](https://cloud.githubusercontent.com/assets/1701393/6613356/c7ef18a0-c88b-11e4-96b1-a94c3fce940f.png)

[2015-03-12 06:45] #206 closed, assigned to nobody

[2015-03-12 06:45] fxprunayre commented on #206
For GN

[2015-03-12 13:27] fxprunayre commented on #130
Ca a également été fait dans GN3 par Florent je pense. A vérifier si ca convient.

[2015-03-12 13:47] fxprunayre commented on #137
J'ai ajouté les indicateurs sur les actions suivantes :
- sauvegarde : fait
- annuler : fait
- sauver et fermer : fait
- sauver en changeant de type (modèle/fiche) : fait
- valider : fait
- Changement de vue/onglet : fait
- ajout d'élément d'un annuaire (contact) : fait
- ajout d'une section thésaurus : fait
- ajout d'une projection : fait
- suggestion : fait
- ajout/suppression des actions ressou

[2015-03-13 07:07] fxprunayre commented on #102
Benoit indique que c'est fait dans le commit ici https://github.com/geosource-catalogue/core-geonetwork/commit/1159ac78de9bf1cdf5f0f316a23a52c1f8595a16

[2015-03-13 07:11] fxprunayre commented on #102
Report manuel dans GN https://github.com/geonetwork/core-geonetwork/issues/866

[2015-03-13 09:12] fxprunayre commented on #197
Fix en lien avec la PR https://github.com/geonetwork/core-geonetwork/commit/d10fa3320b042896cb16a6effb3eb33923d22e05

[2015-03-13 17:57] fxprunayre commented on #205
La branche de développement pour GS3 est https://github.com/geosource-catalogue/core-geonetwork/tree/geosource-3.x

[2015-03-17 22:26] fxprunayre commented on #197
Fait par @bmaire  pour l'option 1 sans modif au niveau XSLT (dommage - ca aurait fait un peu de ménage). Il y a eu un bug repéré dans la PR - corrigé par Maria.

Dispo dans GS3 (et site de démo sur titellus.net). A tester pour @taffoureau

[2015-03-17 22:27] fxprunayre commented on #196
Fait. A tester.

[2015-03-17 22:28] fxprunayre commented on #195
Une PR faite mais :
- introduction de bugs bloquant dans GN (corrigés)
- commentaire dans la PR sans réponse https://github.com/geonetwork/core-geonetwork/pull/854 - cf description dans le ticket
  - renommer log4j-jeeves (car Jeeves va être supprimé) - on avait dit PROD/TEST/DEV ?
  - "Il serait souhaitable que n fichiers de configuration puissent être pris en compte"
  - on a pas "Consulter les

[2015-03-17 22:30] fxprunayre commented on #130
A tester par Etienne pour voir si ce qui a été fait côté GN est suffisant et si du coup nous n'avons rien à faire sur ce point. Je l'assigne à Etienne.

A tester sur le site de démo titellus.net.

[2015-03-17 22:30] fxprunayre commented on #102
Dispo pour test sur titellus.net.

[2015-03-17 22:31] fxprunayre commented on #7
Nous avions finalisé avant la sortie de la 2.11.1 non ? @taffoureau faut-il compléter quelquechose ?

[2015-03-17 22:41] fxprunayre opened #207 "Documentation"
A préciser suite à la réunion de Bern sur l'approche préférable pour utiliser le temps prévu et suite au changement de cible 2.11.2 remplacé par 3.0.0.

[2015-03-17 22:52] fxprunayre commented on #205
Jenkins mis à jour http://ci.titellus.net/jenkins/job/GeoSource-3.0.x/ et téléchargement en continu dispo http://file.titellus.net/geosource/3.0.x/

Aligné sur GN3.0.0RC0 sortie le 17 mars.

Reste à faire:
- tester build / vérifier config
- migration db

[2015-03-20 10:28] MaelREBOUX commented on #205
Bonjour,

Un commentaire à propos de la migration DB : merci de porter attention à la migration MySQL. La migration 2.9 vers 2.11 a été laborieuse.
cf mes posts visibles ici :  http://osgeo-org.1560.x6.nabble.com/Migration-GeoSource-2-9-vers-2-11-probleme-migration-de-la-base-de-donnees-tt5156147.html

bon courage.
cdt,

[2015-03-20 10:38] MaelREBOUX opened #208 "Partage vers les réseaux sociaux -> nouvelle fenêtre"
Pour les fonctions de partage vers les réseaux sociaux : ouvrir une nouvelle fenêtre plutôt que de continuer dans la même. C'est le comportement le plus souvent rencontré sur les sites d'actus, etc.
Ca évite de perdre la ressource consultée.

mettre label : enhancement

[2015-03-20 10:41] MaelREBOUX opened #209 "Accepter les cookies : traduire message en -> fr"
Le message demande à l'internaute d'autoriser l'utilisation des cookies pour ce site est en anglais.
Prévoir traduction + mécanisme de prise en charge de la langue du navigateur client

enhancement

[2015-03-23 07:40] fxprunayre commented on #209
Corrigé https://github.com/geonetwork/core-geonetwork/issues/894

La traduction en français sera à faire sur transifex (https://www.transifex.com/projects/p/core-geonetwork/language/fr/) - il va se mettre à jour dans la journée. @MaelREBOUX, Je t'ai invité au groupe  si tu veux participer.

Reste à faire : traduction en fr sur transifex

[2015-03-23 07:41] fxprunayre commented on #208
Corrigé par https://github.com/geonetwork/core-geonetwork/commit/b629700ebfadf32e1b40fa42134e9534c1f1e826

A tester et fermer

[2015-03-23 08:23] MaelREBOUX commented on #209
Peux-tu relancer l'invitation mais à ma nouvelle adresse m.reboux@rennesmetropole.fr ?
Merci d'avance.

[2015-03-23 08:26] fxprunayre commented on #209
C'est fait normalement.

[2015-03-23 10:55] MaelREBOUX commented on #209
fait merci.
Bon et maintenant : où est la ressource à traduire ? J'ai cherché "cookie" dans le dépôt mais j'ai rien trouvé. Normal ?

[2015-03-23 11:17] fxprunayre commented on #209
Oui transifex récupére la langue principale une fois par jour. Donc demain plus probablement. Je vais regarder pour voir si on peut forcer la récupération.

[2015-03-23 11:44] MaelREBOUX commented on #209
ha ok : j'avais bien compris alors. A demain.

[2015-03-23 14:23] bchartier opened #210 "Vue complète - onglet "associé""
La vue complète d'une fiche de métadonnées de GN3 contient un onglet "Associé". Ce libellé n'est pas clair. A quoi cela correspond-t-il. Sur les quelques fiches que j'ai ouvertes, cet onglet est grisé :
![image](https://cloud.githubusercontent.com/assets/2361255/6781793/86935a36-d170-11e4-84a7-c07b52aa3055.png)
Est-ce normal ?

[2015-03-23 15:01] bchartier opened #211 "Libellés"
Quelques remarques sur les libellés du formulaire de recherche avancé :
- pour les filtres des dates : mettre tout le temps une majuscule ou une minuscule pour la première lettre.
- pour les filtres sur les catégories, les mots-clés et les contacts, mettre tous les libellés au pluriel pour plus de cohérence.
- traduire "Contact for the resource" en "Contacts pour la ressource" (j'ai vu #209 mais j

[2015-03-23 15:08] bchartier opened #212 "Recherche par facettes : résultat vide anormal"
Lorsque j'utilise la recherche par facettes je me retrouve régulièrement avec un résultat vide alors que les badges avec les numéros dans la colonne de gauche indiquaient un nombre non nul d'enregistrements.

Exemple avec un seul filtre :
![image](https://cloud.githubusercontent.com/assets/2361255/6782820/b494e7a0-d176-11e4-948d-fb7fa2b5745c.png)

J'aurais dû avoir 144 fiches :
![image](https://cl

[2015-03-23 15:18] bchartier opened #213 "Retour en arrière dans l'historique du navigateur"
Quand j'utilise les flèches du navigateur pour revenir dans l'historique de ma navigation, l'IHM de GN3 perd les pédales.

Exemple :
- j'applique un seul filtre avec le mot-clé "Transport" dans les facettes -> j'obtiens la liste des fiches associés à ce mot-clé. Parfait.
- j'utilise la flèche de retour en arrière une fois. La navigateur ne recharge pas la page web mais ce contente de recentrer la

[2015-03-25 08:59] fxprunayre opened #214 "Problème CSW / Compte 1111"
Nous avons un problème sur le CSW géosource multi sur certains comptes, par exemple quand je lance un getcapabilities :

http://geosourcemulti.brgm-rec.fr/geosource/1111/fre/csw?service=CSW&request=GetCapabilities
me répond :

[code]

[2015-03-25 10:42] fxprunayre commented on #214
Corrigé dans la branche GS2.11.x (develop), mongeosource - si vous souhaitez redéployer.

Sinon, il est peut être plus simple (et préférable) de jouer sur tous les comptes les requêtes SQL suivantes afin de définir la langue par défaut à fre

[code]

Corrigé dans GN3 https://github.com/geonetwork/core-geonetwork/issues/898 et donc dans GS3.

[2015-03-26 14:31] MaelREBOUX commented on #210
@bchartier
changer le titre de l'issue en "onglet 'associé'"

Grisé chez moi également.
En fait : moi je suis embêté : j'aurais préféré retrouver les onglets supplémentaires que j'utilise tout le temps en mode édition.
![screenshot469](https://cloud.githubusercontent.com/assets/6370443/6848390/29504136-d3cd-11e4-9a50-e0b7d06cd0bb.png)

[2015-03-26 14:32] MaelREBOUX opened #215 "ergonomie : bouton de choix des vues"
en mode consultation : c'est à droite
en mode maj : c'est à gauche

-> harmoniser SVP car c'est déroutant

[2015-03-26 14:33] MaelREBOUX opened #216 "caractère joker pour la recherche avancée / indexation"
En titre secondaire + dans les modalités de diffusion je stocke le nom schema.table des ressources.
Exemple :  Titre alternatif :  foncier.grand_proprio_plg  / ressource en ligne :      postgis-bdu:bdu:foncier:grand_proprio_plg

Dans GéoSource 2.9 je peux ainsi trouver toutes les tables du schema foncier en tapant « foncier.\* ».
Je n’ai pas trouvé le caractère joker sous GN 3.0 et j’ai l’impressi

[2015-03-26 14:37] MaelREBOUX opened #217 "Erreur validation sur les mot-clés"
J’ai cette erreur alors que les mots-clé sont bons :

Élément invalide. Contenu invalide pour l'élément : Texte libre (gmd:PT_FreeText). Un des éléments suivants Texte (gco:CharacterString) est attendu. L'élément parent est Mot Clé (gmd:keyword).

[code]

[2015-03-26 14:38] MaelREBOUX opened #218 "Activation vue INSPIRE"
Je n'ai pas pu l'activer.
D'autres personnes dans ce cas ?

[2015-03-26 18:13] fxprunayre commented on #218
Dans l'éditeur, supprimer l'attribut disabled ici (pas besoin de relancer l'application)
https://github.com/geonetwork/core-geonetwork/blob/develop/schemas/iso19139/src/main/plugin/iso19139/layout/config-editor.xml#L231

 En consultation, elle n'existe pas.

Les options dans l'administration sont en lien avec l'ancienne interface et seront supprimées prochainement.

[2015-03-26 18:14] fxprunayre opened #219 "Page d’accueil avec les thèmes ISO"
"Je ne supporte pas cette vue avec les thèmes ISO dont tout le monde se fiche.
J’aimerai avoir la nomenclature GéoBretagne à la place : comment on change ou customise cela ?"

[2015-03-26 18:16] fxprunayre commented on #219
Ca fait partie des points discutés semaine dernière à la réunion des utilisateurs GeoNetwork. Nous avons évoqués:
1) avoir un jeu d'icônes pour les thèmes INSPIRE
2) pouvoir configurer les champs à utiliser pour la classifications sur la page d'accueil (eg. catégories, thèmes INSPIRE, type de données, autre champ de l'index)

A priori ce ne sera pas fait en 3.0.0

[2015-03-30 11:41] bchartier commented on #210
@MaelREBOUX  : non du ticket modifié

[2015-03-31 14:59] MaelREBOUX commented on #219
Grillé : je venais ici pour créer cette requête justement.

L'idéal : taper un thesaurus. Comme ça on sait qu'on peut avoir des catégories de données vides.

[2015-04-01 10:03] lecault commented on #210
Pas grisé chez moi : il s'agit des métadonnées associées. Chez moi par exemple les métadonnées de services.

[2015-04-01 16:59] bchartier commented on #210
Ok. C'est juste que l'IHM n'est pas très explicite alors.

[2015-04-06 12:20] fxprunayre commented on #213
Ca devrait être mieux avec https://github.com/geonetwork/core-geonetwork/commit/b991966c6c48ac8c394dd3f546a558b83611e28d. A suivre.

[2015-04-08 16:10] fxprunayre commented on #217
C'est possible d'avoir la fiche compléte ?

[2015-04-08 16:14] fxprunayre commented on #216
A priori, ca fonctionne.

eg. http://apps.titellus.net/geonetwork/srv/eng/catalog.search#/search?from=1&to=20&sortBy=relevance&fast=index&_content_type=json&any=foncier.* retourne CHU river basin qui contient foncier.grand_proprio_plg en titre alternatif

[2015-04-08 16:16] fxprunayre commented on #215
Proposition : en édition bouton à droite.

[2015-04-08 16:18] fxprunayre commented on #213
En cours de correction côté ifremer

[2015-04-08 16:18] fxprunayre commented on #212
En cours de correction côté ifremer

[2015-04-08 16:33] #214 closed, assigned to taffoureau

[2015-04-08 16:37] fxprunayre commented on #207
https://github.com/geonetwork/core-geonetwork/wiki/Documentation-Improvement

[2015-04-09 08:41] fxprunayre commented on #207
- Plan (Etienne, Francois) https://github.com/geosource-catalogue/core-geonetwork/wiki/DocumentationToc
- Mise en place des outils & projet github (Francois)
- Initialisatiion des sections principales (Tous)

[2015-04-09 13:07] fxprunayre commented on #215
Corrigé avec https://github.com/geonetwork/core-geonetwork/commit/eba502841253580bb8c5297a81d0c573596e9344

A tester et fermer.

[2015-04-13 05:48] fxprunayre commented on #209
Traduit côté transifex.

[2015-04-13 09:45] TERMEPhilippe opened #220 "Ajout de logo dans les contacts de l'annuaire"
l'association d'un logo à un contact ne fonctionne pas dans les annuaires :
Lorsque l'on développe le champ "Instructions pour le contact / Nom du fichier / Logo" -> la fenêtre permettant de sélectionner le logo est masqué.
Ce problème disparait après enregistrement du contact et réouverture.
![logo_contact](https://cloud.githubusercontent.com/assets/6795250/7113279/7394e7de-e1d2-11e4-8af4-9026e13

[2015-04-13 12:01] fxprunayre commented on #216
A tester.

[2015-04-13 15:02] fxprunayre commented on #205
Après discussion avec le BRGM, nous n'envisageons pas de passer plus de temps sur MySQL (cependant une PR reste bienvennue).

[2015-04-13 15:02] fxprunayre commented on #205
Migration de base : penser à https://github.com/geonetwork/core-geonetwork/issues/809#issuecomment-92340737

[2015-04-14 08:14] fxprunayre commented on #211
Fait via CSS dans GN

Cf. transifex

Cf. transifex

Fait via CSS dans GN

[2015-04-14 12:49] fxprunayre commented on #211
Fait dans GéoSource uniquement pour le schéma ISO19139 et ISO19139.fra.

[2015-04-14 14:49] fxprunayre opened #221 "Thésaurus / Contraste trop faible pour la sélection des mots clés"
Suite à l'étude ergonomie.

[2015-04-14 14:49] fxprunayre commented on #221
![image](https://cloud.githubusercontent.com/assets/1701393/7139381/3fd91204-e2c6-11e4-8a19-48658f2c9cfa.png)

[2015-04-14 15:12] Fonaine opened #222 "Erreur javascript edition de métadonnée"
Lors de l'édition de métadonnée contenant une emprise dont une borne est comprise entre -1 et 1, une erreur javascript se produit à l'enregistrement de la fiche e bloque celui-ci.
![edit_metadata2](https://cloud.githubusercontent.com/assets/238629/7139993/6a33ff3e-e2c9-11e4-95cb-5ef2385f950b.png)

Problème reproduit sur une version installée sous window7 et une version tomcat/postgresql

[2015-04-14 15:24] Fonaine opened #223 "Exports de rapports"
L'export de rapports ne fonctionne pas. Le service semble systématiquement rejeté.
![exports_rapports](https://cloud.githubusercontent.com/assets/238629/7140329/f59bada0-e2ca-11e4-94b0-1568c21378e4.png)

Problème reproduit sur une installation sous windows7 et sous tomcat/postgresql

[2015-04-14 16:27] fxprunayre opened #224 "Recherche / Amélioration des recherches avec apostrophes et pluriels"
eg.

[code]

[2015-04-14 16:32] fxprunayre commented on #224
Fixed in v3 https://github.com/geosource-catalogue/core-geonetwork/commit/57350a9b6fdc5beb81a8e8c0ea1f432982d42666

[2015-04-14 17:09] fxprunayre commented on #224
A tester & déployer pour mongeosource et à tester dans la v3.

[2015-04-15 05:56] fxprunayre commented on #217
En fait, c'est en lien avec https://github.com/geonetwork/core-geonetwork/issues/940.

A tester.

[2015-04-15 05:57] fxprunayre commented on #209
Traduction mise à jour. A tester.

[2015-04-15 07:20] fxprunayre opened #225 "Mode multinode / Branche pour mongeosource 3"
Problème en mode multinode:
- les noeuds se connectent à la même base
- datadir ok
- redirect ok

[2015-04-15 07:33] fxprunayre commented on #213
A priori c'est bon. @taffoureau je te laisse tester et ajouter un scénario s'il y a problème.

[2015-04-15 07:34] fxprunayre commented on #218
La vue INSPIRE est dispo dans GS3 (préconfiguré avec cette option à la différence de GN3). A tester.

[2015-04-15 07:36] fxprunayre commented on #210
Une suggestion de libellé pour cet onglet ?

[2015-04-15 07:55] fxprunayre commented on #205
On conserve l'interface ExtJS pour le moment.

[2015-04-15 08:22] bchartier commented on #210
Je proposerais bien "Ressources associées" ou "Ressources liées" mais c'est peut-être trop long.

[2015-04-15 08:30] taffoureau opened #226 "Renvoi vers l'ancienne interface au login"
Depuis http://geosourcetest.brgm-rec.fr/geosource/srv/fre/catalog.search#/home

=> s'identifier => http://geosourcetest.brgm-rec.fr/geosource/srv/fre/catalog.signin

=> admin/admin => http://geosourcetest.brgm-rec.fr/geosource/srv/fre/find

[2015-04-15 08:47] #221 closed, assigned to taffoureau

[2015-04-15 08:50] taffoureau opened #227 "Supprimer le bouton visualiser dans la barre de menus"

[2015-04-15 08:56] #218 closed, assigned to taffoureau

[2015-04-15 08:58] taffoureau opened #228 "Désativation de la vue simple par défaut"
Désactiver la vue simple par défaut.

Par ailleurs, lorsque je désactive cette vue dans admin>paramètres elle est toujours active en édition.

[2015-04-15 09:07] taffoureau opened #229 "Lien vers une fiche importée est manquant"
Contrairement à la v2.11, après import d'un fichier de métadonnées, il n'est pas possible d'accéder directement à la fiche. C'est dommage, car cela oblige à faire une recherche pour la retrouver.

Par ailleurs, dans le message l'uuid est vide:

Téléchargement réussi

Couche importée avec succès:
id: 4268
uuid:

[2015-04-15 09:08] taffoureau opened #230 "Import d'une fiche / remplacer MEF par ZIP"

[2015-04-15 09:11] taffoureau opened #231 "Import/écraser les fiches de même identifiant ne fonctionne pas"
could not execute batch; SQL [insert into Metadata (data, changeDate, createDate, displayorder, doctype, extra, popularity, rating, root, schemaId, title, isTemplate, isHarvested, harvestUri, harvestUuid, groupOwner, owner, source, uuid, id) values (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)]; constraint [null]; nested exception is org.hibernate.exception.ConstraintViolationExcept

[2015-04-15 09:20] taffoureau commented on #216
Fonctionne également de mon côté.

[2015-04-15 09:20] #216 closed, assigned to taffoureau

[2015-04-15 09:21] #215 closed, assigned to taffoureau

[2015-04-15 09:44] fxprunayre commented on #228
C'est à dire ? en consultation ? on a que la vue avancée ?

Dans l'admin la configuration des vues ne concerne que l'ancienne interface. - Ca sera supprimé dans GN 3.0.1.

[2015-04-15 09:46] fxprunayre commented on #227
Ca se fait dans l'admin
![image](https://cloud.githubusercontent.com/assets/1701393/7156209/f23f5fb8-e364-11e4-9ef3-f32f67a6243c.png)

Que faisons nous par défaut ? +1 pour conserver la carte par défaut de mon côté.

[2015-04-15 09:56] #213 closed, assigned to taffoureau

[2015-04-15 10:03] #211 closed, assigned to taffoureau

[2015-04-15 10:15] taffoureau commented on #210
OK pour "Ressources associées" pour être en cohérence avec à l'édition.

[2015-04-15 10:20] #209 closed, assigned to taffoureau

[2015-04-15 10:25] taffoureau commented on #208
Fonction non proposée dans Géosource ?

[2015-04-15 12:00] taffoureau opened #232 "Edition/réduire la liste du type de ressource en vue INSPIRE"
La liste devrait être limitée à série, ensemble de série et service.

[2015-04-15 12:21] taffoureau opened #233 "Edition/erreur à l'ajout d'une emprise"
En édition, lorsque j'ajoute une nouvelle emprise un nouveau bloc est ajouté mais l'interface se bloque comme si le rafraichissement n'aboutissait pas.

Erreur dans les logs:

2015-04-15 14:16:59,999 INFO  [jeeves.request] - ==========================================================
2015-04-15 14:16:59,999 INFO  [jeeves.request] - HTML Request (from 193.56.4.66) : /geosource/srv/fre/md.edit.save
2

[2015-04-15 12:21] #130 closed, assigned to taffoureau

[2015-04-15 12:47] taffoureau commented on #196
OK pour la liste dans l'IHM, à ceci près qu'il y a un léger décalage entre le titre des colonnes et le contenu du tableau (eg dernier lancement).

Lorsque je clique sur le bouton "exporter en CSV", il s'affiche "undefined" et rien ne se passe.
![nouvelle image](https://cloud.githubusercontent.com/assets/2026724/7158864/49253d2a-e37e-11e4-989d-63abee02aa2b.png)

[2015-04-15 12:49] #102 closed, assigned to taffoureau

[2015-04-15 12:58] taffoureau opened #234 "Page admin>paramètres : pb affichage du plan"
Dans la page paramètres en admin le plan situé à droite permettant de naviguer rapidement dans les différentes sections s'affiche au-dessus du contenu de la page, et il n'est pas possible de le réduire.

voir image jointe.
![nouvelle image 1](https://cloud.githubusercontent.com/assets/2026724/7159070/cd4b8d24-e37f-11e4-8017-ff84d2a8d6e3.png)

[2015-04-15 12:59] taffoureau opened #235 "Supprimer le choix des langues"
Dans toutes les pages il est possible de modifier la langue de l'interface => à supprimer

[2015-04-15 13:30] taffoureau commented on #7
cf. cahier des charges de la 2.11.1:

Dans la console d’administration, dans « Paramètres », ajouter un champ texte « Préfixe de l’identifiant INSPIRE » dans la section « Directive INSPIRE ». Dessous, ajouter une description :

« Cette information pourra être utilisée dans le formulaire de saisie pour construire l’identificateur de ressource unique INSPIRE. Le préfixe sera alors automatiquement co

[2015-04-15 13:41] taffoureau commented on #217
Tests réalisés:
Création d'une fiche multilingue fre/eng
ajout d'un mot-clé avec PT_FreeText => validation OK

Ajout d'un mot-clé avec gco:characterString => OK

[2015-04-15 13:41] #217 closed, assigned to taffoureau

[2015-04-15 13:55] taffoureau opened #236 "Comportement étrange de l'autocomplétion"
Dans la partie recherche:

L'affichage et le contenu de la liste d'autocomplétion sont complément différents selon que je tape "regio" ou "region"
![nouvelle image 2](https://cloud.githubusercontent.com/assets/2026724/7160101/49efd68a-e387-11e4-9248-06fa37d697a0.png)
![nouvelle image 3](https://cloud.githubusercontent.com/assets/2026724/7160102/49f21fb2-e387-11e4-930e-2e29e73453ae.png)

En édition

[2015-04-15 15:32] fxprunayre commented on #210
Traduit dans transifex https://www.transifex.com/projects/p/core-geonetwork/translate/#fr/webwebapplocformatterjson/39611140

[2015-04-15 16:15] fxprunayre commented on #210
A tester.

[2015-04-15 16:16] fxprunayre commented on #137
Ticket GN correspondant https://github.com/geonetwork/core-geonetwork/issues/925

[2015-04-16 01:03] fxprunayre commented on #234
Corrigé - du coup il y a double scrollbar dans ce cas.

![image](https://cloud.githubusercontent.com/assets/1701393/7172271/0d4ffc9c-e3e5-11e4-871a-ff8a48501d2b.png)

[2015-04-16 01:12] fxprunayre commented on #230
Je propose https://www.transifex.com/projects/p/core-geonetwork/translate/#fr/editor/26029602?q=MEF

Je te laisse remplacer par ZIP tout court si ça semble mieux.

[2015-04-16 01:55] fxprunayre commented on #231
Je ne reproduis pas ni en MEF ni en XML. Preneur du fichier importé.

[2015-04-16 06:20] fxprunayre commented on #235
A tester

[2015-04-16 06:22] fxprunayre commented on #233
Je suis pas certain de la cause du "bloquage" mais pour

[code]

ceci https://github.com/geonetwork/core-geonetwork/commit/8b2dcba6e8abe7299e497d78dbe7fee576c098a3 devrait corriger le pb.

A tester.

[2015-04-16 06:25] fxprunayre commented on #229
- Ajout d'un lien vers l'éditeur (via l'ID).
- Suppression de l'UUID

Remarque (pour info) : en mode mise à jour, l'id interne change car il y a suppression puis insertion. L'UUID reste le même. Ca veut dire qu'il y a suppression des catégories, privilèges, ...

L'information sur le UUID est disponible que sur certain type d'import (eg. copy/paste). Il faudrait l'UUID pour ouvrir le mode consultat

[2015-04-16 06:39] fxprunayre commented on #208
Si c'est là
![image](https://cloud.githubusercontent.com/assets/1701393/7175367/07529ece-e414-11e4-9150-e51aa09be50f.png)

[2015-04-16 06:47] fxprunayre commented on #223
Non reproductible en v3 de mon côté
![image](https://cloud.githubusercontent.com/assets/1701393/7175439/e8c88a8a-e414-11e4-83e3-271a206d6350.png)

A retester ou préciser le cas problématique.

(et des Pull Requests avec des corrections sont toujours les bienvenues !)

[2015-04-16 06:56] fxprunayre commented on #222
Je n'observe pas le problème
![image](https://cloud.githubusercontent.com/assets/1701393/7175567/6222f900-e416-11e4-80ab-7a3995c7b930.png)

Vous pouvez lancer l'appli avec catalog.edit?debug et ajouter au ticket l'erreur JS. Merci

[2015-04-16 09:40] fxprunayre commented on #195
Après tests complémentaires avec Benoit, le changement est bien pris en compte mais plus ou moins visible selon ce qui est choisi. En consoleAppender, mettre le seuil sur ALL https://github.com/geonetwork/core-geonetwork/blob/develop/web/src/main/webapp/WEB-INF/classes/log4j-dev.xml#L9

Pour les fichiers par défaut, je propose:
- log4j.xml: tout à WARN comme actuellement
- log4j-dev.xml: pour le m

[2015-04-16 10:10] fxprunayre commented on #196
Les libellés des onglets ne sont pas tip top
https://github.com/geonetwork/core-geonetwork/blob/develop/web-ui/src/main/resources/catalog/js/admin/HarvestController.js#L32
- "report" devrait être "Rapport" - et la clé report devrait peut être être spécifique à cette page car on peut imaginer utiliser "report" ailleurs dans l'admin sans lien avec le moissonnage.
- Majuscule pour noeuds distant - vo

[2015-04-16 12:11] MaelREBOUX commented on #208
tant qu'on y est : est-ce qu'il serait possible de pouvoir afficher / masquer ces boutons en fonction d'un paramètre dans l'administration ?
Je m'explique : j'ai pas envie que des agents balancent sur FaceBook ou Twitter des url internes à mon réseau informatique -> vulnérabilité...

[2015-04-16 12:15] taffoureau commented on #208
Ah si les boutons sont bien présents... une configuration via un fichier de conf suffirait ?

[2015-04-16 12:15] MaelREBOUX commented on #231
J'ai eu la même chose (ou à peu près) mais sur une base MySQL. Quel est le SGBD sous-jacent @taffoureau ?

[2015-04-16 12:17] taffoureau commented on #231
Je suis sous postgres.

[2015-04-16 17:11] fxprunayre opened #237 "ExtJS Interface / Permalink / Le paramètre s_E_Geometry non reprojetté"
Les liens directs avec un critère géométrique en paramètre ne fonctionnent pas :
http://www.mongeosource.fr/geosource/1066/fre/find?east_collapsed=true&s_search=&s_timeType=true&s_scaleOn=false&s_E_hitsperpage=20&s_E_geometry=POLYGON((7.96367031197652%2049.0235677888936,7.98657654555279%2049.0044095100575,8.07250399389742%2048.9775488312594,8.13429674060717%2048.9750538221709,8.12341208617962%2048

[2015-04-16 18:37] fxprunayre commented on #237
A reporter dans GN3.

[2015-04-17 06:59] fxprunayre commented on #237
Appliqué à GN3 également https://github.com/geonetwork/core-geonetwork/commit/9291f6cd52d254f5c7b9289cfdd769034d8f6d6c

[2015-04-17 06:59] fxprunayre commented on #237
A tester pour mongeosource.

[2015-04-17 07:08] fxprunayre commented on #208
Si vous souhaitez modifier, voir le template HTML https://github.com/geonetwork/core-geonetwork/blob/develop/web-ui/src/main/resources/catalog/views/default/templates/recordView.html#L393

Une des idées de la v3 est de simplifier la personnalisation des vues avec ce mode HTML (basé sur AngularJS) et les formatters (Groovy & XSL) - sans mélange avec la partie édition comme en v2.x. Je propose pour

[2015-04-17 12:08] MaelREBOUX commented on #208
Donc, en gros : je commente simplement les lignes 390 -> 404 dans le template.
Ca me va aussi.
Il va falloir trouver un endroit pour documenter tout ceci. Une idée ?

Pas de mélange avec le mode édition : gros gros progrès !

[2015-04-17 12:31] fxprunayre commented on #208
On travaille sur la future doc avec Etienne. Plus de nouvelle en début de semaine prochaine.

[2015-04-17 15:30] MaelREBOUX commented on #208
sous forme de wiki ce serait idéal.
bon we.

[2015-04-19 16:41] ghost commented on #195
CF https://github.com/geonetwork/core-geonetwork/pull/951

[2015-04-19 20:24] ghost commented on #161
A tester et fermer

[2015-04-19 20:29] ghost commented on #196
@taffoureau, j'attends ton avis pour la correction des libellés.

[2015-04-20 13:45] fxprunayre commented on #161
Il aurait peut être été plus simple d'utiliser l'attribut hideInEditMode pour les 3 options à cacher
https://github.com/geosource-catalogue/core-geonetwork/blob/geosource-3.x/schemas/iso19139/src/main/plugin/iso19139/loc/eng/codelists.xml#L4

Mais bon ça fonctionne.

[2015-04-20 13:46] fxprunayre commented on #232
Fait https://github.com/geosource-catalogue/core-geonetwork/commit/1c2760f5eb9fb60c7dda68b3ae25fb54513da5ff. A tester

[2015-04-20 13:49] ghost commented on #161
Oui, j'ai vu cela aujourd'hui, ce nouvel attribut. Si j'ai un peu de temps, je vais essayer de revenir dessus dans la journée.

[2015-04-20 14:03] fxprunayre commented on #195
PR appliquée à GN avec quelques adaptations.

Il reste un problème sur http://localhost:8080/geosource/srv/eng/log/activity et l'export ZIP qui retourne un NPE

[code]

J'ai l'impression que ca se produit quand on démarre une première fois l'appli - eg. install GS depuis l'installer, mvn clean install - peut être car il n'y pas encore de fichier de log ?

[2015-04-20 14:09] fxprunayre commented on #137
A tester et indiquer les actions manquantes s'il y en a.

[2015-04-20 14:28] fxprunayre commented on #7
Nous avions mis cette option dans la section métadonnée (car a priori, ce n'est pas uniquement en lien avec INSPIRE) avec la description suivante :

![image](https://cloud.githubusercontent.com/assets/1701393/7231895/a45291cc-e778-11e4-9362-674cf894077b.png)

Ca convient ?

Pourquoi pas, ce sera spécifique GéoSource.

Fait.

Fait.

Tu peux préciser le préfixe que tu as mis ?

[2015-04-20 16:17] fxprunayre commented on #225
Ca devrait être mieux maintenant.

[2015-04-20 18:21] fxprunayre commented on #166
Je vais sans doute reprendre ce ticket.

Donc l'interface actuelle ressemble à
- Si non évaluée pas d'information dans le XML

![image](https://cloud.githubusercontent.com/assets/1701393/7235228/0f9a8156-e78d-11e4-8c06-491672784803.png)
- Sinon

![image](https://cloud.githubusercontent.com/assets/1701393/7234847/6a750536-e78a-11e4-88fd-bcb0d1d0c391.png)

Dans la vue avancée, on peut définir missin

[2015-04-21 08:47] Fonaine commented on #222
Bonjour,

Voici l'erreur js :
SyntaxError: Unexpected token .
    at Object.parse (native)
    at Object.fromJson (http://localhost:8080/geosource/catalog/lib/angular/angular.js:1035:14)
    at Object.onFormLoad (http://localhost:8080/geosource/catalog/components/metadatamanager/EditorService.js:271:24)
    at Scope.module.controller.$scope.onFormLoad (http://localhost:8080/geosource/catalog/js/ed

[2015-04-21 14:38] taffoureau commented on #227
décocher par défaut

[2015-04-21 14:52] fxprunayre commented on #196
Mettre l'icône du bouton harvesting pour le premier onglet:
![image](https://cloud.githubusercontent.com/assets/1701393/7255001/c4ba127c-e846-11e4-809f-37d8e478bccf.png)

[2015-04-21 15:04] fxprunayre commented on #166
Ajouter un bouton "Ajouter une conformité" avec un rapport de conformité avec missing par défaut.

L'utilisateur ensuite peut définir la conformité à True / False.

Il faut indiquer le cas non évalué.

[2015-04-21 15:12] taffoureau commented on #7
Ajouter un contrôle sur la chaîne de caractère saisie (doit commencer par http) ==> pas nécessaire

[2015-04-21 15:20] fxprunayre commented on #227
A tester

[2015-04-21 15:21] fxprunayre commented on #226
A priori je ne reproduis pas. Préciser le cas de test.

[2015-04-21 15:22] fxprunayre commented on #7
J'ai apporté une correction en multinode. Ca corrige peut être le pb. A tester.

[2015-04-21 20:10] fxprunayre commented on #207
Draft démo:
- en http://apps.titellus.net/gn-doc/en/
- fr http://apps.titellus.net/gn-doc/fr/

Source: https://github.com/geosource-catalogue/doc

[2015-04-22 13:03] fxprunayre commented on #207
Build with Jenkins every minute if any changes http://ci.titellus.net/jenkins/job/GeoNetwork-documentation/

[2015-04-24 06:08] fxprunayre commented on #166
@taffoureau

Est-ce que ca convient comme rapport par défaut ?

[code]

Ou faut-il remplir d'autres champs avec des valeurs par défaut ?

[2015-04-24 08:02] fxprunayre commented on #195
Ce serait bien de le corriger avant la sortie de GN (prévue mardi) et celle de GS (également mardi ?).

[2015-04-24 08:57] taffoureau commented on #195
Après redéploiement ce matin, j'obtiens une errreur lorsque je tente de modifier la configuration (dans paramètre > désactiver la carte) : file log4J not found ....

[2015-04-24 08:59] #199 closed, assigned to taffoureau

[2015-04-24 09:01] #235 closed, assigned to taffoureau

[2015-04-24 09:02] #234 closed, assigned to taffoureau

[2015-04-24 09:10] taffoureau commented on #233
Non résolu. Je t'envoie le log complet par email.

[2015-04-24 09:17] fxprunayre commented on #230
Mettre à jour les traductions depuis transifex

[2015-04-24 09:23] #232 closed, assigned to taffoureau

[2015-04-24 10:02] taffoureau commented on #226
Je ne reproduit plus.

[2015-04-24 10:02] #226 closed, assigned to taffoureau

[2015-04-24 10:05] taffoureau commented on #212
C'est en cours de correction? corrigé ?

[2015-04-24 10:08] taffoureau commented on #210
OK, mais le texte est aligné à gauche alors que pour les autres onglets le texte est centré. Du coup, ça crée un décalage.
![fireshot screen capture 098 - mon geosource - mon organisation - geosourcetest_brgm-rec_fr_geosource_srv_fre_catalog_search _metadata_9dd5cbae-1b84-4c7d-998d-3e335f6ea986test](https://cloud.githubusercontent.com/assets/2026724/7316817/8b3f18cc-ea7a-11e4-95a2-7c1b4c8e6339.png

[2015-04-24 10:09] fxprunayre commented on #196
Les onglets ne marchent plus https://github.com/geonetwork/core-geonetwork/pull/959/files#r29037907. En cours de correction.

[2015-04-24 10:12] fxprunayre commented on #212
Est-ce que tu as un cas pour illustrer le pb ?

[2015-04-24 10:17] #208 closed, assigned to taffoureau

[2015-04-24 10:19] taffoureau opened #238 "Consultation de fiches / débordement des champs"
cf. copie d'écran
![fireshot screen capture 099 - mon geosource - mon organisation - geosourcetest_brgm-rec_fr_geosource_srv_fre_catalog_search _metadata_ae33482c-39e3-4870-aa5c-3e777faf6020](https://cloud.githubusercontent.com/assets/2026724/7317001/1ed3bc90-ea7c-11e4-9489-b2cf0ebfe367.png)

[2015-04-24 10:21] taffoureau commented on #161
Je te l'assigne @bmaire ?

[2015-04-24 10:27] fxprunayre commented on #210
Non, ils sont tous en text-align:left, mais celui-ci est long donc ca se voit.

![image](https://cloud.githubusercontent.com/assets/1701393/7317100/1bbcc316-ea7d-11e4-9872-38f898ff6c89.png)

Versions futures ?

[2015-04-24 10:28] fxprunayre commented on #196
A tester, installer mis à jour.

[2015-04-24 11:15] fxprunayre commented on #238
A tester.

[2015-04-24 11:17] fxprunayre commented on #166
Appliqué à GN Cf. https://github.com/geonetwork/core-geonetwork/pull/961

A tester.

[2015-04-24 11:17] fxprunayre commented on #230
Mis à jour. A tester.

[2015-04-27 08:35] fxprunayre commented on #195
Fait dans https://github.com/geonetwork/core-geonetwork/issues/965. Il reste le pb de NPE.

[2015-04-27 09:17] fxprunayre commented on #195
GN ref https://github.com/geonetwork/core-geonetwork/issues/966. En cours de correction de mon côté.

[2015-04-27 10:53] fxprunayre commented on #195
A tester. Installer mis à jour.

[2015-04-27 10:55] fxprunayre commented on #231
Toujours preneur d'un fichier exemple pour reproduire.

[2015-04-27 16:16] taffoureau commented on #238
J'ai toujours le problème suite à un redéploiement cet après-midi.
![fireshot screen capture 100 - mon geosource - mon organisation - geosourcetest_brgm-rec_fr_geosource_srv_fre_catalog_search _metadata_5a4c6333-2751-425e-a003-59517d56c285](https://cloud.githubusercontent.com/assets/2026724/7352044/6596c3ea-ed09-11e4-8bfc-f6948c9966ce.png)

Question subsidiaire : à quoi correspond le logo du catal

[2015-04-27 16:19] taffoureau commented on #231
Envoyé par mail.

[2015-04-27 16:21] #230 closed, assigned to taffoureau

[2015-04-27 16:21] #227 closed, assigned to taffoureau

[2015-04-27 16:31] #210 closed, assigned to taffoureau

[2015-04-27 16:40] fxprunayre commented on #231
J'ai pas de pb ni sur mise à jour ou nouvel identifiant. Quelle est la manip faite à l'import ?

![image](https://cloud.githubusercontent.com/assets/1701393/7352581/e06a1c72-ed0c-11e4-95df-99705074fb1f.png)

[2015-04-27 16:42] taffoureau commented on #231
On est d'accord que c'est quand je coche "ecraser les mtds de même identifiant"

[2015-04-27 16:44] fxprunayre commented on #238
Cache du navigateur ?

testé sous chrome et FF avec https://gist.github.com/fxprunayre/13c930048ce56167d2f4

![image](https://cloud.githubusercontent.com/assets/1701393/7352630/35d39e04-ed0d-11e4-87eb-63b8026ca40f.png)

[2015-04-27 16:48] fxprunayre commented on #238
J'aurai plutôt fait un autre ticket plutôt que de hacker celui-là :)
Le logo du catalogue (cf admin > logo) voire le logo du groupe si l'option est activée.

[2015-04-27 16:54] fxprunayre commented on #231
Oui. J'ai pas l'erreur ni avec copier/coller ou upload et la fiche est bien mise à jour.

D'autres options choisies ? Si non, il me faudra la base pour tenter de reproduire si le pb vient pas de la fiche, c'est sans doute en lien avec ce qu'il y a dans la base.

Une petite vérification, dans la base, qu'indique START pour la séquence hibernate_sequence

[code]

et combien retourne

[code]

?

Si l

[2015-04-27 16:55] taffoureau commented on #238
Pas de pb de cache, j'ai essayé avec FFX (37.x) et Chrome (42.x) et je reproduis:
![nouvelle image](https://cloud.githubusercontent.com/assets/2026724/7352745/7cff05e2-ed0e-11e4-936d-3caf317a5cc9.png)

[2015-04-27 16:58] taffoureau opened #239 "Logo du catalogue par défaut"
Le logo du catalogue a changé ?

Voir:
![fireshot screen capture 100 - mon geosource - mon organisation - geosourcetest_brgm-rec_fr_geosource_srv_fre_catalog_search _metadata_5a4c6333-2751-425e-a003-59517d56c285](https://cloud.githubusercontent.com/assets/2026724/7352849/3eaa6402-ed0f-11e4-9aae-97696ebe8b29.png)

[2015-04-27 17:04] taffoureau commented on #231
START 4081
et
count : 3228
Je t'envoie un dump de la base par mail.

[2015-04-27 17:18] taffoureau commented on #166
C'est OK pour la proposition, c'est bien conforme à http://cnig.gouv.fr/wp-content/uploads/2015/01/MD_IR_and_ISO_20131029.pdf#page=48

Mais je ne vois pas de différence après redéploiement.

[2015-04-27 17:20] taffoureau opened #240 "Date de la spécification INSPIRE/calendrier non proposé"
Il est proposé un simple champ texte, voir:
![fireshot screen capture 101 - mon geosource - mon organisation - geosourcetest_brgm-rec_fr_geosource_srv_fre_catalog_edit _metadata_5758](https://cloud.githubusercontent.com/assets/2026724/7353240/7aaf0220-ed12-11e4-8605-6cf381759ba0.png)

[2015-04-27 17:24] fxprunayre commented on #239
Problème en 2.11 également.

[2015-04-27 17:24] fxprunayre commented on #239
A tester

[2015-04-27 17:30] fxprunayre commented on #240
Pb présent dans la version précédente sous FF uniquement a priori qui n'implémente pas le type HTML5 date.

Eg. sous chrome
![image](https://cloud.githubusercontent.com/assets/1701393/7353427/bcab4b6a-ed13-11e4-9e4b-3e32cdf362b5.png)

Version future ?

[2015-04-27 17:31] fxprunayre commented on #166
C'est à dire ? tu n'as pas
![image](https://cloud.githubusercontent.com/assets/1701393/7353450/f118c03a-ed13-11e4-9ea8-9c2189d503ac.png)

[2015-04-27 17:31] #137 closed, assigned to taffoureau

[2015-04-27 17:31] taffoureau commented on #166
Ben non...

[2015-04-27 17:37] taffoureau commented on #195
La page permet :

[code]

[2015-04-27 17:44] fxprunayre commented on #166
Tu utilises un datadir spécifique ? si oui et que les schémas sont dedans, mettre à jour les schémas.

[2015-04-27 17:46] fxprunayre commented on #195
Voir les captures d'écran https://github.com/geonetwork/core-geonetwork/pull/951

http://localhost:8080/geonetwork/srv/fre/admin.console#/dashboard

[2015-04-27 17:49] taffoureau commented on #7
1)
l'erreur 404 est persistante, je pense effectivement que c'est lié à la gestion des noeuds (mais je teste sur une instal srv classique) car l'adresse http://geosourcetest.brgm-rec.fr/geosource/5a4c6333-2751-425e-a003-59517d56c2 redirige vers http://geosourcetest.brgm-rec.fr/geosource/5a4c6333-2751-425e-a003-59517d56c2/fre/catalog.search?node=5a4c6333-2751-425e-a003-59517d56c2

2)
le bouton "met

[2015-04-27 18:00] fxprunayre commented on #231
Je reproduis avec le dump

[2015-04-27 18:08] fxprunayre commented on #7
C'est normal, on ne peut pas deviner à priori si c'est un noeud ou autre chose. Il faut que le noeud fasse parti de l'identifiant (cf. discussion précédente).

Le préfix devrait être http://geosourcetest.brgm-rec.fr/geosource/srv/metadata pour être résolvable par géosource. Donc les identifiants du type http://geosourcetest.brgm-rec.fr/geosource/srv/metadata/5a4c6333-2751-425e-a003-59517d56c2  son

[2015-04-28 06:13] fxprunayre commented on #231
GN ref https://github.com/geonetwork/core-geonetwork/issues/968

A tester.

[2015-04-28 08:35] #231 closed, assigned to taffoureau

[2015-04-28 08:46] taffoureau commented on #212
Non reproduit sur Géosource, ni sur le site de démo de titellus avec a priori le même mot-clé.

[2015-04-28 08:46] #212 closed, assigned to taffoureau

[2015-04-28 08:47] atellezarenas commented on #197
Testé sur la base de données 1GG. Performances OK. Recherche fonctionne. Affichage aussi. Fonctionne très bien lorsque l'on créé un nouveau point de moissonnage, la liste est bien remise à jour. C'est ok pour moi.

[2015-04-28 08:49] #197 closed, assigned to taffoureau

[2015-04-28 08:53] atellezarenas commented on #196
Test de la fonctionnalité sur BD 1GG (liste longue).
- performances OK
- je ne vois pas par quoi les lignes sont triées? Cela devrait être triées, par ordre alphabétique ou par "dernier lancement".
- le bouton "export CSV" ne fonctionne pas (comme dit précédemment, "undefined").
  => Sachant que cet export ne me semble pas "bloquant" si ça ne marche pas. Je préfèrerais avoir le choix sur les tris

[2015-04-28 09:10] atellezarenas opened #241 "Pb affichage "paramètres" dans la console d'admin"
Dans la console d'admin, affichage des paramètres (http://(...)/geonetwork/srv/fre/admin.console#/settings), s'affichent des champs avant le formulaire "normal". De plus; le petit menu à droite à presque disparu. Il est possible que ce soit un pb venant de la BD, qui a été migrée en suivant les différents scripts. Pour reproduire, utiliser le dump que j'envoye par mail.

![pbparamgeo3](https://clo

[2015-04-28 09:13] fxprunayre commented on #241
Hum, que retourne http://localhost:8080/geosource/srv/fre/admin.config.list?asTree=false ?

[2015-04-28 09:16] atellezarenas commented on #241
&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;settings&gt;
  &lt;setting name=&quot;abstract&quot; position=&quot;1280&quot; datatype=&quot;null&quot; internal=&quot;true&quot; /&gt;
  &lt;setting name=&quot;accessConstraints&quot; position=&quot;1300&quot; datatype=&quot;null&quot; internal=&quot;true&quot; /&gt;
  &lt;setting name=&quot;address&quot; position=&quot;1610&qu

[2015-04-28 09:36] atellezarenas commented on #241
Ca correspond principalement à
select \* from settings where datatype is null

Manquerait-il qlqchose dans WEB-INF/classes/setup/sql/migrate/v2110/2-miograte-default.sql ??
A noter qu'il y a toujours une erreur dedans; (false au lieu de 'false').

INSERT INTO Settings (name, value, datatype, position, internal) VALUES ('system/feedback/mailServer/ssl', false, 2, 641, 'y');

[2015-04-28 10:44] fxprunayre commented on #241
Ok, ca devrait ressembler à ça

[code]

Donc c'est un problème de migration de la table settings.

Je proposerai bien un TRUNCATE Settings
et réinjecter les valeurs par défaut https://github.com/geonetwork/core-geonetwork/blob/develop/web/src/main/webapp/WEB-INF/classes/setup/sql/data/data-db-default.sql#L554 ?

[2015-04-28 11:26] atellezarenas commented on #241
OK, ça fonctionne bien. Vous allez corriger le script de migration (pour ma future re-migration, savoir si je pourrai l'utiliser ou si je referai la manip)? Merci!

[2015-04-28 11:38] fxprunayre commented on #241
Je crois pas tu as une base entre-deux. Donc c'est un peu galère - ca me semble plus simple de faire un reset des settings non ?

[2015-04-28 11:40] atellezarenas commented on #241
Oui ok pas de soucis, c'est juste pour savoir. J'ai noté la manip donc pas de pb. Je ferme le ticket.

[2015-04-28 11:40] #241 closed, assigned to nobody

[2015-04-28 13:42] taffoureau commented on #195
C'est OK pour moi.

Juste une question: à quoi sert la liste déroulante dans la page "paramètres" qui contient les valeurs production, développement, intégration ?
![niv_logs](https://cloud.githubusercontent.com/assets/2026724/7370846/1f4b4e06-edbd-11e4-9aee-cbe12ed9860c.png)

[2015-04-28 13:45] taffoureau commented on #196
le bouton "export CSV" ne fonctionne pas (comme dit précédemment, "undefined") => @fxprunayre, @bmaire avez-vous reproduit cette anomalie ?

[2015-04-28 13:47] taffoureau commented on #166
OK après redéploiement ce matin

[2015-04-28 13:47] #166 closed, assigned to taffoureau

[2015-04-28 13:49] fxprunayre commented on #195
Si en dev, il ne va pas utiliser certain cache dans l'application (eg. pour les formatters, les translators).

[2015-04-28 13:51] #195 closed, assigned to nobody

[2015-04-28 13:51] #239 closed, assigned to taffoureau

[2015-04-28 14:43] taffoureau commented on #196
le "undefined" apparaît sous FFX.

Sous Chrome on a ça:
![harvest_report](https://cloud.githubusercontent.com/assets/2026724/7372170/a3e6d60a-edc5-11e4-80a9-10720b363220.png)

[2015-04-28 14:50] taffoureau commented on #7
Je suis favorable, lorsqu'aucun préfixe n'est défini, à contruire l'identifiant de cette manière:
http://[host]/geosource/srv/fre/xml.metadata.get?uuid=BR_BSS_BAA
En effet, il faut que l'URL renvoie vers la fiche XML...

[2015-04-28 15:09] ghost commented on #238
Je pense que l’erreur vient de là :
https://github.com/geonetwork/core-geonetwork/blob/9da87b82c04874ef3846cf1822ca6af073b71d40/web-ui/src/main/resources/catalog/tmp/metadata.css#L5050

Il faudrait rajouter également un
text-align:left

[2015-04-28 15:11] taffoureau commented on #238
OK, pas critique car les formats sont généralement courts.

[2015-04-28 15:13] #237 closed, assigned to UlrichBrgm

[2015-04-28 15:15] #233 closed, assigned to fxprunayre

[2015-04-28 15:19] fxprunayre commented on #224
Semble ok en prod mongeosource http://www.mongeosource.fr/geosource/1045/fre/q?fast&from=1&to=20&any=BRGM/88-SGN-369-EEE%20l%27EAU retourne la fiche

[2015-04-28 15:19] #224 closed, assigned to UlrichBrgm

[2015-04-28 15:21] #205 closed, assigned to taffoureau

[2015-04-28 15:36] fxprunayre opened #242 "Moissonnage / libellé"
- Manque un espace
- every

[2015-04-28 16:16] fxprunayre commented on #242
A tester.

[2015-04-28 16:19] fxprunayre commented on #7
Libellé ajouté pour le bouton.

[2015-04-28 16:25] fxprunayre commented on #238
J'avais bien committé un truc https://github.com/geonetwork/core-geonetwork/commit/b5fce309c96d7b0400e45bb277179e0460c6afc3 pour ça, à voir pourquoi ce n'est pas suffisant

[2015-04-28 16:39] fxprunayre commented on #7
Je propose quelque chose d'un peu différent :
- le "préfixe" par défaut serait http://localhost:8080/geonetwork/metadata/srv/{{uuid}}
- {{uuid}} sera remplacé par l'identifiant de la fiche
- ca permet de construire un peu n'importe quelle URL (pas uniquement avec un préfix)
- si pas de {{uuid}} alors le UUID est ajouté après le préfixe

L'URL devient http://localhost:8080/geonetwork/metadata/srv/c

[2015-04-29 09:54] fxprunayre commented on #7
Au GrandLyon, il y aurait le besoin d'ajouter une option pour supprimer le code existant et le remplacer par le nouveau.

[2015-04-29 13:07] taffoureau commented on #7
OK pour moi pour cette proposition.

[2015-04-29 13:27] ghost commented on #196
Corrigé sous firefox eee6fc096fe5685b804679023964dbf2f35da0b6

[2015-04-29 14:00] fxprunayre commented on #7
A tester.

[2015-04-29 16:09] taffoureau commented on #242
De mon côté, pas de différence après redéploiement (à l'instant) et vidage du cache...

[2015-04-29 16:24] ghost commented on #242
Pour moi c'est bon, mais j'ai un double espace
![image](https://cloud.githubusercontent.com/assets/6907261/7395827/e5e5ebd6-ee9c-11e4-9124-d090eb91a7f8.png)

[2015-04-29 16:27] fxprunayre commented on #242
Ici aussi
![image](https://cloud.githubusercontent.com/assets/1701393/7395878/5c1a3488-ee9d-11e4-9d8d-569a5b03388f.png)

je viens de re-télécharger l'installer  http://file.titellus.net/geosource/3.0.x/geosource-install-3.0.0-0.jar

[2015-04-30 08:23] #196 closed, assigned to taffoureau

[2015-04-30 08:38] taffoureau commented on #7
OK, mais il manque le [...].xml dans la valeur par défaut... Du coup, l'identifiant n'est résolvable vers rien...

[2015-04-30 09:01] fxprunayre commented on #7
Fait https://github.com/geosource-catalogue/core-geonetwork/commit/699e3cb8a9a391c96145e0bca2070e93c062420d même si je suis pas favorable (ni Isabelle). Dans l'absolu, on devrait utiliser les Header des requêtes pour retourner le format supporté par celui qui fait la demande. Du coup une même URL pourrait retourner le HTML si le client ne supporte que le HTML, idem pour XML, JSON, RDF, ...

[2015-04-30 09:38] fxprunayre commented on #242
Double espace à corriger en 3.0.1

[2015-04-30 09:39] #7 closed, assigned to taffoureau

[2015-05-21 09:48] bchartier commented on #210
Le word-wrap fait que l'onglet prend la largeur définie par max-width.
Pour éviter cela, une solution de contournement serait que le texte de l'onglet soit un truc du genre :

[code]

Pas facile à gérer dans le contexte d'une appli multilingue, à moins que les caractères de retour chariot soient directement insérés à la source des libellés...

[2015-05-22 12:01] fxprunayre commented on #222
Le formattage des nombres se faisait sans 0 pour la partie entière (eg. ,5 au lieu de 0,5) ce qui était à l'origine de l'erreur.

Cf. https://github.com/geosource-catalogue/core-geonetwork/blob/develop/web/src/main/webapp/WEB-INF/data/config/schema_plugins/iso19139/layout/utility-tpl.xsl#L12

[2015-05-26 11:22] fxprunayre commented on #223
Cf. https://github.com/geosource-catalogue/core-geonetwork/commit/4d2b28328e427c7a6bca0e8380237d78aa203d67

[2015-05-28 09:17] #222 closed, assigned to nobody

[2015-05-28 09:24] taffoureau commented on #223
Testé sous Windows 7.

OK sous Chrome.

Par contre, sous Firefox rien ne s'affiche. Pourtant d'après Firebug le traitement à l'air de bien se faire (cf. copie d'écran).

[2015-05-28 09:25] taffoureau commented on #223
![nouvelle image 5](https://cloud.githubusercontent.com/assets/2026724/7856823/485984ee-052c-11e5-9f88-274940de077e.png)

[2015-05-28 15:19] fxprunayre commented on #223
Fixed

[2015-05-28 15:19] #223 closed, assigned to fxprunayre

[2015-05-30 21:38] fxprunayre commented on #225
- Branche mise à jour : https://github.com/geosource-catalogue/core-geonetwork/tree/mongeosource
- Migration DB : https://github.com/geosource-catalogue/core-geonetwork/tree/mongeosource/web/src/main/webapp/WEB-INF/classes/setup/sql-geosource/migrate/v300
- Création d'une page d'instruction dans la doc : http://docs.titellus.net/geonetwork/fr/maintainer-guide/installing/using-multinode-mode.html à

[2015-07-08 08:27] taffoureau opened #243 "[Mon Géosource] Problème de redirection"
Nous constatons un problème de redirection sur Mon Géosource:

http://www.mongeosource.fr/geosource/1197/ renvoie la première fois vers http://www.mongeosource.fr/geosource/login.jsp;jsessionid=1482181E9927C424F8A61A79F32855D9?node=1197

Alors que si on recharge l'adresse de départ la deuxième fois cela fonctionne.

[2015-07-08 13:18] taffoureau opened #244 "Liens vers des catalogues d'attributs uniquement en base"
Sur un des comptes Mon Géosource certaines fiches de données ont des liens vers des catalogues d'attributs, mais ces liens sont stockés uniquement dans la table relations en base de données. Par contre, il n'y a pas d'élément "MD_FeatureCatalogueDescription" dans la fiche de données, ce qui fait en consultation que le lien est visible  mais pas en édition. De plus en consultation il n'est pas poss

[2015-07-08 14:24] taffoureau opened #245 "[Géosource multi] Problème de moissonnage OAIPMH (SIGES)"
Testé sur la recette Géosource multisites en version 3.
-   J’ai cliqué sur « Supprimer fiches » pour supprimer les 844 fiches existantes
-   J’ai lancé un nouveau moissonnage et 1671 fiches ont été trouvées (d’après l’affichage sur l’interface en haut [cf. cercles rouges] mais pas en bas [cf. cercle jaune]) :

![img](https://cloud.githubusercontent.com/assets/2026724/8572575/a0e3b1c6-258d-11e5-96

[2015-07-15 12:18] fxprunayre commented on #244
- Pas de mécanisme de migration automatique
  - Mettre en place un processus en batch XSL accessible depuis l'admin qui pour toutes les fiches ISO19139
  - récupère les identifiants (id interne + uuid) des fiches associées dans la table relation
  - vérifie que la fiche cible est bien en ISO19110
  - ajoute autant de MD_FeatureCatalogueDescription à la fiche ISO19139 que de fiches associées
  - (v

[2015-07-15 12:28] fxprunayre commented on #207
- Pour info, la doc en version anglaise progresse (essentiellement user-guide). Une option peut être de la traduire (http://geonetwork-opensource.org/manuals/trunk/eng/users/user-guide/quick-start/index.html, http://geonetwork-opensource.org/manuals/trunk/eng/users/user-guide/describing-information/index.html).
- partie installation (http://geonetwork-opensource.org/manuals/trunk/eng/users/maintai

[2015-07-15 12:58] fxprunayre commented on #242
Fait dans GeoNetwork https://github.com/geonetwork/core-geonetwork/commit/a0f3a7e55ba83ab7bf2f02118934a1a5eb161906.

Ce sera dispo en 3.0.2.

[2015-07-16 13:59] Claire1000 opened #246 "détecter les modèles existants avant import"
actuellement on peut importer des modèles de fiches déjà existants ce qui génère des doublons.
évolution : détecter les modèles existants avant import

[2015-07-16 14:05] fxprunayre commented on #246
A l'origine, les modèles n'ont pas d'uuid (eg. https://github.com/geonetwork/core-geonetwork/blob/develop/schemas/iso19139/src/main/plugin/iso19139/templates/vector.xml#L9) et à l'import, on ne peut pas vérifier s'il existe ou pas (c'était volontaire je pense).

Après nous pourrions appliquer la même règle que pour les fiches.

[2015-07-20 13:39] Claire1000 opened #247 "perte du node après déconnexion"
lorsqu'on se déconnecte de son compte, l'adresse du noeud est perdue.
par ex. :
- je me logue à l'adresse : http://geosourcemulti-mg.brgm-rec.fr/geosource/1211/fre/find?node=1211
- je clique sur déconnexion
- je suis renvoyée à l'adresse : http://geosourcemulti-mg.brgm-rec.fr/geosource/srv/fre/catalog.search?node=srv#/home

[2015-07-20 13:58] Claire1000 opened #248 "recherche non fonctionnelle compte 1048"
la recherche ne fonctionne pas sur le compte : http://geosourcemulti-mg.brgm-rec.fr/geosource/1048/fre/find?node=1048

[2015-07-20 14:21] Claire1000 opened #249 "suggestions de l'index sensibles aux accents"
les suggestions du champ de recherche simple sont sensibles aux accents.
par ex. :
- je tape "reseau" > on me suggère : "reseau" et "reseau"
- je tape "réseau" > on me suggère : "Inspections télévisées pour réseaux d'assainissement" et "Rapports d'inspection télévisée réseaux d'assainissement sur l'agglomération de Chambéry métropole"

[2015-07-20 14:24] fxprunayre commented on #249
Doublon https://github.com/geosource-catalogue/core-geonetwork/issues/236

Je ferme.